/**
 * Estilos aplicáveis aos formulários
 */

.botao {
	border: solid 1px #000000;
 	font-family: verdana;
 	font-size: 10px;
}

.fieldWithFocus {
	border: solid 1px #004400;
	margin-right: 2px;
 	background-color: #F3F9F3;
 	font-family: verdana;
 	color: #005500;
 	font-size: 10px;
}

.fieldWithoutFocus {
	border: solid 1px #000000;
	margin-right: 2px;
	background-color: #FFFFFF;
 	color: #000000;
 	font-family: verdana;
 	font-size: 10px;
}

form input.checkbox {
	border: 0px;
}

/**
form option {
	color: #FF0000;
}
*/
