/**
 * Estilos aplicáveis aos formulários
 */

.botao {
	border: solid 1px #000000;
 	font-family: verdana;
 	font-size: 10px;
}


.fieldWithFocus {
	border: solid 1px #D1DDEF;
	margin-right: 2px;
 	background-color: #E0E8EF;
 	font-family: verdana;
 	color: #6B7D9C;
 	font-size: 10px;
}

.fieldWithoutFocus {
	border: solid 1px #000000;
	margin-right: 2px;
	background-color: #FFFFFF;
 	color: #000000;
 	font-family: verdana;
 	font-size: 10px;
}

.fieldDisabled {
	margin-right: 5px;
 	font-family: verdana;
 	font-size: 10px;
}



form input.checkbox {
	border: 0px;
}


/**
 * Campos desabilitados dos formulários
 */
.disabledFP {
	border: solid 1px #DADADA;
	margin-right: 2px;
	background-color: #FFFFFF;
 	color: #000000;
 	font-family: verdana;
 	font-size: 8px;
}


/**
form option {
	color: #FF0000;
}
*/


#conteiner_contas, #conteiner_paga {
	width: 430px;
	margin: auto;
	padding: 0px;
}

.register_box {
	width:500px; 
	margin: auto; 
	padding: 0px;
	/*background-color: #E6ECE9;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.register_header {
	font-size: 14px;
	text-align: center;
}

.codtable{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	
}

.hintcod {
	font-size: 9px;
}

.cellLabel {
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
}

.cellInfo {
	padding-right: 10px;
	padding-left: 10px;
	text-align: left;
}

.cellTitle{
	color: #006600;
	background-color: #E6ECE9;
}

.cellModL {
	padding-right: 10px;
	padding-left: 10px;
	text-align: left;
}

.cellModI{
	text-align: center;
	width: 16px;
}

.cellBtn {
	text-align: right;
}

.erro {
        width: 400px;
        font-family: verdana;
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #FFeeee;
        color: #FF0000;
        border: solid 1px #ff0000;
}


