<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
{literal}
<style>
	*{
		font-family: Tahoma, Arial, Verdana;
		font-size:12px;
	}
	a:link{
				color: #6E7D9A;
				text-decoration:none;
		}
		a:visited{
				color: #6E7D9A;
				text-decoration:none;
		}
		a:hover{
				color: #DEE4F3;
				text-decoration:none;
		}
		a:active{
				color: #6E7D9A;
				text-decoration:none;
	}



</style>
{/literal}
<title>Contrato</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!--<link href="view/templates/usuario/estilos1.css" rel="stylesheet" type="text/css">//-->
</head>
<body>
<table align="center">
	<tr>
		<td align="left">
			{if $contrato_detalhado.aceito == 'f' || !$contrato_detalhado.aceito}

			<form method="post" action="index.php">
			<input type="hidden" name="op" value="{$op}">
			<input type="hidden" name="id_cliente_produto" value="{$id_cliente_produto}">
			<input type="hidden" name="aceito" value="t">

			<div style="background: #FaDaDa; border: solid 1px #FF0000; color: FF0000; padding: 5px; width: 570px;">
			<center><b>Atenção</b></center>
			<p>
			Para continuar utilizando os serviços do provedor é necessário aceitar o contrato. Se você leu o contrato e concorda com os termos clique no botão abaixo:<br><br>
			<center><input type="submit" value="Li o contrato e concordo com os termos" class="botao"></center>
			</p>
			</div>
			</form>
			<br><br>
			{/if}


			<div style="width:570px;" align="left">

				{$contrato_cliente}

			</div>

			<p id="imprimir" align="center" style="text-align:center;"><strong><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><table><tr><td><a href="javascript:window.print()"><img src="view/templates/imagens/print.gif" border="0"></a></td><td><a href="javascript:window.print()">clique para imprimir</a></td></tr></table></font></strong></p>
			&nbsp;

		</td>
	</tr>
</table>
</body>
</html>
