{literal}
	<style>

	*{
		font-family:tahoma, arial, verdana;
		font-size:10px;
	}
	strong{
		color:#6E7D9A;
		font-size:13px;
	}
	a:link{
			color: #6E7D9A;
			text-decoration:none;
			font-size:10px;
			font-family:Tahoma, Verdana ;
	}
	a:visited{
			color: #6E7D9A;
			text-decoration:none;
	}
	a:hover{
			color: #000000;
			text-decoration:underline;
	}
	a:active{
			color: #6E7D9A;
			text-decoration:none;
	}
	</style>
{/literal}
<table align="center" width="400">
	<tr>
		<td><strong>Contratos</strong></td>
	</tr>
	{foreach name=contratos item=r from=$contratos}
		<tr>
			<td width="380" style="border-bottom:1px solid #e3e5ea;"><a href="?op=contrato_detalhe&id_cliente_produto={$r.id_cliente_produto}"><strong>#{$r.id_cliente_produto}</strong> | {$r.nome_produto} - {if $r.tipo_produto=="BL"}Banda Larga{elseif $r.tipo_produto=="D"}Discado{elseif $r.tipo_produto=="H"}Hospedagem{/if}</a></td>
			<td style="border-bottom:1px solid #e3e5ea;"><a href="?op=contrato_detalhe&id_cliente_produto={$r.id_cliente_produto}"><img src="view/templates/imagens/icone_contrato.gif" alt="Ver Contrato" title="Ver Contrato" border="0" /></a></td>
		</tr>
	{/foreach}
</table>
{include file="footer.html"}
