<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Contrato Banda-Larga</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="estilos1.css" rel="stylesheet" type="text/css">
</head>
<body> <h1 align="CENTER"><img src="template/default/images/LOGO_PROVEDOR.gif" width="200" height="151"></h1><h1 align="CENTER"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">MINUTA
DE CONTRATO DE PRESTA&Ccedil;&Atilde;O DE SERVI&Ccedil;O<br>
DE ACESSO &Agrave; INTERNET VIA TCP/IP</font></h1>
<p align="JUSTIFY"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>
  <strong>Contratante:</strong> {$cli.nome_razao} CPF: {$cli.cpf_cnpj} sede na
  {$cli.endereco} Fone: {$cli.fone_residencial} {$cli.cidade} - {$cli.estado}
  doravante simplesmente denominada CONTRATANTE.<br>
  <br>
  <strong>Contratada:</strong> {$nome_provedor}, inscrita no CNPJ sob o n&ordm;
  {$cnpj_provedor}, com sede em {$localidade}, doravante simplesmente denominada
  CONTRATADA.</font></p>
<p align="JUSTIFY"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>
  <strong>1 &#8211; OBJETO:</strong> O presente instrumento abrange os servi&ccedil;os
  abaixo relacionados:<br>
  <strong>1.1</strong> &#8211; Servi&ccedil;o de conectividade IP - Internet Protocol,
  que suporta aplica&ccedil;&otilde;es TCP/IP - Transmission Control Protocol
  / Internet Protocol e prov&ecirc; o acesso &agrave; rede Internet mundial:<br>
  <strong>1.1.1</strong> - Acesso ao Servi&ccedil;o de leitura de WWW (World Wide
  Web).<br>
  <strong>1.1.2</strong> - Acesso ao Servi&ccedil;o de FTP (File Transfer Protocol),
  apenas para recupera&ccedil;&atilde;o de arquivos.<br>
  <strong>1.1.3</strong> - Acesso ao servi&ccedil;o de e-mail no padr&atilde;o
  SMTP/POP3.<br>
  <strong>1.1.4</strong> - Suporte para configura&ccedil;&atilde;o de DNS.<br>
  <strong>1.1.5</strong> - Esclarecimento de d&uacute;vidas relacionadas ao acesso
  &agrave; Internet.</font></p>
<p align="JUSTIFY"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>
  <strong>2</strong> &#8211; <strong>CARACTER&Iacute;STICAS DO ACESSO:</strong>
  O servi&ccedil;o de acesso Internet Protocol &eacute; do tipo enlace r&aacute;dio,
  no protocolo TCP/IP, e dispon&iacute;vel 24 horas por dia, durante os sete dias
  da semana, exceto naqueles em que houver manuten&ccedil;&atilde;o necess&aacute;ria
  em qualquer instala&ccedil;&atilde;o envolvida no processo.</font></p>
<p align="JUSTIFY"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>
  <strong>3</strong>. <strong>CONDI&Ccedil;&Otilde;ES DE USO DO ACESSO:</strong>
  O acesso ora contratado &eacute; para uso privativo e exclusivo da Contratante
  e destina-se t&atilde;o somente a interliga&ccedil;&atilde;o de suas depend&ecirc;ncias
  a um ponto de termina&ccedil;&atilde;o digital da Contratada.<br>
  <strong>3.1</strong> &#8211; &Eacute; expressamente proibida a cess&atilde;o
  ou a subloca&ccedil;&atilde;o do acesso a terceiros, no todo ou em parte, a
  t&iacute;tulo gratuito ou oneroso.<br>
  <strong>3.2</strong> &#8211; O uso compartilhado do acesso n&atilde;o &eacute;
  admitido, exceto para comunica&ccedil;&otilde;es de natureza operacional ou
  corporativa entre pessoa jur&iacute;dica controladora e suas controladas ou
  coligadas, como definidas na Lei 6.404 (Lei das Sociedades por A&ccedil;&otilde;es),
  localizadas no mesmo endere&ccedil;o da Contratante.</font></p>
<p align="JUSTIFY"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>
  <strong>4</strong> &#8211; <strong>PRE&Ccedil;OS / TARIFAS:</strong> Pelos servi&ccedil;os
  objeto do presente contrato, a Contratante pagar&aacute; o que segue:<br>
  <strong>4.1</strong> &#8211; O valor mensal de R$ {$valor_contrato} ({$valor_extenso}),
  sempre com vencimento no dia 15 para uma banda de {$download_kbps} Kbps.( Garantido
  40% dessa banda contratada).</font></p>
<p align="JUSTIFY"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>
  <strong>5 &#8211; FORMA DE PAGAMENTO:</strong> Os valores fixados na cl&aacute;usula
  anterior ser&atilde;o cobrados por {$forma_pagamento}. </font></p>
<p align="JUSTIFY"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>
  <strong>6 &#8211; VIG&Ecirc;NCIA e PRAZO</strong>: Este contrato entra em vigor
  na data da ativa&ccedil;&atilde;o do acesso, que consta no Anexo A - Boletim
  de Ativa&ccedil;&atilde;o, e o prazo de contrata&ccedil;&atilde;o &eacute; de
  24 (Vinte e Quatro) meses, renovando-se automaticamente por per&iacute;odo indeterminado,
  caso n&atilde;o exista pronunciamento em contr&aacute;rio de nenhuma das partes.
  </font></p>
<p align="JUSTIFY"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><strong>7</strong>
  &#8211;<strong> EXTIN&Ccedil;&Atilde;O CONTRATUAL</strong>: O presente contrato
  pode ser extinto:<br>
  <strong>7.1</strong> - Por distrato, decorrente do interesse de ambas as partes;<br>
  <strong>7.2</strong> - Por rescis&atilde;o promovida pela Contratada, quando
  caracterizada infra&ccedil;&atilde;o contratual ou uso indevido do acesso;</font></p>
<p align="JUSTIFY"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>
  <strong>8</strong> &#8211; <strong>REAJUSTE E ALTERA&Ccedil;&Atilde;O DE PRE&Ccedil;OS
  E TARIFAS:</strong><br>
  <strong>8.1</strong> - Os valores especificados no item pre&ccedil;os e tarifas
  deste contrato ser&atilde;o reajustados ap&oacute;s 12 (doze) meses decorridos
  da data de assinatura do contrato, ou da data de seu &uacute;ltimo reajuste.<br>
  <strong>8.1.2</strong> - Se proceder&aacute; o reajuste pela aplica&ccedil;&atilde;o
  da varia&ccedil;&atilde;o do IGP-M, da Funda&ccedil;&atilde;o Get&uacute;lio
  Vargas, acumulada no per&iacute;odo transcorrido do in&iacute;cio da vig&ecirc;ncia
  ou do &uacute;ltimo reajuste.<br>
  <strong>8.2</strong> - Os valores deste contrato poder&atilde;o ser alterados
  a qualquer tempo, apenas nos seguintes casos:<br>
  a. No surgimento de novos impostos ou tarifas p&uacute;blicas, incidentes sobre
  estes servi&ccedil;os.<br>
  b. Nos aumentos inesperados e desproporcionais dos custos necess&aacute;rios
  &agrave; presta&ccedil;&atilde;o dos servi&ccedil;os objeto do presente instrumento.<br>
  c. Quando houver incremento na velocidade do link da Contratante, conforme a
  Cl&aacute;usula 4.<br>
  d. Em fun&ccedil;&atilde;o das inova&ccedil;&otilde;es tecnol&oacute;gicas poder&aacute;
  a Contratada, a seu crit&eacute;rio, oferecer descontos nos valores das mensalidades,
  caso consiga oferecer o servi&ccedil;o objeto deste Contrato a um custo inferior,
  e nos mesmos crit&eacute;rios de qualidade previstos.</font></p>
<p align="JUSTIFY"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>
  <strong>9 &#8211; RESPONSABILIDADES:</strong><br>
  <strong>9.1</strong> - A Contratada n&atilde;o assume qualquer responsabilidade
  pela atua&ccedil;&atilde;o e pelas a&ccedil;&otilde;es da Contratante perante
  outros usu&aacute;rios da rede Internet Comercial, bem como por eventuais descumprimentos
  das regras operacionais e &eacute;ticas de utiliza&ccedil;&atilde;o da Internet
  Comercial. Assim como se isenta de toda e qualquer responsabilidade pelo conte&uacute;do
  dos dados nos diversos arquivos da Contratante.<br>
  <strong>9.2</strong> &#8211; A Contratante desde j&aacute; assume toda e qualquer
  responsabilidade por quaisquer infra&ccedil;&otilde;es &agrave;s leis de propriedade
  intelectual, bem como difama&ccedil;&atilde;o, cal&uacute;nia e/ou por qualquer
  outro ato ou omiss&atilde;o da Contratante ou de seus usu&aacute;rios, praticados
  atrav&eacute;s do Servi&ccedil;o prestado pela Contratada, que resultem em preju&iacute;zos
  a terceiros; e fica expressamente estabelecido que &eacute; motivo para extin&ccedil;&atilde;o
  imediata do presente Contrato qualquer conte&uacute;do il&iacute;cito e/ou ilegal,
  tais como: preconceitos sociais e raciais, pornografia, com&eacute;rcio ilegal,
  distribui&ccedil;&atilde;o ou divulga&ccedil;&atilde;o sem direitos autorais,
  entre outros. <br>
  <strong>9.3</strong> &#8211; A Contratante &eacute; exclusivamente respons&aacute;vel
  pela preserva&ccedil;&atilde;o de seus dados e de seus usu&aacute;rios, bem
  como pela prote&ccedil;&atilde;o de sua rede e observ&acirc;ncia da pol&iacute;tica
  de usos aceit&aacute;veis de todas as redes que poder&aacute; acessar usando
  o Servi&ccedil;o ora contratado, sendo inteiramente respons&aacute;vel por qualquer
  viola&ccedil;&atilde;o originada de sua rede, quer causadas &agrave; Contratada
  ou a terceiros.<br>
  <strong>9.4</strong> &#8211; A responsabilidade da Contratada se limita a ativar
  e manter o servi&ccedil;o de acordo com as especifica&ccedil;&otilde;es t&eacute;cnicas
  recomendadas pelos fabricantes dos equipamentos, n&atilde;o garantindo resultado
  algum pelos usos e/ou aplica&ccedil;&otilde;es espec&iacute;ficos que a Contratante
  venha a realizar, e n&atilde;o garantindo tamb&eacute;m o funcionamento dos
  equipamentos da Contratante. Tampouco ser&aacute; a Contratada respons&aacute;vel
  pela efic&aacute;cia desses equipamentos, usos e/ou aplica&ccedil;&otilde;es
  espec&iacute;ficas que a Contratante venha a realizar.<br>
  <strong>9.4.1</strong> &#8211; Caso os equipamentos da Contratada apresentem
  defeitos ou v&iacute;cios, a responsabilidade da Contratada estar&aacute; limitada
  a sua repara&ccedil;&atilde;o ou reposi&ccedil;&atilde;o conforme a necessidade.<br>
  <strong>9.5</strong> &#8211; A responsabilidade da Contratada perante a Contratante
  limitar-se-&aacute; aos danos que a Contratada venha a causar, em decorr&ecirc;ncia
  da presta&ccedil;&atilde;o de servi&ccedil;os de ativa&ccedil;&atilde;o, configura&ccedil;&atilde;o
  e suporte t&eacute;cnico, objetos deste instrumento.<br>
  <strong>9.5.1</strong> &#8211; Em nenhum caso, a Contratada ser&aacute; respons&aacute;vel
  por outros danos ou preju&iacute;zos que a Contratante e/ou terceiros possam
  sofrer, pela indisponibilidade de acesso ou caso fortuito, incluindo lucros
  cessantes, perda de valores ou de dados; salvo se tais danos tiverem sido ocasionados
  por dolo da Contratada.</font></p>
<p align="JUSTIFY"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><strong>10
  &#8211; DISPOSI&Ccedil;&Otilde;ES GERAIS:</strong><br>
  <strong>10.1</strong> - A Contratada poder&aacute; proceder ao desligamento
  das conex&otilde;es que possam causar danos &agrave; rede p&uacute;blica ou
  a terceiros, ou suspender a presta&ccedil;&atilde;o do servi&ccedil;o de acesso
  cuja utiliza&ccedil;&atilde;o caracterize descumprimento das condi&ccedil;&otilde;es
  contratuais estabelecidas entre as partes, independentemente de qualquer procedimento
  judicial e sem preju&iacute;zo da cobran&ccedil;a dos valores acordados.<br>
  <strong>10.2</strong> - Os entendimentos mantidos pelas partes dever&atilde;o
  ser sempre por escrito, ressalvados os casos determinados pela urg&ecirc;ncia,
  cujos entendimentos verbais dever&atilde;o ser confirmados posteriormente, por
  escrito, dentro das 72 (setenta e duas) horas seguintes.<br>
  <strong>10.3 </strong>- Fica expresso e irrevogavelmente estabelecido que a
  absten&ccedil;&atilde;o do exerc&iacute;cio, por quaisquer das partes, de direito
  ou faculdade que lhe assistem pelo presente Contrato, ou a concord&acirc;ncia
  com o atraso no cumprimento das obriga&ccedil;&otilde;es da outra parte, n&atilde;o
  afetar&aacute; aqueles direitos ou faculdades, que poder&atilde;o ser exercidos
  a qualquer tempo a seu exclusivo crit&eacute;rio, e nem alterar&aacute; as condi&ccedil;&otilde;es
  estipuladas neste Contrato.<br>
  <strong>10.4 </strong>&#8211; Fica proibido quaisquer outras aplica&ccedil;&otilde;es
  que utilizem a Internet, atrav&eacute;s de qualquer porta IP, o acesso ou uso
  de equipamentos da Contratada em qualquer uma de suas repetidoras, para quaisquer
  objetivos alheios ao objeto deste contrato, sem a expressa autoriza&ccedil;&atilde;o
  da Contratada, sob forma de adendo contratual.<br>
  <strong>10.5</strong> &#8211; A Contratante compromete-se a n&atilde;o utilizar
  o Servi&ccedil;o fornecido de maneira fraudulenta ou ilegal, nem colaborar&aacute;
  para o que terceiros o fa&ccedil;am, tomando todas as medidas necess&aacute;rias
  para evitar a ocorr&ecirc;ncia de tais fatos. Para os fins desta Cl&aacute;usula,
  considera-se utiliza&ccedil;&atilde;o fraudulenta, mas n&atilde;o se limitando
  a estes, os seguintes atos:<br>
  a. Obter ou tentar obter a presta&ccedil;&atilde;o do Servi&ccedil;o atrav&eacute;s
  de quaisquer meios ou equipamentos que visem evitar ou reduzir os pagamentos
  mensais devidos pelo Contratante &agrave; Contratada;<br>
  b. Acessar, alterar ou destruir quaisquer informa&ccedil;&otilde;es de outro
  cliente da Contratada atrav&eacute;s de qualquer meio ou equipamento, bem como
  a tentativa comprovada de praticar tais atos;<br>
  c. Interferir na presta&ccedil;&atilde;o de servi&ccedil;os pela Contratada
  a seus outros clientes;<br>
  d. Utilizar ou permitir a utiliza&ccedil;&atilde;o de meios e equipamentos que
  violem as leis vigentes ou colaborem para a consecu&ccedil;&atilde;o de quaisquer
  atos considerados ilegais.<br>
  e. Enviar grupos de mensagens eletr&ocirc;nicas (mala direta via e-mail) para
  assinantes da Contratada e de quaisquer outros provedores, com qualquer tipo
  de conte&uacute;do, sem a expressa autoriza&ccedil;&atilde;o dos destinat&aacute;rios.<br>
  <strong>10.6</strong> &#8211; Havendo o descumprimento de qualquer uma das Cl&aacute;usulas
  10.4 ou 10.5, a Contratante fica sujeita a uma multa de 5 (cinco) vezes o valor
  mensal do acesso, al&eacute;m das medidas legais cab&iacute;veis.<br>
  <strong>10.7</strong> &#8211; O presente contrato n&atilde;o poder&aacute; ser
  cedido ou transferido, no todo ou em parte, sem a autoriza&ccedil;&atilde;o
  expressa da Contratada, sendo nula e ineficaz toda a cess&atilde;o e transfer&ecirc;ncia
  ocorrida sem este consentimento.<br>
  <strong>10.8</strong> &#8211; A periodicidade de utiliza&ccedil;&atilde;o dos
  servi&ccedil;os ora contratados ficam totalmente a crit&eacute;rio do Contratante,
  e o seu uso espor&aacute;dico, ou mesmo a n&atilde;o utiliza&ccedil;&atilde;o
  destes servi&ccedil;os, n&atilde;o acarretar&atilde;o descontos ou isen&ccedil;&atilde;o
  do pagamento das mensalidades.</font></p>
<p align="JUSTIFY"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>
  <strong>11 &#8211; FORO:</strong> As partes de comum acordo elegem o Foro de
  {$localidade} para resolu&ccedil;&atilde;o de todo e qualquer problema surgido
  em rela&ccedil;&atilde;o a este documento.</font></p>
<p align="JUSTIFY"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>
  E, por assim estarem justos e contratados, assinam as partes o presente instrumento
  em duas vias de igual forma e teor.<br>
  {$localidade}, {$hoje_extenso}</font></p>
<p align="JUSTIFY"></p>
<p></p>
<table width="100%" border="0" cellspacing="2" cellpadding="0">
  <tr>
    <td width="50%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#000000" height="1px"></td>
        </tr>
      </table></td>
    <td width="50%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#000000" height="1px"></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td width="50%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">{$nome_provedor}</font></td>
    <td width="50%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">{$nome_razao}</font></td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="100%" border="0" cellspacing="2" cellpadding="0">
  <tr>
    <td width="50%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#000000" height="1px"></td>
        </tr>
      </table></td>
    <td width="50%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#000000" height="1px"></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td width="50%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Nome:</font></td>
    <td width="50%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Nome:</font></td>
  </tr>
</table>
<p align="center"></p>
<p align="center"><strong><font face="Verdana, Arial, Helvetica, sans-serif" size="2">ANEXO
  A</font></strong><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>
  <strong>BOLETIM DE ATIVA&Ccedil;&Atilde;O DOS SERVI&Ccedil;OS</strong></font></p>
<p align="left"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>
  Nome do Cliente:{$cli.nome_razao}<br>
  Endere&ccedil;o: {$cli.endereco}<br>
  Cidade:{$cli.cidade} CEP: {$cli.cep} Estado: {$cli.uf}<br>
  Telefone: {$cli.fone}</font></p>
<p align="left"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>
  Na cidade de {$cli.cidade}, em {$hoje_extenso}, procede-se a ativa&ccedil;&atilde;o
  dos servi&ccedil;os nos equipamentos abaixo listados e identificados, de acordo
  com os termos do Contrato firmado entre o Cliente acima identificado e a {$nome_provedor}.
  em {$hoje_extenso}, e do qual faz parte o presente anexo. Do mesmo modo, o Cliente
  declara expressa conformidade com a instala&ccedil;&atilde;o dos referidos equipamentos,
  que foi realizada pela {$nome_provedor}.<br>
  SERVI&Ccedil;OS ATIVADOS:<br>
  {$produto}<br>
  {$tipo_produto}&#8211; POP {$pop}<br>
  Acesso em r&aacute;dio enlace digital entre o Ponto de Presen&ccedil;a {$pop}
  e o Ponto de Repeti&ccedil;&atilde;o do Cliente.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Lembramos que
  a ativa&ccedil;&atilde;o t&eacute;cnica Internet &eacute; considerada conclu&iacute;da
  se h&aacute; conectividade entre as redes, verificada com o envio de pacotes
  de controle IP (PING) entre um servidor da {$nome_provedor} e o equipamento
  configurado (r&aacute;dio do Cliente). As demais configura&ccedil;&otilde;es
  (DNS, WWW, E-mail, etc.), devem ser realizadas pelo cliente e n&atilde;o est&atilde;o
  inclu&iacute;das no processo de ativa&ccedil;&atilde;o. </font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>
  Nos casos de interrup&ccedil;&atilde;o do circuito, o telefone para reclama&ccedil;&otilde;es
  a ser utilizado &eacute; o (19) 5555-5555 fornecendo sempre o endere&ccedil;o
  IP informado acima.<br>
  Forma colocados os seguintes equipamentos pertencentes a virtex:</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">{$localidade},
  {$hoje_extenso}.</font></p>
<p align="center"><DIV ID="IMPRIMIR" align="CENTER"><strong><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="javascript:window.print()">imprimir</a></font></strong></DIV></p>
<p>&nbsp;</p>
</body>
</html>
