{literal}
	<style>
	*{
		font-family:tahoma, arial, verdana;
		font-size:12px;
	}
	strong{
		color:#6E7D9A;
	}
	</style>
{/literal}
	<table class="lista" border=0  width="400" align="center">

		<tr>
			<td width="110" align="right"><strong>{if $cliente.tipo_pessoa == "F"}Nome{else}Razão Social{/if}:</strong></td>
			<td align="left">{$cliente.nome_razao}</td>
			<input type=hidden name="id_cliente" value="{$id_cliente}" >
		</tr>
		<tr>
			<td width="110" align="right"><strong>{if $cliente.tipo_pessoa == "F"}CPF:{else}CNPJ:{/if}</strong></td>
			<td align="left">{$cliente.cpf_cnpj}&nbsp;</td>
			<td width="110" align="right"><strong>{if $cliente.tipo_pessoa == "F"}RG:{else}Inscrição{/if}</strong></td>
			<td align="left">{$cliente.rg_inscr}&nbsp;</td>
		</tr>
		<tr>
			<td width="110" align="right"><strong>Endereço:</strong></td>
			<td align="left" colspan="2">{$cliente.endereco}&nbsp;</td>
		</tr>
		<tr>
			<td width="110" align="right"><strong>Complemento:</strong></td>
			<td colspan="2">{$cliente.complemento}&nbsp;</td>
		</tr>
		<tr>
			<td width="110" align="right"><strong>Bairro:</strong></td>
			<td align="left">{$cliente.bairro}</td>
			<td><strong>CEP:</strong>&nbsp;{$cliente.cep}</td>
		</tr>
		<tr>
			<td width="110" align="right"><strong>Cidade:</strong></td>
			<td align="left" colspan="3">{$cidade_uf.cidade}-{$cidade_uf.uf}&nbsp;</td>
		</tr>
	</table>


{include file="footer.html"}