{literal}
	<style>
		#footer{
			font-size:12px;
			font-family:Verdana;
			text-transform:uppercase;
			background-color: #6E7D9A;
			color: #FFFFFF;
			height:30px;
			padding-top:8px;
			margin:auto;
			width:600px;
		}
	</style>
{/literal}

<table align="center" style="margin-top:40px;" align="center">
	<tr>
		<td align="center" style="font-size:10px; color: #DEE4F3; background-image: url(view/templates/imagens/fim_footer_central.gif); background-repeat:no-repeat; background-position: center;" width="603" height="26">
			© Copyright 2008 | {$nome_provedor} | Direitos reservados | All rights reserved
		</td>
	</tr>
</table>