{literal}
	<style>
	*{
		padding:0px;
		margin:0px;
	}
	#menu{
		font-size:12px;
		font-family:Verdana;
		text-transform:none;
		background-color: #6E7D9A;
		color: #FFFFFF;
		height:30px;
		padding-top:8px;
		margin:auto;
	}

	#menu a:link{
			color: #FFFFFF;
			text-decoration:none;
	}
	#menu a:visited{
			color: #FFFFFF;
			text-decoration:none;
	}
	#menu a:hover{
			color: #DEE4F3;
			text-decoration:none;
	}
	#menu a:active{
			color: #FFFFFF;
			text-decoration:none;
	}
	</style>
{/literal}
<table align="center">
	<tr>
		<td><img src="view/templates/imagens/header_central.jpg" /></td>
	</tr>
	<tr>
		<td>
			<div style="width:603px;" align="center" id="menu">
				<a href="index.php" target="_top">Home</a> | <a href="index.php?op=dados_cadastrais" target="navegacao">Dados Cadastrais</a> | <a href="index.php?op=contratos" target="navegacao">Contratos</a> | <a href="login.php" target="_top">Sair</a>
			</div>
		</td>
	</tr>
</table>