<html>
<head>
	<title></title>
</head>
<style>
{literal}
#cont {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 18px;
	margin-left:50px;
	padding-left: 5px;
}

.cont_int {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 14px;
}

.cont_int {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 10px;
}
{/literal}
</style>

<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="cobranca_header.html"}
<br /><br />

<div id="cont" align="center">
LOG de Operações de Administradores
<br /><br />
<table class="lista" border="1" width="400px" cellpadding="0" cellspacing="0">
	<tr>
		<td align="center" class="cont_int">Listar por ADM</td>
		<td align="center" class="cont_int">Listar por Tipo</td>
		<td rowspan="2" align="center" class="cont_int"><a href="">Listar Todos</a></td>
	</tr>
	<tr>
		<td><select name="123"><option value="123">123</option></select><input type="submit" value="Enviar"></td>
		<td><select name="123"><option value="123">123</option></select><input type="submit" value="Enviar"></td>
	</tr>
</table>

</div>
<br /><br />
<div id="cont" align="center">
	<table  class="lista" border="1" width="400px" cellpadding="0" cellspacing="0">
		<tr>
			<th>Admin</th>
			<th>Data</th>
			<th>Operacao</th>
			<th>Vlr. Orig.</th>
			<th>Vlr. Alt.</th>
			<th>Username</th>
			<th>IDCP</th>
			<th>Tipo conta</th>
			<th>Extras</th>
		</tr>
		<tr>
			<td align="center">Oie</td>
			<td align="center">Oie</td>
			<td align="center">Oie</td>
			<td align="center">Oie</td>
			<td align="center">Oie</td>
			<td align="center">Oie</td>
			<td align="center">Oie</td>
			<td align="center">Oie</td>
			<td align="center">Oie</td>
		</tr>
		
	</table>
</div>


</body>
</html>
