<html>
<head>
	<title></title>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="administracao_header.html"}
<style>
{literal}
label {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	margin-right: 4px;
	margin-left: 4px;
}


.fieldDisabled {
	font-family: verdana;
	font-size: 10px;
	border: solid 1px #909090;
	background: #CACACA;
	margin-right: 2px;

}

{/literal}
</style>

<script language="javascript1.2">
{literal}

	reVazio = /^\s*$/;

	function condominiosValidacaoForm() {

		formcondominio = document.getElementById("condominio");

		for (i=0; i<formcondominio.length; i++) {
			idstring = formcondominio[i].id;
			if(idstring) {
				estring = idstring;
				estring += " = document.getElementById('" + idstring + "')";
				//alert(estring);
				eval (estring);
			}
		}

		if (reVazio.test(nome.value)) {
			alert("O campo nome deve ser preenchido");
			nome.value="";
			nome.focus();
			return false;
		}

		return true;
	}

	function desabilitarForm() {
		formcondominio = document.getElementById("grupo");
		for (i=0; i<formcondominio.length; i++) {
			if(formcondominio[i].type != "button" && formcondominio[i].type != "submit"){
				formcondominio[i].disabled = true;
				formcondominio[i].className= "fieldDisabled";
			}
		}
	}

	function formQuit() {
		self.location = "admin-administracao.php?op=preferencias&tela=helpdesk";
	}

	function openLinkGrupo(id_grupo) {
		self.location = "admin-administracao.php?op=preferencias&tela=helpdesk&subtela=cadastro_grupo&id_grupo=" + id_grupo;
	}

	function openLinkGrupoRO(id_grupo) {
		self.location = "admin-administracao.php?op=preferencias&tela=helpdesk&subtela=cadastro_grupo&visualizacao=1&id_grupo=" + id_grupo;
	}

	function openLinkCadUsuarios(id_grupo) {
		self.location = "admin-administracao.php?op=preferencias&tela=helpdesk&subtela=cadastro_usuarios&novo=1&id_grupo=" + id_grupo;
	}

{/literal}
</script>


<form name="grupo" id="grupo" method="post" action="admin-administracao.php" onSubmit="return condominiosValidacaoForm()">
	<input type="hidden" name="op" value="{$op}">
	<input type="hidden" name="tela" value="{$tela}">
	<input type="hidden" name="subtela" value="{$subtela}">
	<input type="hidden" name="id_grupo" id="id_grupo" value="{$id_grupo}">
	<input type="hidden" name="acao" value="gravar">

	<table width="350" align="center" border=0 cellpadding=0 cellspacing=0>
		<tr>
			<!-- LADO ESQUERDO DO FORMULÁRIO -->
			<td valign="top" style="border-right: dotted 1px #cccccc; border-bottom: dotted 1px #cccccc">
				<table border=0 cellspacing=0 cellpadding=1 width="100%">
					<tr>
						<td colspan="2" bgcolor="#d5Efd5"><label>Dados do Grupo</label></td>
					</tr>

					<tr>
						<td align="right">
							<label>Nome:</label>
						</td>
						<td >
							<input type="text" name="nome" id="nome" maxlength="50" value="{$nome}" style="width:100%" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
						</td>
					</tr>

					<tr>
						<td align="right">
							<label>Ativo:</label>
						</td>
						<td >
							<select name="ativo" id="ativo" style="width:100%" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
								<option value="t">Sim</option>
								<option value="f">Não</option>
							</select>
						</td>
					</tr>

					<tr>
						<td align="right">
							<label>Grupo Pai:</label>
						</td>
						<td>
							<select name="id_grupo_pai" id="id_grupo_pai" style="width:100%" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
								<option value="">-- SELECIONE --</option>
								{foreach from=$grupos_pai item=i key=k}
									<option value="{$i.id_grupo}">{$i.nome|upper}</option>
								{/foreach}
							</select>
						</td>
					</tr>

					<tr>
						<td align="right" valign="top">
							<label>Descrição:</label>
						</td>
						<td >
							<textarea rows="4" style="width:100%" name="descricao" id="descricao">{$descricao}</textarea>
						</td>
					</tr>


				</table>
			</td>
		</tr>

		<tr>
			<td align="center" colspan="2" width="100%">
				{if ($modo_visualizacao && $id_grupo) || (!$modo_visualizacao && !$id_grupo)}
					<input type="button" class="botao" name="voltar" value="Voltar" onClick="javascript:formQuit();">
				{else}
					<input type="button" class="botao" name="voltar" value="Voltar" onClick="javascript:openLinkGrupoRO({$id_grupo});">
				{/if}

				{if $modo_visualizacao}
					<input type="button" name="botao" class="botao" value="Alterar" onclick="javascript:openLinkGrupo({$id_grupo});">
				{else}
					<input type="submit" name="submit" class="botao" value="{if $id_grupo}Alterar{else}Cadastrar{/if}">
				{/if}
			</td>
		</tr>
	</table>
</form>

<script>
{if $id_grupo_pai}
	document.getElementById("id_grupo_pai").value = "{$id_grupo_pai}";
{/if}

{if $ativo}
	document.getElementById("ativo").value = "{$ativo}";
{/if}

{if $modo_visualizacao}
	desabilitarForm();
{/if}
</script>

<br />

{if $modo_visualizacao}
<center>
 <table border=0 width="700" style="border-top:1px solid #dedede">
 	<tr>
		<td align="left"><label>Usuários</label></td>
		<td align="right"><input type="button" name="botao" class="botao" value="Gerenciar Usuários" onclick="javascript: openLinkCadUsuarios({$id_grupo});" /></td>
 	</tr>
 	<tr>
 		<td colspan=2>

 			<table border=0 width=700 class='lista'>
 				{if $usuarios_grupo}
 				<tr>
 					<th>COD</th>
 					<th>NOME</th>
 					<th>ADM. GRUPO</th>
 					<th>STS. GRUPO</th>
 					<th>STS. SISTEMA</th>
 				</tr>
 				{/if}

 				{foreach name="usuarios" from=$usuarios_grupo item=i}
 				{if ($smarty.foreach.blocos.iteration%2) }{assign var=estilo value='impar'}{else}{assign var=estilo value='par'}{/if}
 				<tr>
				 	<td width="100" class="{$estilo}" align="center"><a href="admin-administracao.php?op=preferencias&tela=helpdesk&subtela=altera_usuario&id_admin={$i.id_admin}&id_grupo={$i.id_grupo}">{$i.id_admin}</a></td>
				 	<td width="250" class="{$estilo}" align="center"><a href="admin-administracao.php?op=preferencias&tela=helpdesk&subtela=altera_usuario&id_admin={$i.id_admin}&id_grupo={$i.id_grupo}">{$i.admnome}<a></td>
				 	<td width="100" class="{$estilo}" align="center"><a href="admin-administracao.php?op=preferencias&tela=helpdesk&subtela=altera_usuario&id_admin={$i.id_admin}&id_grupo={$i.id_grupo}">{if $i.admin == 't'}Sim{else}N&atilde;o{/if}<a></td>
				 	<td width="125" class="{$estilo}" align="center"><a href="admin-administracao.php?op=preferencias&tela=helpdesk&subtela=altera_usuario&id_admin={$i.id_admin}&id_grupo={$i.id_grupo}">{if $i.ativo == 't'}Ativo{else}Inativo{/if}</a></td>
				 	<td width="125" class="{$estilo}" align="center"><a href="admin-administracao.php?op=preferencias&tela=helpdesk&subtela=altera_usuario&id_admin={$i.id_admin}&id_grupo={$i.id_grupo}">{if $i.atvsis == 'A'}Ativo{else}Cancelado{/if}</a></td>
 				</tr>

 				{foreachelse}
 				<tr>
 					<td height="50" align="center"><label>Não há usuários cadastrados neste grupo</label></td>
 				</tr>
 				{/foreach}
 			</table>
 		</td>
 	</tr>
 </table>

</center>
{/if}

</body>
</html>
