<html>
<head>
	<title></title>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="clientes_header.html"}

<style>
{literal}

.form_pesquisa {
	width: 400px;
}

.pesquisa_titulo {
	font-family: verdana;
	font-size: 12px;
	font-color:
}

label {
	font-family: verdana;
	font-size: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
}

{/literal}
</style>

<script language="javascript1.2" >
{literal}
	function openLinkGrupo(id_grupo) {
		self.location = "admin-administracao.php?op=preferencias&tela=helpdesk&subtela=cadastro_grupo&visualizacao=1&id_grupo=" + id_grupo;
	}
{/literal}
</script>

	<br /><br />
	<table class='lista' width='600' cellpadding=0 cellspacing=0 align="center">
		{if count($registros)}
		<tr>
			<th align="left">COD</th>
			<th align="left">NOME</th>
		</th>
		{/if}
		{foreach name=registros item=r from=$registros}
		{if ($smarty.foreach.registros.iteration%2) }{assign var=estilo value='par'}{else}{assign var=estilo value='impar'}{/if}
		<tr>
			<td align='right' width=40 class='{$estilo}'><a href="javascript:openLinkGrupo('{$r.id_grupo}')">{$r.id_grupo|string_format:"%05d"}</a></td>
			<td class='{$estilo}'><p class="nivel_{$r.nivel}">{if $r.nivel > 0}<img class="imagem" src="view/templates/imagens/hier-connector.gif" border=0>{/if}<a href="javascript:openLinkGrupo('{$r.id_grupo}')">{$r.nome|upper}</a></p></td>
		</tr>
		{foreachelse}
		{if $texto_pesquisa && $tipo_pesquisa}
		<tr>
			<td height=110 valign="middle" align="center"><B>NÃO EXISTEM POPS CADASTRADOS</B></td>
		</tr>
		{/if}
		{/foreach}
	</table>

</body>
</html>
