<link rel="stylesheet" type="text/css" href="view/templates/css/layout/innertop.css" />
<script language="javascript" type="text/javascript">
{literal}
function sessionMenuChanged(obj) {
	// window.alert(obj.value);
	if( obj.value.length > 0 ) {
		window.open(obj.value,"conteudo");
	}
}
{/literal}
</script>

{if $tela != "mini" && $prtopt != 'sem_header'}
<table border=0 width="100%" class="titulo" cellpadding=0 cellspacing=0>
	<tr>
		<td><p class="titulo">{$nomeSessao}{if $titulo} :: {$titulo}{/if}</p></td>
		<td width="150" align="right" valign="bottom">
			&nbsp;
			{if count($sessionMenu.itens) && $sessionMenu.visible}
			<select name="userMenu" class="selectMenu" onChange="sessionMenuChanged(this)">
				<option value="">-- MENU --</option>
				{foreach item=r from=$sessionMenu.itens name="sessionMenu"}
				<option value="{$r.url}" {if $smarty.foreach.sessionMenu.iteration == $sessionMenuSelected}SELECTED{/if}>{$r.texto}</option>
				{/foreach}
			</select>
			{/if}
		</td>
	</tr>
</table>
{/if}

