<html>
<head>
	<title></title>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="configuracoes_header.html"}

<br>

{if $id_pop || $id_nas}
	<table class='lista' width='700' cellpadding=0 cellspacing=0 align="center">
		<tr>
			<th align="left" width='70'>#</th>
			<th align="left" width='130'>Username</th>
			<th align="left">NAS</th>
			<th align="left">POP</th>
			<th align="right">Upload</th>
			<th align="right">Download</th>
		</tr>
		{foreach name=registros item=r from=$listaContas}
		{if ($smarty.foreach.registros.iteration%2) }{assign var=estilo value='par'}{else}{assign var=estilo value='impar'}{/if}
		<tr>
			<td style="border-bottom: solid 1px" class="{$estilo}" align="left"><a href="admin-clientes.php?op=conta&tela=ficha&tipo=BL&id_cliente={$r.id_cliente}&id_conta={$r.id_conta}"><strong>{$r.id_conta|string_format:"%06d"}</strong></a></td>
			<td style="border-bottom: solid 1px" class="{$estilo}"><a href="admin-clientes.php?op=conta&tela=ficha&tipo=BL&id_cliente={$r.id_cliente}&id_conta={$r.id_conta}"><strong>{$r.username}</strong></a></td>
			<td style="border-bottom: solid 1px" class="{$estilo}"><a href="admin-clientes.php?op=conta&tela=ficha&tipo=BL&id_cliente={$r.id_cliente}&id_conta={$r.id_conta}"><strong>{$r.nas.nome}</strong></a></td>
			<td style="border-bottom: solid 1px" class="{$estilo}"><a href="admin-clientes.php?op=conta&tela=ficha&tipo=BL&id_cliente={$r.id_cliente}&id_conta={$r.id_conta}"><strong>{$r.pop.nome}{if $tipo == "ap" && $r.pop.id_pop != $id_pop}**{/if}</strong></a></td>
			<td style="border-bottom: solid 1px" class="{$estilo}" align="right" valign="top"><a href="admin-clientes.php?op=conta&tela=ficha&tipo=BL&id_cliente={$r.id_cliente}&id_conta={$r.id_conta}"><strong>{if $r.upload_kbps}{$r.upload_kbps} kbps{else}Ilimitado*{/if}</strong></a></td>
			<td style="border-bottom: solid 1px" class="{$estilo}" align="right" valign="top"><a href="admin-clientes.php?op=conta&tela=ficha&tipo=BL&id_cliente={$r.id_cliente}&id_conta={$r.id_conta}"><strong>{if $r.download_kbps}{$r.download_kbps} kbps{else}Ilimitado*{/if}</strong></a></td>
		</tr>
		<tr>
			<td style="border-bottom: solid 1px #000000" colspan=4 class="{$estilo}" align="left">
				<a href="admin-clientes.php?op=cadastro&extra_op=ficha&id_cliente={$r.cliente.id_cliente}"><strong>&nbsp;&nbsp;{$r.cliente.nome_razao}</strong></a>
				<br>
				<span style="font-size: 10px; font-family: verdana">
				{$r.cliente.endereco}{if $r.cliente.complemento} - {$r.cliente.complemento}{/if}{if $r.cliente.bairro} - {$r.cliente.bairro}{/if}<br>
				{$r.cliente.cidade.cidade} - {$r.cliente.cidade.uf}<br>
				{if $r.cliente.fone_comercial || $r.cliente.fone_residencial || $r.cliente.fone_celular}Fone(s): {$r.cliente.fone_comercial} {$r.cliente.fone_residencial} {$r.cliente.fone_celular}{else}Cliente sem telefone cadastrado{/if}
				</span>
			</td>
			<td class="{$estilo}" style="border-bottom: solid 1px #000000">&nbsp;</td>
			<td class="{$estilo}" style="border-bottom: solid 1px #000000">&nbsp;</td>
		</tr>
		{/foreach}
		{if count($listaContas)}
		<tr>
			<td colspan="4" align="right" style="border-top: solid 1px #000000"><strong>TOTAIS: </strong></td>
			<td align="right" style="border-top: solid 1px #000000"><strong>{$soma_upload} kbps*</strong></td>
			<td align="right" style="border-top: solid 1px #000000"><strong>{$soma_download} kbps*</strong></td>
		</tr>
		<tr>
			<td colspan="6" align="center">
				* Contas com velocidade ilimitada não compõe as somas.
				{if $tipo == "ap"}<br>** Equipamento compõe rede do "{$pop.nome}"{/if}
			</td>
		</tr>
		{/if}
		<tr>
			<td colspan="6" align="center" style="border-top: solid 1px"><a href="admin-configuracoes.php?op=relatorios&relatorio=carga&tipo={$tipo}">voltar</a></td>
		</tr>
	</table>
{else}
	<table class='lista' width='700' cellpadding=0 cellspacing=0 align="center">
		<tr>
			<th>#</th>
			<th>Nome</th>
			<th>Tipo</th>
			<th align="right">Contas Ativas</th>
			<th align="right">Soma Upload</th>
			<th align="right">Soma Download</th>
		</tr>
		{foreach name=registros item=r from=$listaEqpto}
		{if ($smarty.foreach.registros.iteration%2) }{assign var=estilo value='par'}{else}{assign var=estilo value='impar'}{/if}
		<tr>
			<td class='{$estilo}'><a href="admin-cadastro.php?op=relatorios&relatorio=carga&tipo={$tipo}&id={$r.id}">{$r.id|string_format:"%03d"}</a></td>
			<td class='{$estilo}'><a href="admin-cadastro.php?op=relatorios&relatorio=carga&tipo={$tipo}&id={$r.id}">{$r.nome}</a></td>
			<td class='{$estilo}'><a href="admin-cadastro.php?op=relatorios&relatorio=carga&tipo={$tipo}&id={$r.id}">{if $tipo == "nas"}{$tiposNas[$r.tipo_nas]}{else}{$tiposPop[$r.tipo]}{/if}</a></td>
			<td class='{$estilo}' align="right"><a href="admin-cadastro.php?op=relatorios&relatorio=carga&tipo={$tipo}&id={$r.id}">{$r.contas_ativas}</a></td>
			<td class='{$estilo}' align="right"><a href="admin-cadastro.php?op=relatorios&relatorio=carga&tipo={$tipo}&id={$r.id}">{$r.soma_upload}</a></td>
			<td class='{$estilo}' align="right"><a href="admin-cadastro.php?op=relatorios&relatorio=carga&tipo={$tipo}&id={$r.id}">{$r.soma_download}</a></td>
		</tr>
		{/foreach}
		{if count($listaEqpto)}
		<tr>
			<td colspan="3" align="right" style="border-top: solid 1px #000000"><strong>TOTAIS: </strong></td>
			<td align="right" style="border-top: solid 1px #000000"><strong>{$contas_ativas}</strong></td>
			<td align="right" style="border-top: solid 1px #000000"><strong>{$soma_upload} kbps*</strong></td>
			<td align="right" style="border-top: solid 1px #000000"><strong>{$soma_download} kbps*</strong></td>
		</tr>
		<tr>
			<td colspan="6" align="center"> * Contas com velocidade ilimitada não compõe as somas.</td>
		</tr>
		{/if}
	</table>
{/if}

</body>
</html>
