<html>
<head>
	<title></title>
	<HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="configuracoes_header.html"}
<style>
{literal}
label {
	font-family: verdana;
	font-size: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
}

.box_fechada {
	visibility: hidden;
	display:none;
}

.box_aberta {
	visibility: visible;
	display:block;
}


</style>
<script language="JavaScript">
	var podeGravar={/literal}{if $podeGravar}true{else}false{/if}{literal};
	var parent_pops = eval({/literal}{$parent_pops}{literal});
	var id_pop_ap = '{/literal}{$id_pop_ap}{literal}';

	function habilita_monitor(){
		tB = document.getElementById("tabela_monitor");
		ativar_monitor = document.getElementById("ativar_monitoramento");
		tB.className =  ativar_monitor.checked ?  "box_aberta" :  "box_fechada";
	}

	function habilita_snmp(){
		tB = document.getElementById("tabela_snmp");
		ativar_snmp = document.getElementById("ativar_snmp");
		tB.className =  ativar_snmp.checked ?  "box_aberta" :  "box_fechada";
	}

	function preenchePopAp(){
		var pType = document.getElementById("tipo");

		var option_index = 1;
		for(var i=0;i<parent_pops.length;i++){
			var selected = parent_pops[i].id_pop == id_pop_ap ? true : false;

			//window.alert("I: " + i);
			//window.alert(pType.value);

			//preencheCombo("id_pop_ap",option_index,parent_pops[i].id_pop,parent_pops[i].nome,selected);

			// window.alert("X: " + parent_pops[i].nivel);

			//preencheCombo("id_pop_ap",option_index,parent_pops[i].id_pop,parent_pops[i].nome,selected);

			// break;



			// continue;

			switch(pType.value){
				case 'AP':
				case 'B':
					if( (parent_pops[i].tipo == 'C') || ( parent_pops[i].tipo == 'B') ){
						preencheCombo("id_pop_ap",option_index,parent_pops[i].id_pop,parent_pops[i].nome,selected);
						option_index++;
					}
				break;
				case 'C':
					if( parent_pops[i].tipo != 'AP' ){
						preencheCombo("id_pop_ap",option_index,parent_pops[i].id_pop,parent_pops[i].nome,selected);
						option_index++;
					}
				break;
				case 'CL':
					if(parent_pops[i].tipo == 'AP'){
							preencheCombo("id_pop_ap",option_index,parent_pops[i].id_pop,parent_pops[i].nome,selected);
							option_index++;
					}
				break;
			}

			// break;

		}
	}

	function preencheCombo(id_combo,option_index, value, text, selected){
		//window.alert("id_combo: " + id_combo + "\noption_index: " + option_index + "\nvalue: " + value + "\ntext: " + text + "\nselected: " + selected);
		var e =  document.getElementById(id_combo);
		e.options[option_index] = new Option(text,value);
		e.options[option_index].selected = selected;
	}

	function voltar() {
		if( !podeGravar || window.confirm("Deseja abandonar este registro?") ) {
			window.open('admin-cadastro.php?op=equipamentos&tela=pops&subtela=listagem','conteudo');
		}
	}

	function valida_ip(ip){
		if(ip.value != '' && !ipValido(ip.value)){
			alert('o IP '+ip.value+' não é válido.');
			  ip.value="";
			  ip.focus();
			  return false;
		}
		return true;
	}

	function popValidaForm(){

		var nome = document.getElementById("nome");
		var tipo = document.getElementById("tipo");
		var status = document.getElementById("status");
		var monitor = document.getElementById("ativar_monitoramento");
		var ipaddr = document.getElementById("ipaddr");
		var id_servidor = document.getElementById("id_servidor");

		if(estaVazio(nome.value)) {
			alert("O campo nome deve ser preenchido.");
			nome.value="";
			nome.focus();
			return false;
		}

		if(estaVazio(tipo.value)) {
			alert("Um tipo deve ser selecionado.");
			tipo.value="";
			tipo.focus();
			return false;
		}

		if(!confereCampoMAC()) return false;

		if(estaVazio(status.value)) {
			alert("Um status deve ser selecionado.");
			status.value="";
			status.focus();
			return false;
		}

		if(monitor.checked){
			if(estaVazio(ipaddr.value)) {
				alert("O campo ip deve ser preenchido.");
				ipaddr.value="";
				ipaddr.focus();
				return false;
			}
			if(estaVazio(id_servidor.value)) {
				alert("O campo monitorado deve ser preenchido.");
				id_servidor.value="";
				id_servidor.focus();
				return false;
			}
		}
	}


	function confereCampoMAC() {
		var macaddr = document.getElementById("mac");
		var tipo = document.getElementById("tipo");
		var clientemacpop = document.getElementById("clientemacpop");
		var divClienteMacPop = document.getElementById("divClienteMacPop");

		if(estaVazio(macaddr.value)) {
			//bloquearmac.disabled = true;
			//bloquearmac.checked= false;
			return true;
		}

		if(!macValido(macaddr.value)) {
			alert("Endereço de MAC Address inserido no campo é inválido");
			macaddr.value="";
			macaddr.focus();
			//bloquearmac.disabled = true;
			//bloquearmac.checked= false;
			divClienteMacPop.style.display = "none";
			clientemacpop.disabled=true;
			return false;
		}

		if(tipo.value == "CL" && !estaVazio(macaddr.value)) {
			divClienteMacPop.style.display = "block";
			clientemacpop.disabled=false;
		} else {
			divClienteMacPop.style.display = "none";
			clientemacpop.disabled=true;
		}

		//bloquearmac.disabled = false;
		return true;
	}


</script>
{/literal}
<center>
<form method="post" name="formulario" id="formulario" action="admin-cadastro.php" onsubmit="return popValidaForm();">
<input type="hidden" name="op" value="{$op}">
<input type="hidden" name="tela" value="{$tela}">
<input type="hidden" name="subtela" value="{$subtela}">
<input type="hidden" name="id_pop" value="{$id_pop}">
<input type="hidden" name="acao" value="alterar">
<div align="left" style='width:500px; margin: auto; padding:0px;'>
	<table width='100%' border="0" cellpadding="0" cellspacing="0" align="center" style="border:1px solid #CCCCCC;">
		<tr>
		  <td height="3px" colspan="4">&nbsp;</td>
		</tr>
		<tr>
		  <td width="100" align="right" nowrap><label>Nome:</label></td>
		  <td colspan="3"><input name="nome" type="text" id="nome" value="{$nome}" size="40" maxlength="40" class="fieldWithoutFocus"  onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" /></td>
		</tr>
		<tr>
		  <td width="100" align="right" nowrap><label>Info:</label></td>
		  <td colspan="4"><textarea name="info" cols="50" rows="6" class="fieldWithoutFocus"  onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" >{$info}</textarea></td>
		</tr>
		<tr>
			<td width="100" align="right" nowrap><label>Status:</label></td>
			<td colspan="4">
				<select name="status" id="status" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" >
				{foreach key=id item=valor from=$status_pop}
					<option value="{$id}" {if $id == $status}selected{/if}>{$valor}</option>
				{/foreach}
				</select>
			</td>
		</tr>
		<tr>
			<td width="100" align="right" nowrap><label>Tipo:</label></td>
			<td width="24%">
				<select name="tipo" id="tipo" onChange="preenchePopAp(); confereCampoMAC();" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" >
				{foreach key=id item=nome from=$tipo_pop}
				<option value='{$id}'{if $id == $tipo}selected{/if}>{$nome} </option>
				{/foreach}
			</select>
			</td>
			<td width="100" align="right" nowrap><label>Conectado em:</label></td>
			<td>
				<select name="id_pop_ap" id="id_pop_ap" style="width: 170px;" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
					<option id="opcoes" value=""> </option>
				</select>
			</td>
		</tr>

		<tr>

			<td width="100" align="right" nowrap><label>IP:</label></td>
			<td><input type="text" name="ipaddr" id="ipaddr" value="{$ipaddr}" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:valida_ip(this);formOnBlur(this)" /></td>

			<td width="100" align="right" nowrap><label>MAC:</label></td>
			<td colspan=2><input name="mac" type="text" id="mac" value="{$mac}" size="40" maxlength="17" class="fieldWithoutFocus"  onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this); confereCampoMAC();" />

			<!--td width="100" align="left" valign="middle" nowrap>&nbsp;
				{* <input name="bloquearmac" type="checkbox" id="bloquearmac" value="t" /><label>Bloquear MAC</label> *}
			</td-->
		</tr>

		<tr>
			<td width="100" align="right" colspan=3>&nbsp;</td>
			<td>
				<div id="divClienteMacPop" style="position:relative; display:none;">
					<input name="clientemacpop" type="checkbox" id="clientemacpop" value="t"  />
					<label>Clientes acessam a internet com o MAC do equipamento</label>
				</div>
			</td>
		</tr>

		{if $qtde_cli_pop}
		<tr>
			<td colspan="4">
				<div align="center">
					<label><strong>{$qtde_cli_pop}</strong> clientescadastrados neste pop</label>
				</div>
			</td>
		</tr>
		{/if}
		<tr>
			<td colspan="4">&nbsp;</td>
		</tr>
	</table>
	<br />
	<span>
		<label><input type="checkbox" value="t" id="ativar_monitoramento" name="ativar_monitoramento" {if $ativar_monitoramento=='t'}checked='checked'{/if} class="checkbox" onClick="habilita_monitor();">Ativar Monitoramento</label>
	</span>
	<div id="tabela_monitor" class="box_fechada">
		<table  width='100%' border="0" style="border:1px solid #CCCCCC;">
			<tr>
				<td colspan="4"> <label>Informações de Monitoramento</label></td>
			</tr>
			<tr>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td width="100" align="right" nowrap><label>Monitorado por:</label></td>
				<td>
					<select name="id_servidor" id="id_servidor" style="width:130px;" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="formOnBlur(this)" >
					<option value=""></option>
					{foreach item=s from=$servidores}
						<option value="{$s.id_servidor}" {if $s.id_servidor == $id_servidor}SELECTED{/if}>{$s.hostname}</option>
					{/foreach}
					</select>
				</td>
			</tr>
		</table>
	</div>

	<br>

	<span>
		<label><input type="checkbox" value="t" id="ativar_snmp" name="ativar_snmp" class="checkbox" {if $ativar_snmp=='t'}CHECKED{/if} onClick="habilita_snmp();">
				  Ativar SNMP</label>
	</span>
	<div id="tabela_snmp" class="{if $snmp=='f' || $snmp == ""}box_fechada{/if}{if $snmp=='t'}box_aberta{/if}">
		<table  width='100%' border="0" style="border:1px solid #CCCCCC;">
			<tr>
			  <td height="2px" colspan="4">&nbsp;</td>
			</tr>
			<tr>
			  <td colspan="4" valign="top">
				<tr>
				  <td width="101"><label>Versão </p></td>
				  <td width="156"><label>RO Community </p></td>
				  <td width="149"><label>RW Community </label></td>
				</tr>
				  <tr>
					<td>
					  <select name="snmp_versao">
						<option value="#"></option>
						<option value="v1" {if $snmp_versao=='v1'}SELECTED{/if}>V1</option>
						<option value="v2c" {if $snmp_versao=='v2c'}SELECTED{/if}>V2C</option>
						<option value="v3" {if $snmp_versao=='v3'}SELECTED{/if}>V3</option>
						</select>							                    </td>

					<td><input type="text" name="snmp_ro_com" value="{$snmp_ro_com}"></td>

					<td><input type="text" name="snmp_rw_com" value="{$snmp_rw_com}"></td>
				  </tr>
		</table>
	</div>
	<br />
	<input type="button" name="Voltar" value="Voltar" onClick="javascript:voltar();" class="botao">
	<input type="submit" name="Submit" value="{if $id_servidor}Alterar{else}Cadastrar{/if}" class="botao">
</div>
</form>
</center>
<script language="JavaScript">
	habilita_monitor();
	habilita_snmp();
	preenchePopAp();
	confereCampoMAC();
	{if $clientemacpop == 't'}document.getElementById("clientemacpop").checked = true;{/if}
	{if $usa_mac_ap == 't'}document.getElementById("usa_mac_ap").checked = true;{/if}
</script>
</html>



