<script language="JavaScript">
// Lista
var planosBL=eval('{$listaBL}');
var planosD=eval('{$listaD}');
var planosH=eval('{$listaH}');

var BLSelecionado='';
var DSelecionado='';
var HSelecionado='';

var LIMITE_PRORATA = {$limite_prorata};
{literal}

function Cancelar() {
	if(window.confirm("Deseja abandonar esta contratação?")) {
		{/literal}
		window.open("admin-clientes.php?op=contrato&id_cliente={$id_cliente}","_self");
		{literal}
	}
	return false;
}

function contratoObtemPlano(tipo,id_produto) {
	var lista = null;

	if(tipo == "BL") {
		lista = planosBL;
	}

	if( tipo == "D") {
		lista = planosD;
	}

	if( tipo == "H") {
		lista = planosH;
	}

	if( lista != null ) {
		for(i=0;i<lista.length;i++) {
			if( lista[i].id_produto == id_produto ) {
				return lista[i];
			}
		}
	}

	return null;
}

function contratoEscondeBox(tipo) {
	if( tipo == null || tipo == undefined || tipo == "" ){
		contratoEscondeBox("BL");
		contratoEscondeBox("D");
		contratoEscondeBox("H");
		contratoEscondeBox("EI");
	}
	var container = document.getElementById("box"+tipo);

	if( container != null && container != undefined ) {
		var target = document.getElementById("boxTarget");
		var temp   = document.getElementById("boxTemporaria");
		container.style.visibility = "hidden";
		container.style.position = "absolute";
		container.style.size="0px";
		temp.appendChild(container);
	}
}

function contratoExibeBox(tipo) {
	contratoEscondeBox("BL");
	contratoEscondeBox("D");
	contratoEscondeBox("H");
	contratoEscondeBox("EI");

	var container = document.getElementById("box"+tipo);
	if( container != null && container != undefined ) {
		container.style.visibility = "visible";
		var target = document.getElementById("boxTarget");
		target.appendChild(container);

		container.style.position = "relative";
		container.style.size="";

		//ser for BANDA LARGA OU DISCADA add ENDERECO DE INSTALACAO
		if (tipo == "BL" || tipo == "D") {
		  containerEI = document.getElementById("boxEI");
		  containerEI.style.visibility = "visible";
		  target.appendChild(containerEI);
		}
	}

	contratoDependenciasBox(tipo);

}

function contratoDependenciasBox(tipo) {
	var frm = document.contratacao;

	if( tipo == "BL" ) {
		if( frm.username.disabled || frm.username.value == "" ) {
			desabilita(frm.id_nas);
			desabilita(frm.id_pop);
			desabilita(frm.selecao_redeip);
			desabilita(frm.mac);
		} else {
			habilita(frm.id_nas);
			habilita(frm.id_pop);
			habilita(frm.selecao_redeip);
			habilita(frm.mac);
		}

		contratoAlteraEndereco();
	}

	if( tipo == "D" ) {
		if( frm.username.disabled || frm.username.value == "" ) {
			desabilita(frm.foneinfo);
		} else {
			habilita(frm.foneinfo);
		}
	}

	if( tipo == "H" ) {
		if( frm.username.disabled || frm.username.value == "" ) {
			desabilita(frm.tipo_hospedagem);
		} else {
			habilita(frm.tipo_hospedagem);
		}
		contratoAlteraTipoHospedagem();
	}

}

function contratoAlteraUsername() {
	var frm = document.contratacao;
	contratoDependenciasBox(frm.tipo.value);
}

function contratoAlteraTipoHospedagem() {
	var frm = document.contratacao;

	if( frm.tipo_hospedagem.disabled || frm.tipo_hospedagem.value == "" || frm.tipo_hospedagem.value == "U") {
		desabilita(frm.dominio);
	} else {
		habilita(frm.dominio);
	}
}


function contratoPopulaProdutos(tipo) {
	var frm=document.contratacao;

	frm.id_produto.value="";

	frm.id_produto.width="100 px";

	for(i=frm.id_produto.options.length;i>0;--i) {
		frm.id_produto.remove(0);
	}

	o = document.createElement("OPTION");
	o.value = "";
	o.innerText = "-- SELECIONE --";

	frm.id_produto.appendChild(o);


	if( frm.tipo.value == '' ) {
		contratoEscondeBox();
		desabilita(frm.id_produto);
	} else {
		habilita(frm.id_produto);
		contratoExibeBox(tipo);
		if( frm.tipo.value == 'BL' ) {
			lista = planosBL;
		}

		if( frm.tipo.value == 'D' ) {
			lista = planosD;
		}

		if( frm.tipo.value == 'H' ) {
			lista = planosH;
		}

		for(i=0;i<lista.length;i++) {
			o = document.createElement("OPTION");
			o.value = lista[i].id_produto;
			vl = lista[i].valor;
			if( vl == 0 ) {
				vl = "cortesia";
			} else {
				vl = " R$ " + vl;
			}
			o.innerText = lista[i].nome + " / " + vl;
			frm.id_produto.appendChild(o);
		}
	}
}

function contratoAlteraTipo() {
	var frm=document.contratacao;
	contratoPopulaProdutos(frm.tipo.value);
	contratoAlteraProduto();
}

function setDisabledRadio(nome,disabled) {
	el = document.getElementsByTagName("input");
	for(i=0;i<el.length;i++) {
		if( el[i].type == "radio" && el[i].name == nome ) {
			el[i].disabled = disabled;
		}
	}
}

function getCheckedRadio(nome) {
	el = document.getElementsByTagName("input");
	for(i=0;i<el.length;i++) {
		if( el[i].type == "radio" && el[i].name == nome && el[i].checked) {
			return el[i];
		}
	}

	return null;
}

function habilitaRadio(nome) {
	setDisabledRadio(nome,false);
}

function desabilitaRadio(nome) {
	setDisabledRadio(nome,true);
}


function contratoHabilitaFormaPagamento() {
	habilitaRadio("forma_pagamento");
	contratoAlteraFormaPagamento();
}

function contratoDesabilitaFormaPagamento() {
	desabilitaRadio("forma_pagamento");
	contratoAlteraFormaPagamento();
}

function contratoAlteraFormaPagamentoDA() {
	var frm=document.contratacao;

	var fp = getCheckedRadio("forma_pagamento");
	if( fp != null ) {
		valor = fp.value;
	} else {
		valor = null;
	}

	frm.agencia.disabled = true;
	frm.agencia.className="disabledFP";
	frm.conta.disabled = true;
	frm.conta.className="disabledFP";

	if( fp != null && !fp.disabled ) {
		if(  valor == "DA" && frm.id_forma_pagamento_DA.value != "" ) {
			frm.agencia.disabled = false;
			frm.agencia.className="fieldWithoutFocusFP";
			frm.conta.disabled = false;
			frm.conta.className="fieldWithoutFocusFP";
		}
	}
}

function contratoAlteraFormaPagamento() {
	var frm=document.contratacao;

	var fp = getCheckedRadio("forma_pagamento");
	if( fp != null ) {
		valor = fp.value;
	} else {
		valor = null;
	}

	frm.id_forma_pagamento_BL.disabled = true;
	frm.id_forma_pagamento_DA.disabled = true;
	frm.id_forma_pagamento_PC.disabled = true;
	frm.id_forma_pagamento_MO.disabled = true;

	if( fp != null && !fp.disabled ) {
		if( frm.id_forma_pagamento_BL != undefined ) {
			if( valor == "BL" ) {
				frm.id_forma_pagamento_BL.disabled = false;
			}
		}

		if( frm.id_forma_pagamento_DA != undefined ) {
			if( valor == "DA" ) {
				frm.id_forma_pagamento_DA.disabled = false;
			}
		}

		if( frm.id_forma_pagamento_PC != undefined ) {
			if( valor == "PC" ) {
				frm.id_forma_pagamento_PC.disabled = false;
			}
		}

		if( frm.id_forma_pagamento_MO != undefined ) {
			if( valor == "MO" ) {
				frm.id_forma_pagamento_MO.disabled = false;
			}
		}
	}

	if( frm.id_forma_pagamento_DA != undefined ) {
		contratoAlteraFormaPagamentoDA();
	}

}

function contratoAlteraProduto() {
	var frm=document.contratacao;

	desabilita(frm.data_contratacao);
	desabilita(frm.vigencia);
	desabilita(frm.dia_vencimento);
	desabilita(frm.carencia);
	desabilita(frm.primeiro_vencimento_input);
	desabilita(frm.desconto_promo);
	desabilita(frm.periodo_desconto);
	desabilita(frm.tx_instalacao);
	desabilita(frm.comodato);
	desabilita(frm.pro_rata);
	desabilita(frm.valor_comodato);


	desabilita(frm.pagamento);
	contratoDesabilitaFormaPagamento();

	desabilita(frm.username);
	contratoAlteraUsername();
	desabilita(frm.senha);
	desabilita(frm.confsenha);

	if( frm.id_produto.value != "" ) {
		produto = contratoObtemPlano(frm.tipo.value,frm.id_produto.value);

		if( produto.valor > 0 ) {
			// Produto pago. Habilitar campos de valores
			habilita(frm.data_contratacao);
			habilita(frm.vigencia);
			habilita(frm.dia_vencimento);
			habilita(frm.carencia);
			//habilita(frm.primeiro_vencimento);
			habilita(frm.desconto_promo);
			habilita(frm.periodo_desconto);
			habilita(frm.tx_instalacao);
			habilita(frm.comodato);
			habilita(frm.pro_rata);
			contratoAlteraComodato();

			habilita(frm.pagamento);
			contratoHabilitaFormaPagamento();

			if( produto.desconto_promo == null || produto.desconto_promo == undefined || produto.desconto_promo == "" || produto.periodo_desconto == null || produto.periodo_desconto == undefined || produto.periodo_desconto == "") {
				frm.desconto_promo.value = "";
				frm.periodo_desconto.value = "";
			} else {
				frm.desconto_promo.value = produto.desconto_promo;
				frm.periodo_desconto.value = produto.periodo_desconto;
			}

			if( produto.tx_instalacao == null || produto.tx_instalacao == undefined || produto.tx_instalacao == "" ) {
				frm.tx_instalacao.value = "";
			} else {
				frm.tx_instalacao.value = produto.tx_instalacao;
			}
		}

		habilita(frm.username);
		contratoAlteraUsername();
		habilita(frm.senha);
		habilita(frm.confsenha);

	}
}

function contratoAlteraComodato() {
	var frm = document.contratacao;
	if( frm.comodato.value == 't' ) {
		habilita(frm.valor_comodato);
	} else {
		desabilita(frm.valor_comodato);
	}
}

function contratoAlteraEndereco() {
	var frm = document.contratacao;

	if( frm.selecao_redeip.disabled || frm.selecao_redeip.value == "A" ) {
		desabilita(frm.endereco_redeip);
	} else {
		habilita(frm.endereco_redeip);
	}
}


function formOnBlurSuf(obj,sufixo) {
	if( sufixo == null || sufixo == undefined ) {
		sufixo = "";
	}
	obj.className="fieldWithoutFocus"+sufixo;
}
function formOnFocusSuf(obj,sufixo) {
	if( sufixo == null || sufixo == undefined ) {
		sufixo = "";
	}
	obj.className="fieldWithFocus"+sufixo;
}

function checkStatusFields(tag) {

     if ( tag.name == "difEnderecoMail" ) {

       if ( tag.checked == false ) {
          desabilita(document.getElementById('endereco_cobranca'));
          desabilita(document.getElementById('bairro_cobranca'));
          desabilita(document.getElementById('complemento_cobranca'));
          desabilita(document.getElementById('id_cidade_cobranca'));
          desabilita(document.getElementById('cep_cobranca'));
       }
       else {
          habilita(document.getElementById('endereco_cobranca'));
          habilita(document.getElementById('bairro_cobranca'));
          habilita(document.getElementById('complemento_cobranca'));
          habilita(document.getElementById('id_cidade_cobranca'));
          habilita(document.getElementById('cep_cobranca'));
       }
    }
    else if ( tag.name == "difEnderecoSetup" ) {

       if ( tag.checked == false ) {
          desabilita(document.getElementById('endereco_instalacao'));
          desabilita(document.getElementById('bairro_instalacao'));
          desabilita(document.getElementById('complemento_instalacao'));
          desabilita(document.getElementById('id_cidade_instalacao'));
          desabilita(document.getElementById('cep_instalacao'));
       }
       else {
          habilita(document.getElementById('endereco_instalacao'));
          habilita(document.getElementById('bairro_instalacao'));
          habilita(document.getElementById('complemento_instalacao'));
          habilita(document.getElementById('id_cidade_instalacao'));
          habilita(document.getElementById('cep_instalacao'));
       }
    }
}

function calculaDiaProximaFatura() {

   	var frm = document.contratacao;

    var dia_ven = document.getElementById("dia_vencimento").value;
    var today = new Date();

    dif =(parseInt(dia_ven)+30)-parseInt(today.getDate());
    //alert(dif);
    if ( dif >= LIMITE_PRORATA ) {
      today.setMonth(today.getMonth()+2);
    }
    else {
      today.setMonth(today.getMonth()+3);
    }

    if ( dia_ven < 10 )
       dia_ven = "0"+dia_ven;

    mes = today.getMonth();
    if ( mes < 10 )
       mes = "0"+mes;

    frm.primeiro_vencimento_input.value = dia_ven+"/"+mes+"/"+today.getYear();
    frm.primeiro_vencimento.value = dia_ven+"/"+mes+"/"+today.getYear();
}

function replaceField(field) {

  if ( document.getElementById("difEnderecoSetup").checked == false ) {

    if ( field != "id_cidade" ) {

      document.getElementById(field+"_instalacao").value = document.getElementById(field+"_cobranca").value;

    }
    else {

      var selC = document.getElementById(field+"_cobranca");
      var selI = document.getElementById(field+"_instalacao");

      for ( i=0; i<selI.options.length; i++ ) {

        if ( selI.options[i].value == selC.options[ selC.selectedIndex ].value ) {

          selI.selectedIndex = i;
          break;
        }
      }
    }
  }

}

function validacao(frm ) {

if ( frm.endereco_cobranca.value == '' || frm.bairro_cobranca.value == '' || frm.cep_cobranca.value == '' ) {

    alert('Preencha o endereco de cobranca!');

    frm.difEnderecoMail.checked = true;
    checkStatusFields(frm.difEnderecoMail);
    return false;

  }
  else {

     if ( (frm.endereco_instalacao.value == '' || frm.bairro_instalacao.value == '' || frm.cep_instalacao.value == '') && (frm.tipo != "H") ) {

      alert('Preencha o endereco de instalacao!');

      frm.difEnderecoSetup.checked = true;
      checkStatusFields(frm.difEnderecoSetup);
      return false;

    }
  }

  if ( frm.senha.value != frm.confsenha.value ) {

      alert('Verifique a senha!');
      frm.senha.focus();
      return false;

  }

  return true;
}

function checkForm(tag) {

  return validacao(tag);
}


function validarData(campo){

  var expReg = /^(([0-2]\d|[3][0-1])\/([0]\d|[1][0-2])\/[1-2][0-9]\d{2})$/;
  var msgErro = 'Formato inválido de data. Use: mm/dd/aaaa';
  if ((campo.value.match(expReg)) && (campo.value!='')){
    var dia = campo.value.substring(0,2);
    var mes = campo.value.substring(3,5);
    var ano = campo.value.substring(6,10);

    //alert(dia);    alert(mes);    alert(ano);

    if( (mes==4 || mes==6 || mes==9 || mes==11) && dia > 30){
      alert("Dia incorreto !!! O mês especificado contém no máximo 30 dias.");
      campo.focus();
      return false;
    }
    else{
      if(ano%4!=0 && mes==2 && dia>28){
        alert("Data incorreta!! O mês especificado contém no máximo 28 dias.");
        campo.focus();
        return false;
      }
      else{

        if(ano%4==0 && mes==2 && dia>29){
          alert("Data incorreta!! O mês especificado contém no máximo 29 dias.");
          campo.focus();
          return false;
        }
        else{
          //alert ("Data correta!");
          return true;
        }

      }
    }
  }
  else {
    alert(msgErro);
    campo.focus();
    return false;
  }
}

{/literal}
</script>
<style>
{literal}
.divBoxContratacao {
	visibility: visible;

	margin-bottom: 0px;
	padding-bottom: 0px;
}

.boxContratacao {
	margin-top: 2px;
	border: solid 1px #000000;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.boxContratacao TD {

}

.boxContratacao TH {
	background: #aaccaa;
}

.fieldWithFocusFP {
	border: solid 1px #004400;
	margin-right: 2px;
 	background-color: #F3F9F3;
 	font-family: verdana;
 	color: #005500;
 	font-size: 8px;
}

.fieldWithoutFocusFP {
	border: solid 1px #000000;
	margin-right: 2px;
	background-color: #FFFFFF;
 	color: #000000;
 	font-family: verdana;
 	font-size: 8px;
}

.disabledFP {
	border: solid 1px #DADADA;
	margin-right: 2px;
	background-color: #FFFFFF;
 	color: #000000;
 	font-family: verdana;
 	font-size: 8px;
}

{/literal}
</style>

<form name="contratacao" action="admin-clientes.php" method="post" {if $acao == ""}onSubmit="return checkForm(this);"{/if} >
<input type="hidden" name="op" value="{$op}">
<input type="hidden" name="tela" value="{$tela}">
<input type="hidden" name="id_cliente" value="{$id_cliente}">

{if $acao == ""}
	<!-- CONFIRMAÇÃO DO CONTRATO -->
	<table class="lista" border=0 cellspacing=0 cellpadding=0 width="600" align="center">
		<tr class="lista">
			<td style="background: #bFd0aF;">Data Contrata&ccedil;&atilde;o</th>
			<td style="background: #bFd0aF;">Vig&ecirc;ncia</th>
			<td style="background: #bFd0aF;">Produto</th>
			<td style="background: #bFd0aF;">Tipo Produto</th>
			<td style="background: #bFd0aF;">Valor</th>
			<td style="background: #bFd0aF;">Status</th>
			<td style="background: #bFd0aF;">&nbsp;</th>
		</tr>
		{foreach from=$contratos item=c}
		<tr>
			<td>{$c.data_contratacao}</td>
			<td>{$c.vigencia}</td>
			<td>{$c.nome_produto}</td>
			<td>{$c.tipo_produto}</td>
			<td>{$c.valor}</td>
			<td>{$c.status}</td>
			<td><a href="admin-clientes.php?op=contrato&tela=faturas&id_cliente={$id_cliente}&id_contrato={$c.id_cliente_produto}">[Faturas]</a></td>
		</tr>
		{/foreach}
	</table>
 </table>

{/if}

</form>