
<script language="JavaScript">
// Lista
var planosBL=eval('{$listaBL}');
var planosD=eval('{$listaD}');
var planosH=eval('{$listaH}');

var BLSelecionado='';
var DSelecionado='';
var HSelecionado='';

var LIMITE_PRORATA = {$limite_prorata};
{literal}

function alteraNas() {
	var frm = document.contratacao;
	if( frm.id_nas.value != frm.nas_orig.value ) {		
		$('selecao_redeip').value = "A";			
		alteraSelecaoIP();
	}
}
	
function alteraSelecaoIP() {
	var frm = document.contratacao;	
	if( frm.selecao_redeip.value == "A" ) {		
		desabilita(frm.endereco_redeip);
		$('endereco_redeip').value = "";
	} else {		
		habilita(frm.endereco_redeip);
	}
}

returnStatus = false;
function checkEnderecoDisponivel(id_nas, endereco){
	var url = "admin-ajax.php";
	var pars = "op=contas&output=JSON&query=enderecoDisponivel&id_nas="+id_nas+"&endereco="+endereco;
	
	var myAjax = new Ajax.Request(			
		url, 
		{
			method: 'get', 
			parameters: pars, 
			onComplete: showResponse,
			asynchronous: false
		});
		
	return returnStatus;			
}	

function showResponse(originalRequest) {
	var r = originalRequest.responseText.evalJSON();		
	if(r.codigo > 0){
		alert(r.mensagem)
		returnStatus = false;
		return false;
	}		
	
	returnStatus = true;
	$('endereco_redeip').value = r.endereco;
}

function Cancelar() {
	if(window.confirm("Deseja abandonar esta contratação?")) {
		{/literal}
		window.open("admin-clientes.php?op=contrato&id_cliente={$id_cliente}","_self");
		{literal}
	}
	return false;
}

function contratoObtemPlano(tipo,id_produto) {
	var lista = null;

	if(tipo == "BL") {
		lista = planosBL;
	}

	if( tipo == "D") {
		lista = planosD;
	}

	if( tipo == "H") {
		lista = planosH;
	}

	if( lista != null ) {
		for(i=0;i<lista.length;i++) {
			if( lista[i].id_produto == id_produto ) {
				return lista[i];
			}
		}
	}

	return null;
}

function contratoEscondeBox(tipo) {
	if( tipo == null || tipo == undefined || tipo == "" ){
		contratoEscondeBox("BL");
		contratoEscondeBox("D");
		contratoEscondeBox("H");
		contratoEscondeBox("EI");
	}
	var container = document.getElementById("box"+tipo);

	if( container != null && container != undefined ) {
		var target = document.getElementById("boxTarget");
		var temp   = document.getElementById("boxTemporaria");
		container.style.visibility = "hidden";
		container.style.position = "absolute";
		container.style.size="0px";
		temp.appendChild(container);
	}
}

function contratoExibeBox(tipo) {
	contratoEscondeBox("BL");
	contratoEscondeBox("D");
	contratoEscondeBox("H");
	contratoEscondeBox("EI");

	var container = document.getElementById("box"+tipo);
	if( container != null && container != undefined ) {
		container.style.visibility = "visible";
		var target = document.getElementById("boxTarget");
		target.appendChild(container);

		container.style.position = "relative";
		container.style.size="";

		//ser for BANDA LARGA OU DISCADA add ENDERECO DE INSTALACAO
		if (tipo == "BL" || tipo == "D") {
		  containerEI = document.getElementById("boxEI");
		  containerEI.style.visibility = "visible";
		  target.appendChild(containerEI);
		}
	}

	contratoDependenciasBox(tipo);

}

function contratoDependenciasBox(tipo) {
	var frm = document.contratacao;

	if( tipo == "BL" ) {
		if( frm.username.disabled || frm.username.value == "" ) {
			desabilita(frm.id_nas);
			desabilita(frm.id_pop);
			desabilita(frm.selecao_redeip);
			desabilita(frm.mac);
		} else {
			habilita(frm.id_nas);
			habilita(frm.id_pop);
			habilita(frm.selecao_redeip);
			habilita(frm.mac);
		}

		contratoAlteraEndereco();
	}

	if( tipo == "D" ) {
		if( frm.username.disabled || frm.username.value == "" ) {
			desabilita(frm.foneinfo);
		} else {
			habilita(frm.foneinfo);
		}
	}

	if( tipo == "H" ) {
		if( frm.username.disabled || frm.username.value == "" ) {
			desabilita(frm.tipo_hospedagem);
		} else {
			habilita(frm.tipo_hospedagem);
		}
		contratoAlteraTipoHospedagem();
	}

}

function contratoAlteraUsername() {
	var frm = document.contratacao;
	contratoDependenciasBox(frm.tipo.value);
}

function contratoAlteraTipoHospedagem() {
	var frm = document.contratacao;

	if( frm.tipo_hospedagem.disabled || frm.tipo_hospedagem.value == "" || frm.tipo_hospedagem.value == "U") {
		desabilita(frm.dominio);
	} else {
		habilita(frm.dominio);
	}
}


function contratoPopulaProdutos(tipo) {
	var frm=document.contratacao;
	var option_index = 0;
	frm.id_produto.value="";

	frm.id_produto.width="100 px";

	for(i=frm.id_produto.options.length;i>0;--i) {
		frm.id_produto.remove(0);
	}
	
	var e =  document.getElementById("id_produto");
	e.options[option_index] = new Option("-- SELECIONE --","");	

	/*o = document.createElement("OPTION");
	o.value = "";
	o.innerText = "-- SELECIONE --";*/

	//frm.id_produto.appendChild(o);


	if( frm.tipo.value == '' ) {
		contratoEscondeBox();
		desabilita(frm.id_produto);
	} else {
		habilita(frm.id_produto);
		contratoExibeBox(tipo);
		if( frm.tipo.value == 'BL' ) {
			lista = planosBL;
		}

		if( frm.tipo.value == 'D' ) {
			lista = planosD;
		}

		if( frm.tipo.value == 'H' ) {
			lista = planosH;
		}

		for(i=0;i<lista.length;i++) {
			//o = document.createElement("OPTION");
			//o.value = lista[i].id_produto;
			vl = lista[i].valor;
			if( vl == 0 ) {
				vl = "cortesia";
			} else {
				vl = " R$ " + vl;
			}
			//o.innerText = lista[i].nome + " / " + vl;
			//frm.id_produto.appendChild(o);
			option_index++;
			e.options[option_index] = new Option(lista[i].nome + " / " + vl,lista[i].id_produto);	
		}
	}
}

function contratoAlteraTipo() {
	var frm=document.contratacao;
	contratoPopulaProdutos(frm.tipo.value);
	contratoAlteraProduto();
}

function setDisabledRadio(nome,disabled) {
	el = document.getElementsByTagName("input");
	for(i=0;i<el.length;i++) {
		if( el[i].type == "radio" && el[i].name == nome ) {
			el[i].disabled = disabled;
		}
	}
}

function getCheckedRadio(nome) {
	el = document.getElementsByTagName("input");
	for(i=0;i<el.length;i++) {
		if( el[i].type == "radio" && el[i].name == nome && el[i].checked) {
			return el[i];
		}
	}

	return null;
}

function habilitaRadio(nome) {
	setDisabledRadio(nome,false);
}

function desabilitaRadio(nome) {
	setDisabledRadio(nome,true);
}


function contratoHabilitaFormaPagamento() {
	habilitaRadio("forma_pagamento");
	contratoAlteraFormaPagamento();
}

function contratoDesabilitaFormaPagamento() {
	desabilitaRadio("forma_pagamento");
	contratoAlteraFormaPagamento();
}

function contratoAlteraFormaPagamentoDA() {
	var frm=document.contratacao;

	var fp = getCheckedRadio("forma_pagamento");
	if( fp != null ) {
		valor = fp.value;
	} else {
		valor = null;
	}

	frm.agencia.disabled = true;
	frm.agencia.className="disabledFP";
	frm.conta.disabled = true;
	frm.conta.className="disabledFP";

	if( fp != null && !fp.disabled ) {
		if(  valor == "DA" && frm.id_forma_pagamento_DA.value != "" ) {
			frm.agencia.disabled = false;
			frm.agencia.className="fieldWithoutFocusFP";
			frm.conta.disabled = false;
			frm.conta.className="fieldWithoutFocusFP";
		}
	}
}

function contratoAlteraFormaPagamento() {
	var frm=document.contratacao;

	var fp = getCheckedRadio("forma_pagamento");
	if( fp != null ) {
		valor = fp.value;
	} else {
		valor = null;
	}

	frm.id_forma_pagamento_BL.disabled = true;
	frm.id_forma_pagamento_DA.disabled = true;
	frm.id_forma_pagamento_PC.disabled = true;
	frm.id_forma_pagamento_MO.disabled = true;

	if( fp != null && !fp.disabled ) {
		if( frm.id_forma_pagamento_BL != undefined ) {
			if( valor == "BL" ) {
				frm.id_forma_pagamento_BL.disabled = false;
			}
		}

		if( frm.id_forma_pagamento_DA != undefined ) {
			if( valor == "DA" ) {
				frm.id_forma_pagamento_DA.disabled = false;
			}
		}

		if( frm.id_forma_pagamento_PC != undefined ) {
			if( valor == "PC" ) {
				frm.id_forma_pagamento_PC.disabled = false;
			}
		}

		if( frm.id_forma_pagamento_MO != undefined ) {
			if( valor == "MO" ) {
				frm.id_forma_pagamento_MO.disabled = false;
			}
		}
	}

	if( frm.id_forma_pagamento_DA != undefined ) {
		contratoAlteraFormaPagamentoDA();
	}

}

function contratoAlteraProduto() {
	var frm=document.contratacao;

	desabilita(frm.data_contratacao);
	desabilita(frm.vigencia);
	desabilita(frm.dia_vencimento);
	desabilita(frm.carencia);
	desabilita(frm.primeiro_vencimento_input);
	desabilita(frm.desconto_promo);
	desabilita(frm.periodo_desconto);
	desabilita(frm.tx_instalacao);
	desabilita(frm.comodato);
	desabilita(frm.pro_rata);
	desabilita(frm.valor_comodato);


	desabilita(frm.pagamento);
	contratoDesabilitaFormaPagamento();

	desabilita(frm.username);
	contratoAlteraUsername();
	desabilita(frm.senha);
	desabilita(frm.confsenha);

	if( frm.id_produto.value != "" ) {
		produto = contratoObtemPlano(frm.tipo.value,frm.id_produto.value);

		if( produto.valor > 0 ) {
			// Produto pago. Habilitar campos de valores
			habilita(frm.data_contratacao);
			habilita(frm.vigencia);
			habilita(frm.dia_vencimento);
			habilita(frm.carencia);
			//habilita(frm.primeiro_vencimento);
			habilita(frm.desconto_promo);
			habilita(frm.periodo_desconto);
			habilita(frm.tx_instalacao);
			habilita(frm.comodato);
			habilita(frm.pro_rata);
			contratoAlteraComodato();

			habilita(frm.pagamento);
			contratoHabilitaFormaPagamento();

			if( produto.desconto_promo == null || produto.desconto_promo == undefined || produto.desconto_promo == "" || produto.periodo_desconto == null || produto.periodo_desconto == undefined || produto.periodo_desconto == "") {
				frm.desconto_promo.value = "";
				frm.periodo_desconto.value = "";
			} else {
				frm.desconto_promo.value = produto.desconto_promo;
				frm.periodo_desconto.value = produto.periodo_desconto;
			}

			if( produto.tx_instalacao == null || produto.tx_instalacao == undefined || produto.tx_instalacao == "" ) {
				frm.tx_instalacao.value = "";
			} else {
				frm.tx_instalacao.value = produto.tx_instalacao;
			}
		}

		habilita(frm.username);
		contratoAlteraUsername();
		habilita(frm.senha);
		habilita(frm.confsenha);

	}
}

function contratoAlteraComodato() {
	var frm = document.contratacao;
	if( frm.comodato.value == 't' ) {
		habilita(frm.valor_comodato);
	} else {
		desabilita(frm.valor_comodato);
	}
}

function contratoAlteraEndereco() {
	var frm = document.contratacao;

	if( frm.selecao_redeip.disabled || frm.selecao_redeip.value == "A" ) {
		desabilita(frm.endereco_redeip);
		$('endereco_redeip').value = "";
	} else {
		habilita(frm.endereco_redeip);
	}
}


function formOnBlurSuf(obj,sufixo) {
	if( sufixo == null || sufixo == undefined ) {
		sufixo = "";
	}
	obj.className="fieldWithoutFocus"+sufixo;
}
function formOnFocusSuf(obj,sufixo) {
	if( sufixo == null || sufixo == undefined ) {
		sufixo = "";
	}
	obj.className="fieldWithFocus"+sufixo;
}

function checkStatusFields(tag) {

     if ( tag.name == "difEnderecoMail" ) {

       if ( tag.checked == false ) {
          desabilita(document.getElementById('endereco_cobranca'));
          desabilita(document.getElementById('bairro_cobranca'));
          desabilita(document.getElementById('complemento_cobranca'));
          desabilita(document.getElementById('id_cidade_cobranca'));
          desabilita(document.getElementById('cep_cobranca'));
       }
       else {
          habilita(document.getElementById('endereco_cobranca'));
          habilita(document.getElementById('bairro_cobranca'));
          habilita(document.getElementById('complemento_cobranca'));
          habilita(document.getElementById('id_cidade_cobranca'));
          habilita(document.getElementById('cep_cobranca'));
       }
    }
    else if ( tag.name == "difEnderecoSetup" ) {

       if ( tag.checked == false ) {
          desabilita(document.getElementById('endereco_instalacao'));
          desabilita(document.getElementById('bairro_instalacao'));
          desabilita(document.getElementById('complemento_instalacao'));
          desabilita(document.getElementById('id_cidade_instalacao'));
          desabilita(document.getElementById('cep_instalacao'));
       }
       else {
          habilita(document.getElementById('endereco_instalacao'));
          habilita(document.getElementById('bairro_instalacao'));
          habilita(document.getElementById('complemento_instalacao'));
          habilita(document.getElementById('id_cidade_instalacao'));
          habilita(document.getElementById('cep_instalacao'));
       }
    }
}

function calculaDiaProximaFatura() {

   	var frm = document.contratacao;

    var dia_ven = document.getElementById("dia_vencimento").value;
    var today = new Date();

    dif =(parseInt(dia_ven)+30)-parseInt(today.getDate());
    //alert(dif);
    if ( dif >= LIMITE_PRORATA ) {
      today.setMonth(today.getMonth()+2);
    }
    else {
      today.setMonth(today.getMonth()+3);
    }

    if ( dia_ven < 10 )
       dia_ven = "0"+dia_ven;

    mes = today.getMonth();
    if ( mes < 10 )
       mes = "0"+mes;

    frm.primeiro_vencimento_input.value = dia_ven+"/"+mes+"/"+today.getYear();
    frm.primeiro_vencimento.value = dia_ven+"/"+mes+"/"+today.getYear();
}

function replaceField(field) {

  if ( document.getElementById("difEnderecoSetup").checked == false ) {

    if ( field != "id_cidade" ) {

      document.getElementById(field+"_instalacao").value = document.getElementById(field+"_cobranca").value;

    }
    else {

      var selC = document.getElementById(field+"_cobranca");
      var selI = document.getElementById(field+"_instalacao");

      for ( i=0; i<selI.options.length; i++ ) {

        if ( selI.options[i].value == selC.options[ selC.selectedIndex ].value ) {

          selI.selectedIndex = i;
          break;
        }
      }
    }
  }

}

function validacao(frm ) {
	
	if($F('tipo') == "BL") {
		if(!checkDadosConexao()){
			return false;
		}
	}
	
	if ( frm.endereco_cobranca.value == '' || frm.bairro_cobranca.value == '' || frm.cep_cobranca.value == '' ) {
		alert('Preencha o endereco de cobranca!');
		frm.difEnderecoMail.checked = true;
		checkStatusFields(frm.difEnderecoMail);
		return false;
	}
	else {
		if ( (frm.endereco_instalacao.value == '' || frm.bairro_instalacao.value == '' || frm.cep_instalacao.value == '') && (frm.tipo != "H") ) {
		alert('Preencha o endereco de instalacao!');
		frm.difEnderecoSetup.checked = true;
		checkStatusFields(frm.difEnderecoSetup);
		return false;
		}
	}

	if ( frm.senha.value != frm.confsenha.value ) {
		alert('Verifique a senha!');
		frm.senha.focus();
		return false;
	}

	return true;
}

function checkDadosConexao(){	
		var nas = $('id_nas');
		var mac = $('mac');
		var altera_rede = $('altera_rede');
		var selecao_redeip = $('selecao_redeip');
		var endereco_redeip = $('endereco_redeip');
				
		var nas_text = nas.options[nas.options.selectedIndex].text;
		var nas_type=nas_text.split(":");		
		if( ("IP" == nas_type[0]) && ("" == mac.value) ){
			if(!confirm("O Não preenchimento do MAC pode facilitar o acesso de usuários não autorizados no sistema. Deseja proceguir mesmo SEM o mac?")){
				return false;
			}
		}			
		
		if("M" == selecao_redeip.value) {
			if("" != endereco_redeip.value){				
				if( !checkEnderecoDisponivel(nas.value,endereco_redeip.value) ){				
					return false;
				}
			} else {
				alert("Preencher o campo de endereço IP!");
				endereco_redeip.focus();
				return false;
			}
		}		
		return true;
	}

function checkForm(tag) {	
  return validacao(tag);
}


function validarData(campo){
	
  var expReg = /^(([0-2]\d|[3][0-1])\/([0]\d|[1][0-2])\/[1-2][0-9]\d{2})$/;
  var msgErro = 'Formato inválido de data. Use: mm/dd/aaaa';
  if ((campo.value.match(expReg)) && (campo.value!='')){
    var dia = campo.value.substring(0,2);
    var mes = campo.value.substring(3,5);
    var ano = campo.value.substring(6,10);

    //alert(dia);    alert(mes);    alert(ano);

    if( (mes==4 || mes==6 || mes==9 || mes==11) && dia > 30){
      alert("Dia incorreto !!! O mês especificado contém no máximo 30 dias.");
      campo.focus();
      return false;
    }
    else{
      if(ano%4!=0 && mes==2 && dia>28){
        alert("Data incorreta!! O mês especificado contém no máximo 28 dias.");
        campo.focus();
        return false;
      }
      else{

        if(ano%4==0 && mes==2 && dia>29){
          alert("Data incorreta!! O mês especificado contém no máximo 29 dias.");
          campo.focus();
          return false;
        }
        else{
          //alert ("Data correta!");
          return true;
        }

      }
    }
  }
  else {
    alert(msgErro);
    campo.focus();
    return false;
  }
}

{/literal}
</script>
<style>
{literal}
.divBoxContratacao {
	visibility: visible;

	margin-bottom: 0px;
	padding-bottom: 0px;
}

.boxContratacao {
	margin-top: 2px;
	border: solid 1px #000000;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.boxContratacao TD {

}

.boxContratacao TH {
	background: #aaccaa;
}

.fieldWithFocusFP {
	border: solid 1px #004400;
	margin-right: 2px;
 	background-color: #F3F9F3;
 	font-family: verdana;
 	color: #005500;
 	font-size: 8px;
}

.fieldWithoutFocusFP {
	border: solid 1px #000000;
	margin-right: 2px;
	background-color: #FFFFFF;
 	color: #000000;
 	font-family: verdana;
 	font-size: 8px;
}

.disabledFP {
	border: solid 1px #DADADA;
	margin-right: 2px;
	background-color: #FFFFFF;
 	color: #000000;
 	font-family: verdana;
 	font-size: 8px;
}

{/literal}
</style>

<form name="contratacao" action="admin-clientes.php" method="post" {if $acao == ""}onSubmit="return checkForm(this);"{/if} >
<input type="hidden" name="op" value="{$op}">
<input type="hidden" name="tela" value="{$tela}">
<input type="hidden" name="id_cliente" value="{$id_cliente}">
{if $acao == ""}
	<input type="hidden" name="acao" value="novo_contrato">

  <table class="lista" border=0 cellspacing=0 cellpadding=0 align="center">
		<tr>
			<th colspan=8 width=720 >Contratante </th>
		</tr>
		<tr>
			<td align="right"><strong>Nome:</strong></td>
			<td align="left"><strong>{$nome_razao}</strong></td>
			<td align="center" colspan=4><input type="checkbox" name="difEnderecoMail" OnClick="checkStatusFields(this);" ><label>Especificar outro endere&ccedil;o pra cobran&ccedil;a</label>
      </td>
    </tr>
  	<tr>
			<td align="right"><strong>Endereço:</strong></td>
			<td align="left"><input type="text" size="50" maxlength="50" disabled name="endereco_cobranca" id="endereco_cobranca" value="{$endereco}"  class="disabled" onFocus="javascript:formOnFocus(this)" onBlur="formOnBlur(this); replaceField('endereco');"></td>
      <td align="right" ><strong>Complemento:</strong></td>
			<td align="left" ><input type="text" size="30" maxlength="40" disabled name="complemento_cobranca" id="complemento_cobranca" value="{$complemento}"  class="disabled" onFocus="javascript:formOnFocus(this)" onBlur="formOnBlur(this); replaceField('complemento');"></td>
    </tr>
    <tr>
      <td align="right"><strong>Bairro:</strong></td>
			<td align="left"><input type="text" size="25" maxlength="40" disabled name="bairro_cobranca" id="bairro_cobranca" value="{$bairro}" class="disabled" onFocus="javascript:formOnFocus(this)" onBlur="formOnBlur(this); replaceField('bairro');">
      &nbsp;&nbsp;<strong>CEP:</strong>&nbsp;<input type="text" size="13" disabled maxlength="15" name="cep_cobranca" id="cep_cobranca" value="{$cep}" class="disabled" onFocus="javascript:formOnFocus(this)" onBlur="formOnBlur(this); replaceField('cep');">
      </td>
  		<td align="right"><strong>Cidade:</strong></td>
			<td align="left">
        <select class="disabled" style="width:210px" disabled name="id_cidade_cobranca" id="id_cidade_cobranca" tabindex="10" onBlur="formOnBlur(this);" onFocus="javascript:formOnFocus(this)" onChange="replaceField('id_cidade');" >
  				{foreach item=a from=$cidades_disponiveis}
  						<option value='{$a.id_cidade}' {if $a.id_cidade == $id_cidade}selected{/if}>{$a.cidade}
								- {$a.uf}</option>
					{/foreach}
      </td>
		</tr>
	</table>

  <table border=0 align="center" cellspacing=0>
		<tr>
			<td valign="top">
				<table width="360" cellspacing=0 cellpadding=0 class="boxContratacao">
					<tr>
						<th align="right"><label>Contrato:</label></th>
						<th colspan=3 align="left">
							<select name="tipo" id="tipo" onChange="contratoAlteraTipo()" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
								<option value="">-- SELECIONE --</option>
								<option value="BL">Banda Larga</option>
								<option value="D">Discado</option>
								<option value="H">Hospedagem</option>
							</select>
						</th>
					</tr>
					<tr>
						<td align="right"><label>Produto:</label></td>
						<td colspan="3"><select name="id_produto" id="id_produto" onChange="contratoAlteraProduto()" class="fieldWithoutFocus" onFocus="formOnFocus(this);" onBlur="formOnBlur(this); calculaDiaProximaFatura();"></select></td>
					</tr>
					<tr>
						<td align="right" width="110"><label>Dt. Contratação:</label></td>
						<td><input type="text" size="12" maxlength="10" name="data_contratacao" value="{$data_contratacao}" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="formOnBlur(this); validarData(this);"></td>
						<td align="right" width="70"><label>Vigência:</label></td>
						<td><input type="text" size="4" maxlength="2" name="vigencia" value="{$vigencia}" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"><label>meses</label></td>
					</tr>
					<tr>
						<td align="right"><label>Dia Venc.:</label></td>
						<td><input type="text" size="4" maxlength="2" name="dia_vencimento" id="dia_vencimento" value="{$dia_vencimento}" class="fieldWithoutFocus" onFocus="formOnFocus(this);calculaDiaProximaFatura();" onBlur="formOnBlur(this); calculaDiaProximaFatura();"></td>
						<td align="right"><label>Carência:</label></td>
						<td><input type="text" size="4" maxlength="2" name="carencia" value="{$carencia}" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"><label>dias</label></td>
					</tr>
					<tr>
						<td align="right"><label>Pr&oacute;xima Fatura:</label></td>
						<td colspan=3 align="left" ><input type="text" size="12" maxlength="10" name="primeiro_vencimento_input" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
						<input type="hidden" name="primeiro_vencimento" value="" >
     			</tr>
					<tr>
						<td align="right"><label>Desconto:</label></td>
						<td><input type="text" size="6" maxlength="6" name="desconto_promo" value="{$desconto_promo}" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"><label>reais</label></td>
						<td align="right"><label>Período:</label></td>
						<td><input type="text" size="4" maxlength="2" name="periodo_desconto" value="{$periodo_desconto}" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"><label>meses</label></td>
					</tr>
					<tr>
						<td align="right" width="105"><label>Tx Instalação:</label></td>
						<td align="left" ><input type="text" size="6" maxlength="6" name="tx_instalacao" value="{$tx_instalacao}" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"><label>reais</label></td>
						<td align="right" ><label>Pro Rata:</label></td>
						<td align="left" ><select name="pro_rata" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
                {foreach item=d from=$lista_boolean}
								<option value='{$d.id}' {if $d.id == $pro_rata}SELECTED{/if}>{$d.nome}</option>
								{/foreach}
							</select>
							</td>
							<input type="hidden" name="limite_prorata" value="{$limite_prorata}" >
					</tr>
					<tr>
						<td align="right"><label>Comodato:</label></td>
						<td>
							<select name="comodato" onChange="javascript:contratoAlteraComodato()" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
								{foreach item=d from=$lista_boolean}
								<option value='{$d.id}' {if $d.id == $comodato}SELECTED{/if}>{$d.nome}</option>
								{/foreach}
							</select>
						</td>
						<td align="right"><label>v.comodato:</label></td>
						<td><input type="text" size="8" maxlength="6" name="valor_comodato" value="{$valor_comodato}" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"><label>reais</label></td>
					</tr>
				</table>
				<table width="360" cellspacing=0 cellpadding=0 class="boxContratacao">
					<tr>
						<th align="right" width="110"><label>Cobrança:</label></th>
						<th align="right" colspan=3>&nbsp;</th>
					</tr>
					<tr>
						<td align="right" width="110"><label>Pagamento:</label></td>
						<td colspan="3">
							<select name="pagamento" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
							{foreach key=k item=v from=$tiposPagamento}
								<option value="{$k}" {if $k==$pagamento}SELECTED{/if}>{$v}</option>
							{/foreach}
							</select>
						</td>
					</tr>
					<tr>
						<td align="right"><label>Forma Pgto:</label></td>
						<!--td colspan="4">&nbsp;
							<select name="forma_pagamento" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
							{foreach item=v from=$formasPagamento}
								<option id="{$v.id_forma_pagamento}">{$tiposFormaPgto[$v.tipo_cobranca]}{if $v.tipo_cobranca == "DA" || $v.tipo_cobranca == "BL"}: {$bancos[$v.codigo_banco]} - convênio {$v.convenio}{/if}</option>
							{/foreach}
							</select>
						</td-->
						<td colspan=2>
							<table border=0 class="lista" width="100%" cellspacing=0 cellpadding=0>
							{foreach name=registros key=tipo item=v from=$formasPagamento}
								{if count($v)}
									{if ($smarty.foreach.registros.iteration%2) }{assign var=estilo value='par'}{else}{assign var=estilo value='impar'}{/if}
									<tr>
										<td width="10" class='{$estilo}'><label><input type="radio" name="forma_pagamento" value="{$tipo}" onClick="javascript:contratoAlteraFormaPagamento()"></td>
										<td class='{$estilo}'>
											<b>{$tiposFormaPgto[$tipo]}</b><br><span style="font-family: arial; font-size: 8px;">
											{if count($v) == 1}
												{if $tipo == "PC" || $tipo == "DA" || $tipo == "BL"}{$bancos[$v.0.codigo_banco]} - convênio {$v.0.convenio}{else}Sistema manual com exportação.{/if}
												<input type="hidden" name="id_forma_pagamento_{$tipo}" value="{$v.0.id_forma_pagamento}">
											{else}
												<table border=0 cellpadding=0 cellspacing=0>
													<tr>
														<td>
															<select name="id_forma_pagamento_{$tipo}" class="fieldWithoutFocusFP" onFocus="javascript:formOnFocusSuf(this,'FP')" onBlur="javascript:formOnBlurSuf(this,'FP')" {if $tipo == "DA"}onChange="javascript:contratoAlteraFormaPagamentoDA()"{/if}>
																<option value="">-- SELECIONE --</option>
																{foreach item=f from=$v}
																	<option value="{$f.id_forma_pagamento}">
																		{if $tipo == "MO"}
																			{$f.id_forma_pagamento}
																		{/if}
																		{if $tipo == "DA" || $tipo == "BL"}
																			{$bancos[$f.codigo_banco]} - convênio {$f.convenio}
																		{/if}
																	</option>
																{/foreach}
															</select>
														</td>
													</tr>
													{if $tipo == "DA"}
													<tr>
														<td width="100%">
															<table border=0 cellspacing=0 cellpadding=0 width="100">
																<tr>
																	<td align="right"><label style="font-size: 8px">ag:</label>
																	<td><input type="text" size="8" maxlength="4" name="agencia" class="fieldWithoutFocusFP" onFocus="javascript:formOnFocusSuf(this,'FP')" onBlur="javascript:formOnBlurSuf(this,'FP' )"></td>
																	<td aling="right"><label style="font-size: 8px">cc:</label>
																	<td><input type="text" size="8" maxlength="10" name="conta" class="fieldWithoutFocusFP" onFocus="javascript:formOnFocusSuf(this,'FP')" onBlur="javascript:formOnBlurSuf(this,'FP')"></td>
																</tr>
															</table>
														</td>
													</tr>
													{/if}
												</table>
											{/if}
											</span>
											</label>
										</td>
									</tr>
								{/if}
							{/foreach}
							</table>

						</td>
					</tr>
				</table>
			</td>
			<td valign="top">
				<table width="360" cellspacing=0 cellpadding=0 class="boxContratacao">
					<tr>
						<th colspan=4 align="left">&nbsp; &nbsp;<label>Dados do Usuário:</label></th>
					</tr>
					<tr>
						<td align="right" width="110"><label>Username:</label></td>
						<td colspan=3><input type="text" size="30" maxlength="20" name="username" value="{$username}" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this);javascript:contratoAlteraUsername();"></td>
					</tr>
					<tr>
						<td align="right" width="110"><label>Senha:</label></td>
						<td colspan=3>
							<label>
								<input type="password" size="20" maxlength="20" name="senha" value="" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"><br>
								<input type="password" size="20" maxlength="20" name="confsenha" value="" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"> (confirme)
							</label>
						</td>
					</tr>
					<tr>
						<td align="right"><input type="checkbox" name="criar_email" value="t"></td>
						<td><label>criar email @{$preferenciasGerais.dominio_padrao} com usuário e senha acimas.</label></td>
					</tr>
				</table>
				<!-- BANDA LARGA-->
				<div id="boxTarget"></div>
				<div id="boxTemporaria"></div>
				<div id="boxBL" class="divBoxContratacao">
					<table width="360" cellspacing=0 cellpadding=0 class="boxContratacao">
						<tr>
							<th colspan=4 align="left">&nbsp; &nbsp;<label>Dados da Conexão:</label></th>
						</tr>
						<tr>
							<td align="right" width="110"><label>NAS:</label></td>
							<td colspan=3>
								<select onchange="javascript:alteraNas();" id="id_nas" name="id_nas" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
									<option value="">-- SELECIONE --</option>
								{foreach item=v from=$listaNAS}
									{if ($v.tipo_nas == "I") || ($v.tipo_nas == "P")}<option value="{$v.id_nas}">{$tiposNAS[$v.tipo_nas]}:{$v.nome}</option>{/if}
								{/foreach}
								</select>
								<input type="hidden" name="nas_orig" value="" />
							</td>
						</tr>
						<tr>
							<td align="right" width="110"><label>POP:</label></td>
							<td colspan=3>
								<select name="id_pop" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
									<option value="">-- SELECIONE --</option>
								{foreach item=v from=$listaPOP}
									<option value="{$v.id_pop}">{$v.nome}</option>
								{/foreach}
								</select>
							</td>
						</tr>
						<tr>
							<td align="right" width="110"><label>Rede/IP:</label></td>
							<td colspan=3>
								<select name="selecao_redeip" id="selecao_redeip" onChange="contratoAlteraEndereco()" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
									<option value="A">Automática</option>
									<option value="M">Manual</option>
								</select>
								<input type="text" name="endereco_redeip" id="endereco_redeip" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
							</td>
						</tr>
						<tr>
							<td align="right" width="110"><label>MAC:</label></td>
							<td colspan=3>
								<input type="text" name="mac" id="mac" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
							</td>
					</table>
				</div>
				<!-- DISCADO -->
				<div id="boxD" class="divBoxContratacao">
					<table width="360" cellspacing=0 cellpadding=0 class="boxContratacao">
						<tr>
							<th colspan=4 align="left">&nbsp; &nbsp;<label>Dados do Acesso:</label></th>
						</tr>
						<tr>
							<td align="right" width="110"><label>Fone:</label></td>
							<td colspan=3><input type="text" size="30" maxlength="20" name="foneinfo" value="{$foneinfo}" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
						</tr>
					</table>
				</div>
				<!-- ENDERECO INSTALACAO -->
				<div id="boxEI" class="divBoxContratacao">
					<table width="360" cellspacing=0 cellpadding=0 class="boxContratacao">
						<tr>
							<th colspan=4 align="left">&nbsp; &nbsp;<label>Endere&ccedil;o de Instala&ccedil;&atilde;o:</label></th>
						</tr>
						<tr>
						<td colspan=4 >
							<input type="checkbox" name="difEnderecoSetup" id="difEnderecoSetup" OnClick="checkStatusFields(this);" ><label>Especificar outro endere&ccedil;o  pra instala&ccedil;&atilde;o:</label>
						</td>
						</tr>
						<tr>
							<td align="right" width="110"><label>Endere&ccedil;o:</label></td>
							<td colspan=3><input type="text" size="46" maxlength="50" disabled name="endereco_instalacao" id="endereco_instalacao" value="{$endereco}" class="disabled" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
						</tr>
						<tr>
							<td align="right" width="110" ><label>Complemento:</label></td>
							<td align="left" ><input type="text" size="16" maxlength="30" disabled name="complemento_instalacao" id="complemento_instalacao" value="{$complemento}" class="disabled" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
							<td align="right" ><label>Bairro:</label></td>
							<td align="left" ><input type="text" size="16" maxlength="30" disabled name="bairro_instalacao" id="bairro_instalacao" value="{$bairro}" class="disabled" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
						</tr>
						<tr>
							<td align="right" width="110"><label>CEP:</label>
							<td align="left" colspan=3><input type="text" size="16" disabled maxlength="30" name="cep_instalacao" id="cep_instalacao" value="{$cep}" class="disabled" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
						</tr>
						<tr>
							<td align="right" ><label>Cidade:</label></td>
							<td align="left" colspan=4 >
								<select  class="disabled" style="width:210px" disabled name="id_cidade_instalacao" id="id_cidade_instalacao" tabindex="10" class="disabled" onBlur="javascript:formOnBlur(this)" onFocus="javascript:formOnFocus(this)">
								{foreach item=a from=$cidades_disponiveis}

								<option value='{$a.id_cidade}' {if $a.id_cidade == $id_cidade}selected{/if}>{$a.cidade}
								- {$a.uf}</option>
								{/foreach}
							</td>
						</tr>
					</table>
				</div>
				<!-- HOSPEDAGEM -->
				<div id="boxH" class="divBoxContratacao">
					<table width="360" cellspacing=0 cellpadding=0 class="boxContratacao">
						<tr>
							<th colspan=4 align="left">&nbsp; &nbsp;<label>Dados da Hospedagem:</label></th>
						</tr>
						<tr>
							<td align="right" width="110"><label>Tipo:</label></td>
							<td colspan=3>
								<select name="tipo_hospedagem" onChange="javascript:contratoAlteraTipoHospedagem()" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
									<option value="D">Domínio do Usuário</option>
									<option value="U">www.{$preferenciasGerais.dominio_padrao}/usuario/username</option>
								</select>
							</td>
						<tr>
							<td align="right" width="110"><label>Criar:</label></td>
							<td colspan=3><label style="margin-right: 0px">www.</label><input type="text" size="30" maxlength="20" name="dominio" value="{$dominio}" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
						</tr>
					</table>
				</div>

			</td>
		</tr>
		<tr colspan=2 valign="top">
			<td style="border-top: dotted 1px #000000" colspan=2 align="center">
				<input type="button" name="prosseguir" value="Cancelar" class="botao" onClick="return Cancelar()"> <input type="submit" name="submit" value="Prosseguir" class="botao">
			</td>
		</tr>
	</table>
	<script language="JavaScript">
	contratoAlteraTipo();
	</script>
{/if}

{if $acao == "gravar_novo_contrato"}


<table border=0 cellspacing=0 cellpadding=0 width="600" align="center">
		<tr>
			<td align="center">Produto Cadastrado com Sucesso</td>
		</tr>
		<tr>
				<td align="center"><a href="" class="lista">Impressão do Contrato</a></td>
		</tr>
		{ if $gera_carne }
		<tr>
				<td align="center"><a href="" class="lista">Impressão do Carnê</a></td>
		</tr>
		{/if}
</table>

{/if}


{if $acao == "novo_contrato"}
	<!-- CONFIRMAÇÃO DO CONTRATO -->
	<input type="hidden" name="acao" value="gravar_novo_contrato">

	<table class="lista" border=0 cellspacing=0 cellpadding=0 width="600" align="center">
		<tr>
			<th colspan=4>Contratante - Cobran&ccedil;a</th>
		</tr>
		<tr>
			<td width="110" align="right"><strong>{if $cliente.tipo_pessoa == "F"}Nome{else}Razão Social{/if}:</strong></td>
			<td colspan=4>{$cliente.nome_razao}</td>
			<input type=hidden name="id_cliente" value="{$id_cliente}" >
		</tr>
		<tr>
			<td width="110" align="right"><strong>{if $cliente.tipo_pessoa == "F"}CPF:{else}CNPJ:{/if}</strong></td>
			<td>{$cliente.cpf_cnpj}&nbsp;</td>
			<td width="110" align="right"><strong>{if $cliente.tipo_pessoa == "F"}RG:{else}Inscrição{/if}</strong></td>
			<td>{$cliente.rg_inscr}&nbsp;</td>
		</tr>
		<tr>
			<td width="110" align="right"><strong>Endereço:</strong></td>
			<td>{$endereco_cobranca}&nbsp;</td>
			<input type=hidden name="endereco_cobranca" value="{$endereco_cobranca}" >

			<td width="110" align="right"><strong>Complemento:</strong></td>
			<td>{$complemento_cobranca}&nbsp;</td>
      <input type=hidden name="complemento_cobranca" value="{$complemento_cobranca}" >

		</tr>
		<tr>
			<td width="110" align="right"><strong>Bairro:</strong></td>
			<td>{$bairro_cobranca}&nbsp;&nbsp;&nbsp;<strong>CEP:</strong>&nbsp;{$bairro_cobranca}</td>
			<input type=hidden name="bairro_cobranca" value="{$bairro_cobranca}" ><input type=hidden name="cep_cobranca" value="{$cep_cobranca}" >

			<td width="110" align="right"><strong>Cidade:</strong></td>
			<td>{$cidade_cobranca.cidade}-{$cidade_cobranca.uf}&nbsp;</td>
			<input type=hidden name="id_cidade_cobranca" value="{$cidade_cobranca.id_cidade}" >

		</tr>
	</table>

	{if $tipo!= "H" }
	   <br>
	<table class="lista" border=0 cellspacing=0 cellpadding=0 width="600" align="center">
		<tr>
			<th colspan=4>Contratante - Instala&ccedil;&atilde;o</th>
		</tr>
		<tr>
			<td width="110" align="right"><strong>Endereço:</strong></td>
			<td>{$endereco_instalacao}&nbsp;</td>
      <input type=hidden name="endereco_instalacao" value="{$endereco_instalacao}" >

			<td width="110" align="right"><strong>Complemento:</strong></td>
			<td>{$complemento_instalacao}&nbsp;</td>
			<input type=hidden name="complemento_instalacao" value="{$complemento_instalacao}" >

		</tr>
		<tr>
			<td width="110" align="right"><strong>Bairro:</strong></td>
			<td>{$bairro_instalacao}&nbsp;&nbsp;&nbsp;<strong>CEP:</strong>&nbsp;{$bairro_instalacao}</td>
			<input type=hidden name="bairro_instalacao" value="{$bairro_instalacao}" ><input type=hidden name="cep_instalacao" value="{$cep_instalacao}" >

      <td width="110" align="right"><strong>Cidade:</strong></td>
			<td>{$cidade_instalacao.cidade}-{$cidade_instalacao.uf}&nbsp;</td>
			<input type=hidden name="id_cidade_instalacao" value="{$cidade_instalacao.id_cidade}" >

		</tr>
	</table>
	{/if}
	<br>
	<table class="lista" border=0 cellspacing=0 cellpadding=0 width="600" align="center">
		<tr>
			<th colspan=6>Contrato</th>
		</tr>
		<tr>
			<td width="110" align="right"><strong>Tipo:</strong></td>
      <input type=hidden name="tipo" value="{$tipo}" >
      <input type=hidden name="id_produto" value="{$produto.id_produto}" >

			<td>{if $tipo == "BL"}BANDA LARGA{/if}{if $tipo == "D"}DISCADO{/if}{if $tipo == "H"}HOSPEDAGEM{/if}</td>
			<td width="110" align="right"><strong>Produto:</strong></td>
			<td>{$produto.nome}&nbsp;</td>
			<td width="110" align="right"><strong>Valor:</strong></td>
			<td>{if $produto.valor}{$produto.valor|string_format:"%.2f"}{else}cortesia{/if}</td>
		</tr>
		{if $produto.valor}
		<tr>
			<td width="110" align="right"><strong>Comodato:</strong></td>
			<td>{$valor_comodato|string_format:"%.2f"}&nbsp;</td>
			<input type=hidden name="valor_comodato" value="{$valor_comodato}" >

			<td width="110" align="right"><strong>Tx Instalação:</strong></td>
			<td>{$tx_instalacao|string_format:"%.2f"}</td>
			<input type=hidden name="tx_instalacao" value="{$tx_instalacao}" >

			<td width="110" align="right"><strong></strong></td>
			<td></td>

		</tr>
		<tr>
			<td width="110" align="right"><strong>Desconto:</strong></td>
			<td>{$desconto_promo|string_format:"%.2f"}&nbsp;</td>
			<input type=hidden name="desconto_promo" value="{$desconto_promo}" >

			<td width="110" align="right"><strong>Período Desconto:</strong></td>
			<td>{$periodo_desconto} meses</td>
			<input type=hidden name="periodo_desconto" value="{$periodo_desconto}" >

			<td width="110" align="right"><strong>Data Contratação:</strong></td>
			<td>{$data_contratacao}</td>
			<input type=hidden name="data_contratacao" value="{$data_contratacao}" >

		</tr>
		<tr>
			<td width="110" align="right"><strong>Dia Vencimento:</strong></td>
			<td>{$dia_vencimento}&nbsp;</td>
			<input type=hidden name="dia_vencimento" value="{$dia_vencimento}" >

			<td width="110" align="right"><strong>Vigência:</strong></td>
			<td>{$vigencia} meses</td>
			<input type=hidden name="vigencia" value="{$vigencia}" >

			<td width="110" align="right"><strong>Carência:</strong></td>
			<td>{$carencia} dias</td>
			<input type=hidden name="carencia" value="{$carencia}" >

		</tr>
		<tr>
			<td width="110" align="right"><strong>Pagamento:</strong></td>
			<td>{if $pagamento == "PRE"}Pré Pago{else}Pós Pago{/if}</td>
			<input type=hidden name="pagamento" value="{$pagamento}" >
			<input type=hidden name="id_forma_pagamento" value="{if $forma_pagamento == 'BL'}{$id_forma_pagamento_BL}{/if}{if $forma_pagamento == 'DA'}{$id_forma_pagamento_DA}{/if}{if $forma_pagamento == 'MO'}{$id_forma_pagamento_MO}{/if}{if $forma_pagamento == 'PC'}{$id_forma_pagamento_PC}{/if}" >

 			<td width="110" align="right"><strong>Forma Pgto:</strong></td>
			<td><span style="font-family: arial; font-size: 9px;">{if $forma_pagamento == "PC" || $forma_pagamento == "DA" || $forma_pagamento == "BL"}{$tiposFormaPgto[$forma_pagamento]} {$bancos[$formaPagamento.codigo_banco]} - convênio {$formaPagamento.convenio}{else}Sistema manual com exportação.{/if}</span></td>
			<input type=hidden name="forma_pagamento" value="{$forma_pagamento}" >
    {if $forma_pagamento == "BL"}
      <input type=hidden name="bl_codigo_banco" value="{$formaPagamento.codigo_banco}" >
      <input type=hidden name="bl_carteira" value="{$formaPagamento.carteira}" >
      <input type=hidden name="bl_convenio" value="{$formaPagamento.convenio}" >
    {/if}
      <td width="110" align="right"><strong>Pr&oacute;xima Fatura:</strong></td>
			<td>{$primeiro_vencimento}</td>
			<input type=hidden name="primeiro_vencimento" value="{$primeiro_vencimento}" >
    {if $forma_pagamento == "BL" || $forma_pagamento == "DA"}
      <input type=hidden name="codigo_banco" value="{$formaPagamento.codigo_banco}" >
      <input type=hidden name="carteira" value="{$formaPagamento.carteira}" >
      <input type=hidden name="convenio" value="{$formaPagamento.convenio}" >
      <input type=hidden name="agencia" value="{$formaPagamento.agencia}" >
      <input type=hidden name="conta" value="{$formaPagamento.conta}" >
    {/if}
  	</tr>
		{if $forma_pagamento == "DA"}
		<tr>
			<td width="110" align="right"><strong>Banco:</strong></td>
			<td>{$formaPagamento.codigo_banco|string_format:"%03d"}</td>
      <input type=hidden name="da_codigo_banco" value="{$formaPagamento.codigo_banco}" >
      <input type=hidden name="da_carteira" value="{$formaPagamento.carteira}" >
      <input type=hidden name="da_convenio" value="{$formaPagamento.convenio}" >

			<td width="110" align="right"><strong>Agencia:</strong></td>
			<td>{$agencia}</td>
      <input type=hidden name="da_agencia" value="{$agencia}" >

			<td width="110" align="right"><strong>Conta:</strong></td>
			<td>{$conta}</td>
			<input type=hidden name="da_conta" value="{$conta}" >

		</tr>
		{/if}
		{/if}
	</table>
	<br>
	<table class="lista" border=0 cellspacing=0 cellpadding=0 width="600" align="center">
		<tr>
			<th colspan=6>Detalhes da Conta</th>
		</tr>
		<tr>
			<!--td width="110" align="right"><strong>Tipo:</strong></td>
			<td>{if $tipo == "BL"}Banda Larga{/if}{if $tipo == "D"}Discado{/if}{if $tipo == "H"}Hospedagem{/if}</td-->
			<td width="110" align="right"><strong>Username:</strong></td>
			<td>{$username}</td>
			<input type=hidden name="username" value="{$username}" >
			<input type=hidden name="senha" value="{$senha}" >

			<td width="110" align="right"><strong>Criar e-mail:</strong></td>
			<td>{if $criar_email == "t"}{$username}@{$preferenciasGerais.dominio_padrao}{else}NÃO{/if}</td>
			<input type=hidden name="criar_email" value="{$criar_email}" >

		</tr>
		{if $tipo == "BL"}
		<tr>
			<td width="110" align="right"><strong>Upload:</strong></td>
			<td>{$produto.banda_upload_kbps} kbps</td>

			<td width="110" align="right"><strong>Download:</strong></td>
			<td>{$produto.banda_download_kbps} kbps</td>
		</tr>
		<tr>
			<td width="110" align="right"><strong>NAS:</strong></td>
			<td>{$nas.nome} ({$tiposNAS[$nas.tipo_nas]})</td>
			<input type=hidden name="id_nas" value="{$nas.id_nas}" >

			<td width="110" align="right"><strong>POP:</strong></td>
			<td>{$pop.nome}</td>
			<input type=hidden name="id_pop" value="{$pop.id_pop}" >

		</tr>
		<tr>
			<td width="110" align="right"><strong>Rede/IP:</strong></td>
			<td>{if $selecao_redeip=="A"}Automática{else}{$endereco_redeip}{/if}</td>
			<input type=hidden name="selecao_redeip" value="{$selecao_redeip}" >

			<td width="110" align="right"><strong>MAC:</strong></td>
			<td>{if $mac}{$mac}{else}Não Informado{/if}</td>
			<input type=hidden name="mac" value="{$mac}" >

		</tr>
		{/if}

    {if $tipo == "D"}
    <tr>
			<td width="110" align="right"><strong>Fone:</strong></td>
			<td colspan=4>{$foneinfo}</td>
			<input type=hidden name="foneinfo" value="{$foneinfo}" >

		</tr>
		{/if}

		{if $tipo == "H"}
    <tr>
			<td width="110" align="right"><strong>Tipo:</strong></td>
			<td >{if $tipo_hospedagem == "D"}Dom&iacute;nio do Usu&aacute;rio{else}www.{$preferenciasGerais.dominio_padrao}/usuario/username{/if}</td>
      <input type=hidden name="tipo_hospedagem" value="{$tipo_hospedagem}" >

      <td width="110" align="right"><strong>Criar Dominio:</strong></td>
			<td>www.{$dominio}</td>
			<input type=hidden name="dominio" value="{$dominio}" >

		</tr>
		{/if}


	</table>
	<br>


	<!-- FATURAS QUE SERAO CADASTRADAS -->
	<table class='lista' width='600' cellpadding=0 cellspacing=0 align="center" style="border: solid 1px #000000;">
		<tr>
			<th colspan=2 style="border-right: solid 2px #000000;">faturas</th>
			<th colspan=5>composição dos valores</th>
		</tr>
		<tr>
			<td bgcolor="#f0f0f0" align="center" style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">Data</td>
			<td bgcolor="#f0f0f0" align="center" style="border-right: solid 2px #000000; border-bottom: solid 1px #000000;">Valor(=)</td>
			<td bgcolor="#f0f0f0" align="center" style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">Plano(+)</td>
			<td bgcolor="#f0f0f0" align="center" style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">Comodato(+)</td>
			<td bgcolor="#f0f0f0" align="center" style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">Pró-Rata (dias)</td>
			<td bgcolor="#f0f0f0" align="center" style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">Desconto(-)</td>
			<td bgcolor="#f0f0f0" align="center" style="border-bottom: solid 1px #000000;">Tx. Instalação(+)</td>
		{foreach name=registros item=f from=$faturas}
		{if ($smarty.foreach.registros.iteration%2) }{assign var=estilo value='par'}{else}{assign var=estilo value='impar'}{/if}
		<tr>
			<td class='{$estilo}' aling="center" style="border-right: solid 1px #000000;">{$f.data}</td>
			<td class='{$estilo}' align="right" style="border-right: solid 2px #000000;">{$f.valor|string_format:"%.2f"}</td>
			<!-- COMPOSICAO DE VALORES -->
			<td class='{$estilo}' align="right" style="border-right: solid 1px #000000;">{if $f.composicao.prorata_plano}{$f.composicao.prorata_plano|string_format:"%.2f"}{else}{if $f.composicao.valor}{$f.composicao.valor|string_format:"%.2f"}{else}-{/if}{/if}</td>
			<td class='{$estilo}' align="right" style="border-right: solid 1px #000000;">{if $f.composicao.prorata_comodato}{$f.composicao.prorata_comodato|string_format:"%.2f"}{else}{if $f.composicao.comodato}{$f.composicao.comodato|string_format:"%.2f"}{else}-{/if}{/if}</td>
			<td class='{$estilo}' align="right" style="border-right: solid 1px #000000;">{if $f.composicao.dias_prorata}{$f.composicao.dias_prorata}{else}-{/if}</td>
			<td class='{$estilo}' align="right" style="border-right: solid 1px #000000;">{if $f.composicao.desconto.valor}{$f.composicao.desconto.parcela}: {$f.composicao.desconto.valor|string_format:"%.2f"}{else}-{/if}</td>
			<td class='{$estilo}' align="right">{if $f.composicao.instalacao}{$f.composicao.instalacao|string_format:"%.2f"}{else}-{/if}</td>
		</tr>
		{/foreach}
	</table>

	<table border=0 align=center >

  	<tr colspan=2 valign="top">
  		<td style="border-top: dotted 1px #000000" colspan=2 align="center">
  			<input type="button" name="prosseguir" value="Cancelar" class="botao" onClick="return Cancelar()"> <input type="submit" name="submit" value="Gravar Contrato" class="botao">
  		</td>
  	</tr>

  </table>

{/if}

</form>