<html>
<head>
	<title></title>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="clientes_header.html"}

<style>
{literal}

.form_pesquisa {
	width: 400px;
}

.pesquisa_titulo {
	font-family: verdana;
	font-size: 12px;
	font-color:
}

label {
	font-family: verdana;
	font-size: 12px;
	margin-right: 10px;
	margin-bottom: 0px;
}

{/literal}
</style>

<script language="javascript1.2" >
{literal}

	function NovoChamado(id_cliente) {
		self.location = "admin-clientes.php?op=helpdesk&tela=cadastro&id_cliente=" + id_cliente;
	}

	function AlterarChamado(id_chamado, id_cliente) {
		self.location = "admin-clientes.php?op=helpdesk&tela=alteracao&id_chamado=" + id_chamado + "&id_cliente=" + id_cliente;
	}
{/literal}
</script>

	<br /><br />
	<center>

	<table border=0 width="700">
		<tr>
			<td align="left"><label><b>Chamados abertos:</b></label></td>
			<td align="right"><input type="button" name="botao" class="botao" value="Novo Chamado" onclick="javascript: NovoChamado({$id_cliente});" /></td>
		</tr>
		<tr>
			<td colspan=2>
				<table class='lista' border=0 width='100%' cellpadding=0 cellspacing=0 align="center">
					{if count($chamados_pendentes)}
					<tr>
						<th align="center">COD</th>
						<th align="center">ABERTURA</th>
						<th align="center">TIPO</th>
						<th align="center">STAT.</th>
						<th align="center">GRUPO/RESP</th>
						<th align="left">ASSUNTO</th>
					</tr>
					{/if}
					{foreach name=registros item=r from=$chamados_pendentes}
					{if ($smarty.foreach.registros.iteration%2) }{assign var=estilo value='par'}{else}{assign var=estilo value='impar'}{/if}
					<tr>
						<td align='right' align="center" width="40" class='{$estilo}'><a href="javascript:AlterarChamado('{$r.id_chamado}', '{$id_cliente}')">{$r.id_chamado|string_format:"%05d"}</a></td>
						<td class='{$estilo}' align="center" width="140"><a href="javascript:AlterarChamado('{$r.id_chamado}', '{$id_cliente}')">{$r.abertura|date_format:"%d-%m-%Y / %H:%M"|upper}</a></td>
						<td class='{$estilo}' align="center" width="50"><a href="javascript:AlterarChamado('{$r.id_chamado}', '{$id_cliente}')">{$r.tipo}</a></td>
						<td class='{$estilo}' align="center" width="50"><a href="javascript:AlterarChamado('{$r.id_chamado}', '{$id_cliente}')">{$r.status}</a></td>
						<td class='{$estilo}' align="center" width="150"><a href="javascript:AlterarChamado('{$r.id_chamado}', '{$id_cliente}')">{$grupos[$r.id_grupo]} {if $r.responsavel}<br /><b>{$responsaveis[$r.responsavel]}</b>{/if}</a></td>
						<td class='{$estilo}' width="250"><a href="javascript:AlterarChamado('{$r.id_chamado}', '{$id_cliente}')">{$r.assunto}</a></td>
					</tr>
					{foreachelse}
					<tr>
						<td height="110" valign="middle" align="center"><B>NÃO HÁ CHAMADOS ABERTOS DESTE CLIENTE</B></td>
					</tr>
					{/foreach}

					{if count($chamados_pendentes)}
					<tr>
						<td colspan="6" style="border-top: 1px solid #000">
							<table border=0 >
								<tr>
									<td><strong>Legenda</strong><td>
									<td align="right"><b>TIPO:</b><td>
									<td align="left"><b>CH</b> (Chamado) - <b>OC</b> (Pendente com o Responsável) - <b>OS</b> (Ordem de Serviço)
								</tr>

								<tr>
									<td><strong>&nbsp;</strong><td>
									<td align="right"><b>STATUS:</b><td>
									<td align="left"><b>A</b> (Aberto) - <b>N</b> (Novo) - <b>P</b> (Pendente com o Responsável) - <b>PC</b> (Pendente com o Cliente)<td>
								</tr>
							</table>
						</td>
					</tr>
					{/if}

				</table>
			</td>
		</tr>
	</table>


	<!-- CHAMADOS TERMINADOS -->
	{if count($chamados_terminados)}

	<br /><br />

	<table border=0 width="700">
		<tr>
			<td align="center"><label><b>Histórico de Chamados</b></label></td>
		</tr>
		<tr>
			<td>
				<table class='lista' border=0 width='100%' cellpadding=0 cellspacing=0 align="center">
					{if count($chamados_pendentes)}
					<tr>
						<th align="center">COD</th>
						<th align="center">ABERT/FECH</th>
						<th align="center">TIPO</th>
						<th align="center">STAT.</th>
						<th align="center">GRUPO/RESP</th>
						<th align="left">ASSUNTO</th>
					</tr>
					{/if}
					{foreach name=registros item=r from=$chamados_terminados}
					{if ($smarty.foreach.registros.iteration%2) }{assign var=estilo value='par'}{else}{assign var=estilo value='impar'}{/if}
					<tr>
						<td align='right' align="center" width="40" class='{$estilo}'><a href="javascript:AlterarChamado('{$r.id_chamado}', '{$id_cliente}')">{$r.id_chamado|string_format:"%05d"}</a></td>
						<td class='{$estilo}' align="center" width="140"><a href="javascript:AlterarChamado('{$r.id_chamado}', '{$id_cliente}')">{$r.abertura|date_format:"%d-%m-%Y / %H:%M"|upper}<br/><b>{$r.fechamento|date_format:"%d-%m-%Y / %H:%M"|upper}</b></a></td>
						<td class='{$estilo}' align="center" width="50"><a href="javascript:AlterarChamado('{$r.id_chamado}', '{$id_cliente}')">{$r.tipo}</a></td>
						<td class='{$estilo}' align="center" width="50"><a href="javascript:AlterarChamado('{$r.id_chamado}', '{$id_cliente}')">{$r.status}</a></td>
						<td class='{$estilo}' align="center" width="150"><a href="javascript:AlterarChamado('{$r.id_chamado}', '{$id_cliente}')">{$grupos[$r.id_grupo]} {if $r.responsavel}<br /><b>{$responsaveis[$r.responsavel]}</b>{/if}</a></td>
						<td class='{$estilo}' width="250"><a href="javascript:AlterarChamado('{$r.id_chamado}', '{$id_cliente}')">{$r.assunto}</a></td>
					</tr>
					{/foreach}
					<tr>
						<td colspan="6" style="border-top: 1px solid #000">
							<table border=0 >
								<tr>
									<td><strong>Legenda</strong><td>
									<td align="right"><b>TIPO:</b><td>
									<td align="left"><b>CH</b> (Chamado) - <b>OC</b> (Pendente com o Responsável) - <b>OS</b> (Ordem de Serviço)
								</tr>

								<tr>
									<td><strong>&nbsp;</strong><td>
									<td align="right"><b>STATUS:</b><td>
									<td align="left"><b>OK</b> (Resolvido) - <b>F</b> (Fechado)<td>
								</tr>
							</table>
						</td>
					</tr>
					{if count($chamados_pendentes)}
					{/if}

				</table>
			</td>
		</tr>
	</table>

	{/if}

	</center>



</body>
</html>
