<script language="JavaScript">
{literal}
function abreCarne(id_carne,id_cliente,id_cliente_produto) {
	url = "admin-clientes.php?op=contrato&tela=imprime_carne&id_cliente="+id_cliente+"&id_cliente_produto="+id_cliente_produto+"&id_carne="+id_carne;
	window.open(url,"carne_"+id_carne,'scrollbars=yes,width=700,height=500');
}
{/literal}
</script>
<br />


{if $acao == "carnes"}
	<!-- CONFIRMAÇÃO DO CONTRATO -->
	<table class="lista" border=0 cellspacing=0 cellpadding=0 width="600" align="center">
		<tr>
			<th colspan="6" style="background: #bFd0a0">Carn&ecirc;s</th>
		</tr>
		<tr class="lista" style="background: #bFd0aF">
			<td>Id</th>
			<td>Data Geração</th>
			<td>Qtde.</th>
			<td>Valor</th>
			<td>Status</th>
			<td>&nbsp;</th>
		</tr>
		{foreach from=$faturas item=f}
		<tr>
			<td>{$f.id_carne|string_format:"%08d"}</td>
			<td>{$f.data_geracao}</td>
			<td>{$f.total_fatura}</td>
			<td>{$f.valor}</td>
			<td>{$f.status}</td>
			<td aling="right" width="130">
				[<a href="admin-clientes.php?op=contrato&tela=faturas&id_cliente={$id_cliente}&id_cliente_produto={$smarty.request.id_cliente_produto}&id_forma_pagamento={$smarty.request.id_forma_pagamento}&id_carne={$f.id_carne}">Faturas</a>]
				[<a href="javascript:abreCarne({$f.id_carne},{$id_cliente},{$smarty.request.id_cliente_produto})">Imprimir</a>]
			</td>
		</tr>
		{/foreach}
	</table>
 </table>

{/if}


{if $acao == "faturas"}
	<!-- CONFIRMAÇÃO DO CONTRATO -->
	<table class="lista" border=0 cellspacing=0 cellpadding=0 width="600" align="center">
		{ if $tem_carne }
		<tr>
				<th colspan="7" style="background: #bFd0a0">Carn&ecirc; { $smarty.request.id_carne|string_format:"%08d" }</th>
		</tr>
		{ /if }
		<tr class="lista" style="background: #bFd0aF;">
			<td>Vencimento</th>
			<td>Descrição</th>
			<td>Valor</th>
			<td>Vl. Pago</th>
			<td>Dt. Pagto</th>
			<td>Reagend.</th>
			<td>Status</th>
		</tr>
		{foreach from=$faturas item=f}
		<tr>
			<td><a href="admin-clientes.php?op=contrato&tela=amortizacao&id_cliente={$id_cliente}&id_cliente_produto={$f.id_cliente_produto}&data={$f.data_orig}">{$f.data}</a></td>
			<td><a href="admin-clientes.php?op=contrato&tela=amortizacao&id_cliente={$id_cliente}&id_cliente_produto={$f.id_cliente_produto}&data={$f.data_orig}">{$f.descricao}</a></td>
			<td><a href="admin-clientes.php?op=contrato&tela=amortizacao&id_cliente={$id_cliente}&id_cliente_produto={$f.id_cliente_produto}&data={$f.data_orig}">{$f.valor}</a></td>
			<td><a href="admin-clientes.php?op=contrato&tela=amortizacao&id_cliente={$id_cliente}&id_cliente_produto={$f.id_cliente_produto}&data={$f.data_orig}">{$f.valor_pago}</a></td>
			<td><a href="admin-clientes.php?op=contrato&tela=amortizacao&id_cliente={$id_cliente}&id_cliente_produto={$f.id_cliente_produto}&data={$f.data_orig}">{$f.data_pagamento}</a></td>
			<td><a href="admin-clientes.php?op=contrato&tela=amortizacao&id_cliente={$id_cliente}&id_cliente_produto={$f.id_cliente_produto}&data={$f.data_orig}">{$f.reagendamento}</a></td>
			<td><a href="admin-clientes.php?op=contrato&tela=amortizacao&id_cliente={$id_cliente}&id_cliente_produto={$f.id_cliente_produto}&data={$f.data_orig}">{$f.status}</a></td>
		</tr>
		{/foreach}
	</table>
 </table>
{/if}