
<script type="text/javascript">
<!--
	
	{literal}
	
	function cancelar(id){
		window.open("admin-clientes.php?op=contrato&tela=faturas&id_cliente="+id,"conteudo");		
	}	
	
	function pagamentoHoje(){
		var obj = $('data_pagamento');
		var data = new Date();
		hoje = data.getDate() +"/"+ (data.getMonth() + 1) + "/" + data.getFullYear();
		obj.value = hoje;
	}
	
	function pagamentoVencimento(){
		var obj = $('data_pagamento');		
		obj.value = '{/literal}{$data}{literal}';
	}
	
	
	function validaForm() {
		
		var observacoes		= $('observacoes');
		var reagendamento	= $('reagendamento');
		var reagendar		= $('reagendar');
		var famortizar		= $('amortizar');
		var fpagamento		= $('data_pagamento');
		var fpendente		= $('valor_pendente');
		
		if("" == famortizar.value){
			alert('Informe o valor recebido!');
			famortizar.focus();
			return false;
		}
		
		if("" == fpagamento.value){
			alert('Informe a data do pagamento!');
			fpagamento.focus();
			return false;
		}
		
		
		if( (fpendente.value == 0) && (reagendar.checked) ){
			alert("Não é possivel re-agendar e quitar a fatura ao mesmo tempo!");
			return false;
		}
		
		if( fpendente.value < 0){
			alert("Valor a receber excede o valor pendente!");
			fpendente.focus();
			return false;
		}
		
		
		
		calculaValores();
		
		
		
		if(reagendar.checked){
			if("" == reagendamento.value){
				alert("Informar a data de re-agendamento!");
				reagendamento.focus();
				return false;
			}
			
			if("" == observacoes.value){
				alert("Informar o motivo do re-agendamento!");
				observacoes.focus();
				return false;
			}
		}    
		
		return true;
	}
	
	function calculaValores() {
		var fpendente		= $('valor_pendente');
		var frestante		= $('valor_restante');
		var fstatus			= $('status');
		var fvalor			= $('valor');
		var fdesconto		= $('desconto');
		var fpagto_parcial	= $('pagto_parcial');
		var facrescimo		= $('acrescimo');
		var famortizar		= $('amortizar');
		
		fdesconto.value = fdesconto.value.replace(",","."); 
		facrescimo.value = facrescimo.value.replace(",",".");
		famortizar.value = famortizar.value.replace(",",".");
	
		var vtotal		= new Number( fvalor.value );
		var vdesconto	= new Number( fdesconto.value );
		var vparcial	= new Number( fpagto_parcial.value );
		var vacrescimo	= new Number( facrescimo.value );
		var calculado = new Number(vtotal - vdesconto - vparcial + vacrescimo);
		frestante.value =  calculado.toFixed(2);
		
				
		var vamortizar	= new Number( famortizar.value );
		var calculado2 = new Number(calculado - vamortizar);		
		fpendente.value =  calculado2.toFixed(2);
		
		if(calculado2 < 0){
			alert('Valor a receber excede o valor pendente! ');
		} else {
			if(fpendente.value == 0 ){				
				fstatus.value = 'P';
			} else {
				if(fpendente.value < frestante.value){					
					fstatus.value = 'R';
				} else {					
					fstatus.value = 'A';
				}
			}
		}
	}
	
	
	function amortizarTudo(){
		var vamortizar	= $('amortizar');
		vamortizar.value = $('valor_restante').value;
		calculaValores();
	}
	
	function formatar(src, mask) {
		var i = src.value.length;
		var saida = mask.substring(0,1);
		var texto = mask.substring(i)
		if (texto.substring(0,1) != saida){
			src.value += texto.substring(0,1);
		}
	}

	function Tecla(e){
		if (document.all){ // Internet Explorer
			var tecla = event.keyCode;
		} else if(document.layers) { // Nestcape
			var tecla = e.which;
		}
		if (tecla != 92 && tecla != 47 && tecla != 45){
			return true;
		} else{
			if (tecla != 8){ // backspace
				event.keyCode = 0;
				//return false;
			} else {
				return true;
			}
		}
	}
	
	function verificaReagendamento() {
		freagendar.checked = true;
	}
	{/literal}
//-->
</script>
<br />
<center>
<div id=#conteiner_paga>
<form name="formulario" method="post" action="admin-clientes.php" onsubmit="return validaForm()">
	<input type="hidden" name="acao" value="alt" />
	<input type="hidden" name="op" value="contrato" />
	<input type="hidden" name="tela" value="amortizacao" />
	<input type="hidden" name="id_cliente" value="{$id_cliente}" />
	<input type="hidden" name="id_cliente_produto" value="{$id_cliente_produto}" />
	<input type="hidden" name="id_cobranca" value="{$id_cobranca}" />
<table border="0">
	{if $msg_erro}
	<tr>
		<td colspan='2' class="erro">{$msg_erro}</td>
	</tr>
	{/if}
	<tr>
		<td>
			<table border="0" class="lista">
				<tr>
					<th colspan="2" ><strong>Fatura</strong></th>
				</tr>
				<tr>
					<td class="cellLabel">Referente à:</td>
					<td class="cellInfo">{$descricao}</td>
				</tr>
				<tr>
					<td class="cellLabel">Vencimento:</td>
					<td class="cellInfo">{$data}</td>
				</tr>
				<tr>
					<td class="cellLabel">Valor Total:</td>
					<td class="cellInfo"><input type="text" name="valor" id="valor" value="{$valor}" disabled="disabled" class="disabled" /></td>
				</tr>
				<tr>
					<td class="cellLabel">Valor já pago(-):</td>
					<td class="cellInfo"><input type="text" name="pagto_parcial"  id="pagto_parcial" value='{$valor_pago|default:"0.00"}' disabled="disabled"  class="disabled" /></td>
				</tr>
				<tr>
					<td class="cellLabel">Desconto(-):</td>
					<td class="cellInfo"><input type="text" name="desconto" id="desconto" value='{$desconto|default:"0.00"}' {if !$editavel}disabled="disabled"{else}class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="formOnBlur(this);calculaValores();"{/if}  /></td>
				</tr>
				<tr>
					<td class="cellLabel">Acrescimo(+):</td>
					<td class="cellInfo"><input type="text" name="acrescimo"  id="acrescimo" value='{$acrescimo|default:"0.00"}' {if !$editavel}disabled="disabled"{else}class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="formOnBlur(this);calculaValores();"{/if} /></td>
				</tr>
				<tr>
					<td class="cellLabel">Valor a ser pago(=):</td>
					<td class="cellInfo"><input type="text" name="valor_restante" id="valor_restante" value="{$valor_restante}" disabled="disabled" class="disabled" /></td>
				</tr>
				<tr>
					<td class="cellLabel">Amortizar(-):</td>
					<td class="cellInfo">
						<input type="text" name="amortizar" id="amortizar" value="{$amortizar}" {if !$editavel}disabled="disabled"{else}class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="formOnBlur(this);calculaValores();"{/if} />
						<input type="button" name="hoje" value="Tudo" onclick="javascript:amortizarTudo()" class="botao"  {if !$editavel}disabled="disabled"{/if} />
					</td>
				</tr>
				<tr>
					<td class="cellLabel">Valor Pendente(=):</td>
					<td class="cellInfo"><input type="text" name="valor_pendente" id="valor_pendente" value="{$valor_restante}" disabled="disabled"  class="disabled" /></td>
				</tr>
				<tr>
					<td class="cellLabel">Status:</td>
					<td class="cellInfo">
						<select id="status" name="status" id="status" style="width: 200px;" disabled="disabled" class="disabled">
							{foreach from=$status_fatura item=v key=k}
							<option value="{$k}" {if $k == $status}selected="selected"{/if}>{$v}</option>
							{/foreach}							
						</select>
					</td>
				</tr>
				<tr>
					<td class="cellLabel">Data do Pagamento:</td>
					<td class="cellInfo">
						<input name="data_pagamento" id="data_pagamento" type="text" onkeypress="formatar(this, '##/##/####'); return Tecla(event);" value="{$data_pagamento}" maxlength="10"  {if !$editavel}disabled="disabled"{else}class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="formOnBlur(this);"{/if} />
						{* &gt;&gt;"" *}
						<input type="button" name="hoje" value="Hoje" onclick="javascript:pagamentoHoje();"  class="botao"  {if !$editavel}disabled="disabled"{/if} />
						<input type="button" name="venc" value="Venc."  onclick="javascript:pagamentoVencimento();" class="botao"  {if !$editavel}disabled="disabled"{/if} />				
					</td>
				</tr>
			</table>
		</td>
		<td valign="top">
			<table border="0" class="lista" dwcopytype="CopyTableRow">
				<tr>
					<th colspan="2"><strong>Opções</strong></th>
				</tr>
				<tr>
					<td class="cellLabel">
						<input type="checkbox" name="reagendar" id="reagendar" value="1"  class="checkbox" {if !$editavel}disabled="disabled"{/if} /> re-agendar cobrança para dia:
					</td>
					<td class="cellInfo">
						<input name="reagendamento" id="reagendamento" type="text" value="{$reagendamento}" onkeypress="formatar(this, '##/##/####'); return Tecla(event);" maxlength="10" id="reagendamento"  {if !$editavel}disabled="disabled"{else}class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="formOnBlur(this);"{/if} />
					</td>
				</tr>
				<tr>
					<td class="cellLabel" valign="top">Observações:</td>
					<td class="cellInfo">
						<textarea name="observacoes" id="observacoes" rows="7"  cols="30"  {if !$editavel}disabled="disabled"{else}class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="formOnBlur(this);"{/if} >{$observacoes}</textarea>
					</td>
				</tr>
			</table>		
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<input name="botao_cancelar" type="button" class="botao" value="Cancelar" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;" onclick="cancelar('{$id_cliente}');" />
			{if $editavel}	
			<input name="botao_enviar" type="submit" class="botao" id="submit" value="Amortizar &gt;&gt;" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;"/>
			{/if}
		</td>
	</tr>
</table>
</form>
</div>
<script type="text/javascript">calculaValores();</script>
</center>