<html>
<head>
	<title></title>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="clientes_header.html"}
<style>
{literal}
label {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	margin-right: 4px;
	margin-left: 4px;
}


.fieldDisabled {
	font-family: verdana;
	font-size: 10px;
	border: solid 1px #909090;
	background: #CACACA;
	margin-right: 2px;

}

{/literal}
</style>

<script language="javascript1.2">

var mresponsaveis = eval({$responsaveis});
var enderecos_cobranca = eval({$enderecos_cobranca});
var enderecos_instalacao = eval({$enderecos_instalacao});


{literal}

	reVazio = /^\s*$/;

	function helpdeskValidaCadastro() {
		formhelpdesk = document.getElementById("formhelpdesk");

		for (i=0; i<formhelpdesk.length; i++) {
			idstring = formhelpdesk[i].id;
			if(idstring) {
				estring = idstring;
				estring += " = document.getElementById('" + idstring + "')";
				//alert(estring);
				eval (estring);
			}
		}

		if(estaVazio(assunto.value)) {
			alert("O campo assunto deve ser preenchido");
			assunto.value="";
			assunto.focus();
			return false;
		}


		if(estaVazio(descricao.value)) {
			alert("A descrição do chamado deve ser preenchida");
			descricao.value="";
			descricao.focus();
			return false;
		}


		if(estaVazio(id_grupo.value)) {
			alert("O grupo de destino do chamado deve ser informado");
			id_grupo.value="";
			id_grupo.focus();
			return false;
		}

		if(!estaVazio(agendamento.value)) {
			//Se foi marcado um dia para o agendamento então faz a validação

			if(!validaData(agendamento.value)) {
				alert("A data informada para o agendamento é inválida");
				agendamento.focus();
				return false;
			}

			if(estaVazio(endereco_os.value)) {
				alert("Quando o campo agendamento é preenchido, torna-se necessário entrar com um endereço para o atendimento");
				endereco_os.focus();
				endereco_os.value="";
				return false;
			}

			if(estaVazio(bairro_os.value)) {
				alert("Quando o campo agendamento é preenchido, torna-se necessário entrar com um bairro para o atendimento");
				bairro_os.focus();
				bairro_os.value="";
				return false
			}

			if(estaVazio(cidade_os.value)) {
				alert("Quando o campo agendamento é preenchido, torna-se necessário entrar com uma cidade para o atendimento");
				bairro_os.focus();
				bairro_os.value="";
				return false
			}
		}

		return true;

	}

	function formQuit(id_cliente) {
		if(!confirm("Deseja realmente abandonar a edição desta ordem de serviço?")) return;
		self.location = "admin-clientes.php?op=helpdesk&id_cliente=" + id_cliente;
	}


	function ReiniciarCampoResponsavel() {
		var responsavel = document.getElementById("responsavel");

		while(responsavel.length > 0) {
			responsavel.remove(0);
		}

		opcao = document.createElement("option");
		opcao.value = "";
		opcao.text = "-- SELECIONE --";

		try{
			responsavel.add(opcao,null);
		}catch(e) {
			responsavel.add(opcao);
		}

	}

	function AtualizaCampoResponsavel(id_grupo) {
		ReiniciarCampoResponsavel();

		var responsavel = document.getElementById("responsavel");

		for(i=0;i<mresponsaveis.length;i++) {
			item = mresponsaveis[i];

			if(item.ativo == "f" || item.id_grupo != id_grupo) continue;

			opcao = document.createElement("option");
			opcao.value = item.id_admin;
			opcao.text = item.admnome;

			try{
				responsavel.add(opcao,null);
			}catch(e) {
				responsavel.add(opcao);
			}
		}
	}

	function AtualizaFormCampoTipo(tipo) {
		var responsavel = document.getElementById("responsavel");
		if(tipo == "OC") {
			responsavel.disabled = true;
			responsavel.value="";
		} else {
			responsavel.disabled = false;
		}

	}

	function limparCamposEndereco() {
		endereco = document.getElementById("endereco_os");
		complemento = document.getElementById("complemento_os");
		bairro = document.getElementById("bairro_os");
		cidade = document.getElementById("cidade_os");

		endereco.value="";
		complemento.value="";
		bairro.value="";
		cidade.value="";
	}

	function alimentaCamposEnderecoCobranca(indice) {
		endereco = document.getElementById("endereco_os");
		complemento = document.getElementById("complemento_os");
		bairro = document.getElementById("bairro_os");
		cidade = document.getElementById("cidade_os");

		limparCamposEndereco();


		matriz = enderecos_cobranca;
		mtz = null;

		for(i=0; i<matriz.length; i++) {
			if(matriz[i].id_conta == indice) {
				mtz = matriz[i];
				break;
			}
		}


		try{
			endereco.value=mtz.endereco;
			complemento.value=mtz.complemento;
			bairro.value=mtz.bairro;
			cidade.value=mtz.cidade;
		} catch(e) {
			limparCamposEndereco();
		}
	}


	function alimentaCamposEnderecoInstalacao(indice) {
		endereco = document.getElementById("endereco_os");
		complemento = document.getElementById("complemento_os");
		bairro = document.getElementById("bairro_os");
		cidade = document.getElementById("cidade_os");

		limparCamposEndereco();
		matriz = enderecos_instalacao;
		mtz = null;

		for(i=0; i<matriz.length; i++) {
			if(matriz[i].id_conta == indice) {
				mtz = matriz[i];
				break;
			}
		}

		try{
			endereco.value=mtz.endereco;
			complemento.value=mtz.complemento;
			bairro.value=mtz.bairro;
			cidade.value=mtz.cidade;
		} catch(e) {
			limparCamposEndereco();
		}
	}


	function bloquearCamposEndereco() {
		endereco = document.getElementById("endereco_os");
		complemento = document.getElementById("complemento_os");
		bairro = document.getElementById("bairro_os");
		cidade = document.getElementById("cidade_os");

		endereco.readonly=true;
		complemento.readonly=true;
		bairro.readonly=true;
		cidade.readonly=true;
	}


	function desbloquearCamposEndereco() {
		endereco = document.getElementById("endereco_os");
		complemento = document.getElementById("complemento_os");
		bairro = document.getElementById("bairro_os");
		cidade = document.getElementById("cidade_os");

		endereco.readonly=false;
		complemento.readonly=false;
		bairro.readonly=false;
		cidade.readonly=false;
	}


	function atualizaCamposEndereco() {

		endereco = document.getElementById("endereco_os");
		complemento = document.getElementById("complemento_os");
		bairro = document.getElementById("bairro_os");
		cidade = document.getElementById("cidade_os");
		pendereco = document.getElementById("pendereco");
		id_conta = document.getElementById("id_conta");

		limparCamposEndereco();

		if(!id_conta.value) {
			pendereco.value = "O";
			return;
		}

		if(pendereco.value == "C") {
			bloquearCamposEndereco();
			alimentaCamposEnderecoCobranca(id_conta.value);
		} else if(pendereco.value == "I") {
			bloquearCamposEndereco();
			alimentaCamposEnderecoInstalacao(id_conta.value);
		} else {
			desbloquearCamposEndereco();
		}

	}

{/literal}
</script>


<form name="formhelpdesk" id="formhelpdesk" method="post" action="admin-clientes.php" onSubmit="return helpdeskValidaCadastro()">
	<input type="hidden" name="op" value="{$op}" />
	<input type="hidden" name="tela" value="{$tela}" />
	<input type="hidden" name="subtela" value="{$subtela}" />

	<input type="hidden" name="id_cliente" id="id_cliente" value="{$id_cliente}" />
	<input type="hidden" name="criado_por" id="criado_por" value="{$criado_por}" />
	<input type="hidden" name="id_chamado_pai" id="id_chamado" value="{if $chamado.id_chamado_pai}{$chamado.id_chamado_pai}{else}{$chamado.id_chamado}{/if}" />
	<input type="hidden" name="id_chamado" id="id_chamado" value="{$chamado.id_chamado}" />
	<input type="hidden" name="classificacao" id="classificacao" value="IN" />
	<input type="hidden" name="origem" id="origem" value="OP" />
	<input type="hidden" name="tipo" id="tipo" value="OS" />

	<input type="hidden" name="acao" value="{$acao}" />

	<table width="450" class='lista' align="center" border=0 cellpadding=0 cellspacing=0>

		<tr>
			<th bgcolor="#d5Efd5">Dados da Ordem de Serviço</th>
		</tr>

		<tr>

			<td width="100%" valign="top">
				<table border=0 cellspacing=0 cellpadding=1 width="100%">

					<!-- CAMPO ASSUNTO -->
					<tr>
						<td align="right" width="120">
							<label>Assunto:</label>
						</td>
						<td>
							<input type="text" name="assunto" id="assunto" maxlength="250" value="{$assunto}" style="width:100%" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
						</td>
					</tr>


					<!-- CAMPO ID_CONTA-->
					<tr>
						<td align="right">
							<label>Conta Cliente:</label>
						</td>
						<td>
							<select id="id_conta" name="id_conta" style="width:100%" onchange="javascript:atualizaCamposEndereco();" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
								<option value="">-- SELECIONE --</option>
								{foreach from=$contas_cliente key=k item=i}
									<option value="{$i.id_conta}">
									{$i.id_conta|string_format:"%05s"} - {$i.tipo_conta} - {$i.username}
									</option>
								{/foreach}
							</select>
						</td>
					</tr>

					<!-- CAMPO PRIORIDADE -->
					<tr>
						<td align="right">
							<label>Prioridade:</label>
						</td>
						<td>
							<select id="prioridade" name="prioridade" style="width:100%"  onchange="javascript:AtualizaFormCampoTipo(this.value);" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
								{foreach from=$prioridades key=k item=i}
									{if $k != 'OS'}<option value="{$k}">{$i}</option>{/if}
								{/foreach}
							</select>
						</td>
					</tr>

					<!-- CAMPO DESCRIÇÃO -->
					<tr>
						<td align="right" valign="top">
							<label>Descrição:</label>
						</td>
						<td>
							<TEXTAREA ROWS="7" COLS="40" style="width:100%" name="descricao" id="descricao"  class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">{$descricao}</TEXTAREA>
						</td>
					</tr>

					<!-- CAMPO GRUPO -->
					<tr>
						<td align="right">
							<label>Grupo:</label>
						</td>
						<td>
							<select id="id_grupo" name="id_grupo" style="width:100%" onchange="javascript:AtualizaCampoResponsavel(this.value)";  class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
								<option value="">-- SELECIONE --</option>
								{foreach from=$grupos key=k item=i}
									<option value="{$i.id_grupo}">{$i.nome}</option>
								{/foreach}

							</select>
						</td>
					</tr>

					<!-- CAMPO RESPONSÁVEL -->
					<tr>
						<td align="right" style="padding-bottom:10px">
							<label>Responsável:</label>
						</td>
						<td style="padding-bottom:10px">
							<select id="responsavel" name="responsavel" style="width:100%"  class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
								<option value="">-- SELECIONE --</option>
							</select>
						</td>
					</tr>


				</table>
			</td>

		</tr>

		<tr>
			<Th bgcolor="#d5Efd5">Dados do Atendimento</th>
		</tr>

		<tr>
			<td width="100%" valign="top">
				<table border=0 cellspacing=0 cellpadding=1 width="100%">

					<!-- CAMPO AGENDAMENTO -->
					<tr>
						<td align="right" width="120">
							<label>Agendamento:</label>
						</td>
						<td>
							<input type="text" name="agendamento" id="agendamento" maxlength="250" value="{$assunto}" style="width:100%" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
						</td>
					</tr>

					<!-- CAMPO PERÍODO -->
					<tr>
						<td align="right">
							<label>Per&iacute;odo:</label>
						</td>
						<td>
							<select name="periodo" id="periodo" style="width:100%" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
								<option value="">Qualquer Período</option>
								{foreach from=$periodos key=k item=p}
									<option value="{$k}">{$p}</option>
								{/foreach}
							</select>
						</td>
					</tr>

					<!-- CAMPO COMPLETAR -->
					<tr>
						<td align="right">
							<label>Preencher End.:</label>
						</td>
						<td>
							<select name="pendereco" id="pendereco" onchange="javascript:atualizaCamposEndereco();" style="width:100%" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
								<option value="O" CHECKED >Outros</option>
								<option value="C">Cobrança</option>
								<option value="I">Instalação</option>
							</select>
						</td>
					</tr>

					<!-- CAMPO ENDERECO -->
					<tr>
						<td align="right">
							<label>Endere&ccedil;o:</label>
						</td>
						<td>
							<input type="text" name="endereco_os" id="endereco_os" maxlength="200" value="" style="width:100%" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" >
						</td>
					</tr>

					<!-- CAMPO COMPLEMENTO -->
					<tr>
						<td align="right">
							<label>Complemento:</label>
						</td>
						<td>
							<input type="text" name="complemento_os" id="complemento_os" maxlength="50" value="" style="width:100%" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" >
						</td>
					</tr>

					<!-- CAMPO BAIRRO -->
					<tr>
						<td align="right">
							<label>Bairro:</label>
						</td>
						<td>
							<input type="text" name="bairro_os" id="bairro_os" maxlength="50" value="" style="width:100%" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" >
						</td>
					</tr>

					<!-- CAMPO CIDADE -->
					<tr>
						<td align="right">
							<label>Cidade:</label>
						</td>
						<td>
							<input type="text" name="cidade_os" id="cidade_os" maxlength="50" value="{$assunto}" style="width:100%" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" >
						</td>
					</tr>


				</table>
			</td>
		</tr>

		<tr>
			<td align="center" width="100%" height=30 >
				<input type="button" class="botao" name="voltar" value="Voltar" onClick="javascript:formQuit({$id_cliente});" />
				<input type="submit" name="submit" class="botao" value="Cadastrar" />
			</td>
		</tr>
	</table>
</form>

</body>
</html>
