<html>
<head>
	<title></title>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="clientes_header.html"}

<style>
{literal}

.form_pesquisa {
	width: 400px;
}

.pesquisa_titulo {
	font-family: verdana;
	font-size: 12px;
	font-color:
}

label {
	font-family: verdana;
	font-size: 12px;
	margin-right: 10px;
	margin-bottom: 0px;
}

{/literal}
</style>

<script language="javascript1.2" >
{literal}

	function NovoChamado(id_cliente) {
		self.location = "admin-clientes.php?op=helpdesk&tela=cadastro&id_cliente=" + id_cliente;
	}

	function AlterarChamado(id_chamado, id_cliente) {
		self.location = "admin-clientes.php?op=helpdesk&tela=alteracao&id_chamado=" + id_chamado + "&id_cliente=" + id_cliente;
	}

	function ApresentarDiv(id_div, visivel) {
		elemento = document.getElementById(id_div);
		if (!elemento) return;

		if(visivel) elemento.style.display = "block";
		else elemento.style.display = "none";
	}

	function validaFormDelegarChamado() {
		var novoresponsavel = document.getElementById("novoresponsavel");
		var atualresponsavel = document.getElementById("atualresponsavel");
		if(!novoresponsavel.value) {
			alert("É necessário escolher um novo responsável para o chamado");
			novoresponsavel.focus();
			return false;
		}

		if(novoresponsavel.value == atualresponsavel.value) {
			alert("Este usuário já é responsável pelo chamado. Não será possível delegar este chamado à este usuário.");
			novoresponsavel.value="";
			novoresponsavel.focus();
			return false;
		}

		return true;
	}

	function validaFormComentarChamado() {
		var comentario = document.getElementById("comentario");
		if(estaVazio(comentario.value)) {
			alert("É necessário preencher o campo comentário");
			comentario.focus();
			return false;
		}

		return true;
	}


	function validaFormReabrirChamado() {
		var comentario = document.getElementById("comentario_reabertura");
		if(estaVazio(comentario.value)) {
			alert("É necessário preencher o campo comentário");
			comentario.focus();
			return false;
		}

		return true;
	}


	function validaFormResolverChamado() {
		var novostatus = document.getElementById("novostatus");
		var atualstatus = document.getElementById("atualstatus");
		var comentariofim = document.getElementById("comentariofim");
		var responsavel_chamado = document.getElementById("responsavel_chamado");
		var valida_vt = true;

		if(estaVazio(novostatus.value)) {
			alert("É necessário indicar o status de término do chamado");
			novostatus="";
			novostatus.focus();
			return false;
		}

		if((novostatus.value == 'A' ||novostatus.value == 'P'||novostatus.value == 'PC') && !responsavel_chamado.value) {
			alert("Somente é possível alterar o status de um chamado para Aberto, Pendente ou Pendente com o cliente, se este já tiver um responsável");
			novostatus.value="";
			novostatus.focus();
			return false;
		}

		if(atualstatus.value == novostatus.value) {
			alert("O status escolhido é o atual do chamado. Não é possível movimentar o chamado para o mesmo status que ele se encontra");
			novostatus.value="";
			novostatus.focus();
			return false;
		}

		if(estaVazio(comentariofim.value)) {
			alert("É necessário preencher o campo comentário");
			comentariofim.focus();
			return false;
		}

		if(novostatus == "OK" || novostatos == "R") {
			valida_vt = validaFormVisitaTecnica();
		}

		{/literal}

		{if $chamado.tipo == "OS"}
		{literal}
			if(novostatus == "OK" || novostatos == "R") {
				valida_vt = validaFormVisitaTecnica();
			}
		{/literal}
		{/if}

		{literal}

		return true && valida_vt;
	}


	function validaFormPriorizarChamado() {
		var prioridade_comentario = document.getElementById("prioridade_comentario");
		var prioridade = document.getElementById("prioridade");
		var prioridade_atual = document.getElementById("prioridade_atual");

		if(estaVazio(prioridade_comentario.value)) {
			alert("É necessário preencher o campo comentário");
			comentario.focus();
			return false;
		}

		return true;
	}

	function desabilitaVT() {
		var data_execucao = document.getElementById("data_execucao");
		var horario_chegada = document.getElementById("horario_chegada");
		var horario_saida = document.getElementById("horario_saida");
		var caracterizacao = document.getElementById("caracterizacao");

		var icmp_ip = document.getElementById("icmp_ip");
		var icmp_media = document.getElementById("icmp_media");
		var icmp_minimo = document.getElementById("icmp_minimo");

		var ftp_ip = document.getElementById("ftp_ip");
		var ftp_media = document.getElementById("ftp_media");
		var ftp_minimo = document.getElementById("ftp_minimo");

		data_execucao.disabled = true;
		horario_chegada.disabled = true;
		horario_saida.disabled = true;
		caracterizacao.disabled = true;

		icmp_ip.disabled = true;
		icmp_media.disabled = true;
		icmp_minimo.disabled = true;

		ftp_ip.disabled = true;
		ftp_media.disabled = true;
		ftp_minimo.disabled = true;
	}

	function habilitaVT() {
		var data_execucao = document.getElementById("data_execucao");
		var horario_chegada = document.getElementById("horario_chegada");
		var horario_saida = document.getElementById("horario_saida");
		var caracterizacao = document.getElementById("caracterizacao");

		var icmp_ip = document.getElementById("icmp_ip");
		var icmp_media = document.getElementById("icmp_media");
		var icmp_minimo = document.getElementById("icmp_minimo");

		var ftp_ip = document.getElementById("ftp_ip");
		var ftp_media = document.getElementById("ftp_media");
		var ftp_minimo = document.getElementById("ftp_minimo");

		data_execucao.disabled = false;
		horario_chegada.disabled = false;
		horario_saida.disabled = false;
		caracterizacao.disabled = false;

		icmp_ip.disabled = false;
		icmp_media.disabled = false;
		icmp_minimo.disabled = false;

		ftp_ip.disabled = false;
		ftp_media.disabled = false;
		ftp_minimo.disabled = false;
	}

	function modificaStatus() {
		novostatus = document.getElementById("novostatus");

		if (novostatus.value == "OK" || novostatus.value == "F") {
			habilitaVT();
		}else {
			desabilitaVT();
		}
	}


	function validaFormVisitaTecnica() {
		var data_execucao = document.getElementById("data_execucao");
		var horario_chegada = document.getElementById("horario_chegada");
		var horario_saida = document.getElementById("horario_saida");
		var caracterizacao = document.getElementById("caracterizacao");

		var icmp_ip = document.getElementById("icmp_ip");
		var icmp_media = document.getElementById("icmp_media");
		var icmp_minimo = document.getElementById("icmp_minimo");

		var ftp_ip = document.getElementById("ftp_ip");
		var ftp_media = document.getElementById("ftp_media");
		var ftp_minimo = document.getElementById("ftp_minimo");


		//CAMPO DATA EXECUCAO
		if(!estaVazio(data_execucao.value)) {
			if(!validaData(data_execucao.value)) {
				alert("Data informada inválida");
				data_execucao.focus();
				return false;
			}
		} else {
			data_execucao.value="";
		}


		//CAMPO HORA CHEGADA
		if(!estaVazio(horario_chegada.value)) {
			if(!validaHora(horario_chegada.value)) {
				alert("Hora informada inválida");
				horario_chegada.focus();
				return false;
			}
		} else {
			horario_chegada.value="";
		}


		//CAMPO HORA SAIDA
		if(!estaVazio(horario_saida.value)) {
			if(!validaHora(horario_saida.value)) {
				alert("Hora informada inválida");
				horario_saida.focus();
				return false;
			}
		} else {
			horario_saida.value="";
		}


		//CAMPO CARACTERIZACAO
		if(caracterizacao.value == "" ) {
			alert("É necessário escolher um valor no campo Caracterização");
			caracterizacao.focus();
			return false;
		}


		//CAMPO ICMP_IP
		if(!estaVazio(icmp_ip.value)) {
			if(!ipValido(icmp_ip.value)) {
				alert("IP informado inválido");
				icmp_ip.focus();
				return false;
			}
		} else {
			icmp_ip.value="";
		}


		//CAMPO ICMP_MEDIA
		if(!estaVazio(icmp_media.value)) {
			if(!somenteNumeros(icmp_media.value)) {
				alert("Deve haver somente números na entrada do campo");
				icmp_media.focus();
				return false;
			}
		} else {
			icmp_media.value="";
		}


		//CAMPO ICMP_MINIMO
		if(!estaVazio(icmp_minimo.value)) {
			if(!somenteNumeros(icmp_minimo.value)) {
				alert("Deve haver somente números na entrada do campo");
				icmp_minimo.focus();
				return false;
			}
		} else {
			icmp_minimo.value="";
		}




		//CAMPO FTP_IP
		if(!estaVazio(ftp_ip.value)) {
			if(!ipValido(ftp_ip.value)) {
				alert("IP informado inválido");
				ftp_ip.focus();
				return false;
			}
		} else {
			ftp_ip.value="";
		}


		//CAMPO ftp_MEDIA
		if(!estaVazio(ftp_media.value)) {
			if(!somenteNumeros(ftp_media.value)) {
				alert("Deve haver somente números na entrada do campo");
				ftp_media.focus();
				return false;
			}
		} else {
			ftp_media.value="";
		}


		//CAMPO ftp_MINIMO
		if(!estaVazio(ftp_minimo.value)) {
			if(!somenteNumeros(ftp_minimo.value)) {
				alert("Deve haver somente números na entrada do campo");
				ftp_minimo.focus();
				return false;
			}
		} else {
			ftp_minimo.value="";
		}

		return true;

	}


	function escondeDivs() {
		ApresentarDiv("divFormComentaChamado", false);
		ApresentarDiv("divFormPegaChamado", false);
		ApresentarDiv("divFormDelegaChamado", false);
		ApresentarDiv("divFormResolveChamado", false);
		ApresentarDiv("divFormReabreChamado", false);
		ApresentarDiv("divFormPriorizaChamado", false);
	}

	function ambienteComentario() {
		escondeDivs();
		ApresentarDiv("divFormComentaChamado", true);
	}

	function ambienteDelegar() {
		escondeDivs();
		ApresentarDiv("divFormDelegaChamado", true);
	}

	function ambientePegar() {
		escondeDivs();
		ApresentarDiv("divFormPegaChamado", true);
	}

	function ambienteResolver() {
		escondeDivs();
		ApresentarDiv("divFormResolveChamado", true);
	}

	function ambientePriorizar() {
			escondeDivs();
			ApresentarDiv("divFormPriorizaChamado", true);
	}

	function ambienteReabrir() {
		escondeDivs();
		ApresentarDiv("divFormReabreChamado", true);
	}

	function ambienteVisitaTecnica() {
		escondeDivs();
		ApresentarDiv("divFormVisitaTecnica", true);
	}

{/literal}

</script>



<br>
	<!-- ALTERAÇÃO DO CHAMADO -->

<table class="lista" border=0 cellspacing=0 cellpadding=0 align="center" width="730">
<tr>
	{* ----- MENU SUPERIOR COM AS OPÇÕES REFERENTES AO CHAMADO ----- *}
	<td align="left" style="border-bottom: solid 1px;">
	&nbsp;Opções:
	[<a href={if $chamado.tipo == 'OS'}"admin-clientes.php?op=helpdesk&tela=alteracao&id_cliente={$id_cliente}&id_chamado={$chamado.id_chamado_pai}"{else}"admin-clientes.php?op=helpdesk&tela=listagem&id_cliente={$id_cliente}"{/if} {if !$usuario_grupo || $chamado.status == "OK" || $chamado.status == "F"}style="color:green;font-weight:bold"{/if}>Voltar</a>]

	{if $chamado.status != "OK" && $chamado.status != "F"}
		{if $usuario_grupo}
			{if !$chamado.responsavel}
				[<a href="javascript:void(null);" onclick="javascript:ambientePegar()"; style="color:green;font-weight:bold">Pegar</a>]
			{/if}
		{/if}

		{if $chamado.responsavel == $dadosLogin.id_admin || $chamado.criado_por == $dadosLogin.id_admin || $admin_grupo}
			[<a href="javascript:void(null);" onclick="javascript:ambienteResolver();" {if $chamado.responsavel == $dadosLogin.id_admin}style="color:green;font-weight:bold"{/if}>Fechar/Resolver</a>]
		{/if}

		{if $usuario_grupo}
			[<a href="javascript:void(null);" onclick="javascript:ambienteDelegar()"; {if !$chamado.responsavel}style="color:blue;font-weight:bold"{/if}>Delegar</a>]
		{/if}


		{* -- GERACAO DE ORDEM DE SERVICO || VISITA TECNICA --*}
		{if $chamado.tipo != 'OS'}
			{if $admin_grupo || $chamado.criado_por == $dadosLogin.id_admin || $chamado.responsavel == $dadosLogin.id_admin}
				[<a href="admin-clientes.php?op=helpdesk&tela=alteracao&subtela=ordemservico&id_chamado={$chamado.id_chamado}&id_cliente={$id_cliente}" {if !$ordem_servico}style="color:blue;font-weight:bold"{/if}>Gerar Ordem de Serviço</a>]
			{/if}
		{/if}


		{if $chamado.criado_por == $dadosLogin.id_admin || $admin_grupo}
			[<a href="javascript:void(null);" onclick="javascript:ambientePriorizar();">Priorizar</a>]
		{/if}


		{if $chamado.tipo == 'OS'}
			{if $chamado.responsavel == $dadosLogin.id_admin || $chamado.criado_por == $dadosLogin.id_admin || $admin_grupo}
				[<a href="admin-clientes.php?op=helpdesk&tela=alteracao&subtela=imprimir_os&id_chamado={$chamado.id_chamado}&id_cliente={$id_cliente}">Imprimir</a>]
			{/if}
		{/if}

	{else}

		{if ($chamado.criado_por == $dadosLogin.id_admin || $admin_grupo) && $pode_reabrir}
			[<a href="javascript:void(null);" onclick="javascript:ambienteReabrir();">Reabrir</a>]
		{/if}

	{/if}

	[<a href="javascript:void(null);" onclick="javascript:ambienteComentario()";>Comentar</a>]


	</td>
	{* // ----- MENU SUPERIOR COM AS OPÇÕES REFERENTES AO CHAMADO ----- *}

</tr>

{if $erro}
<tr>
	<td colspan='2' class="erro" align="center">{$erro}</td>
</tr>
{/if}

{* ----- INFORMAÇÕES SOBRE O CHAMADO ----- *}
<tr>
<td align="center">
	{if $chamado.status == "F"}<span style="color: #FF0000; font-size: 14px;"><strong>** CHAMADO FINALIZADO **</strong></span>{/if}
	{if $chamado.status == "OK"}<span style="color: orange; font-size: 14px;"><strong>** CHAMADO RESOLVIDO **</strong></span>{/if}
	<table class="lista" border=0 cellspacing=0 cellpadding=0 width="700" align="center">
		<tr>
			<th colspan=4>Detalhes do Chamado</th>
		</tr>


		{* -- Insere informações do cliente -- *}
		<tr>
			<td width="110" align="right"><strong>Cliente:</strong></td>
			<td align="left" colspan=3><a href="admin-clientes.php?op=cadastro&extra_op=ficha&id_cliente={$chamado.id_cliente}">{$chamado.cliente_nome}</a></td>
		</tr>
		{* //-- Insere informações do cliente -- *}


		<tr>
			<td width="110" align="right"><strong>Número:</strong></td>
			<td align="left">{$chamado.id_chamado|string_format:"%05s"}</td>

			<td width="110" align="right"><strong>Status:</strong></td>
			<td align="left">{$status_chamado[$chamado.status]}&nbsp;</td>
		</tr>

		<tr>
			<td width="110" align="right"><strong>Prioridade:</strong></td>
			<td align="left">{$prioridades[$chamado.prioridade]}</td>
		</tr>

		<tr>
			<td width="110" align="right"><strong>Data Abertura:</strong></td>
			<td align="left">{$chamado.abertura|date_format:"%d-%m-%Y / %H:%M"|upper}</td>

			{if $chamado.tipo != 'OC'}
				<td width="110" align="right"><strong>Data Finaliza&ccedil;&atilde;o:</strong></td>
				<td align="left" {if !$chamado.fechamento}style="color:red"{/if}>{if $chamado.fechamento}{$chamado.fechamento|date_format:"%d-%m-%Y / %H:%M"|upper}{else}N&atilde;o Finalizado{/if}</td>
			{else}
				<td colspan=2>&nbsp</td>
			{/if}
		</tr>

		<tr>
			<td width="110" align="right"><strong>Grupo:</strong></td>
			<td align="left" width="240">{$grupos[$chamado.id_grupo]}</td>

			<td width="110" align="right"><strong>Responsável:</strong></td>
			<td align="left"  width="240" {if !$chamado.responsavel}style="color:red"{/if}>{if $chamado.responsavel}{$responsaveis[$chamado.responsavel]}{else}N&atilde;o foi delegado{/if}</td>
		</tr>

		<tr>
			<td width="110" align="right"><strong>Criador:</strong></td>
			<td align="left" width="240">{$responsaveis[$chamado.criado_por]}</td>

			<td width="110" align="right"><strong>Tipo:</strong></td>
			<td align="left" width="240">{$tipos[$chamado.tipo]}&nbsp;</td>

		</tr>

		<tr>
			<td width="110" align="right"><strong>Origem:</strong></td>
			<td align="left" width="240">{$origens[$chamado.origem]}</td>

			<td width="110" align="right"><strong>Classifica&ccedil;&atilde;o:</strong></td>
			<td align="left" width="240">{$classificacoes[$chamado.classificacao]}</td>
		</tr>


	</table>
	<br />

	{* ----- INFORMAÇÕES DA CONTA ----- *}
	{if $chamado.id_conta}
	<table class="lista" border=0 cellspacing=0 cellpadding=0 width="700" align="center">
		<tr>
			<th colspan=4>Informa&ccedil;&otilde;es da Conta</th>
		</tr>
		<tr>
			<td width="110" align="right"><strong>Conta:</strong></td>
			<td align="left" width="240"><a href="admin-clientes.php?op=conta&tela=cadastro&tipo={$chamado.conta_tipo}&id_cliente={$chamado.id_cliente}&id_conta={$chamado.id_conta}">{$chamado.id_conta} - {$chamado.conta_username}</a></td>

			<td width="110" align="right"><strong>Contrato:</strong></td>
			<td align="left" width="240"><a href="admin-clientes.php?op=contrato&tela=contrato&id_cliente={$chamado.id_cliente}&id_cliente_produto={$chamado.conta_contrato}">{$chamado.conta_contrato} - {$chamado.conta_produto}</a></td>
		</tr>

		<tr>

			<td width="110" align="right"><strong>Tipo da Conta:</strong></td>
			<td align="left" width="240">
				{if $chamado.conta_tipo == "BL"}
					Banda Larga
				{elseif $chamado.conta_tipo == "H"}
					Hospedagem
				{elseif $chamado.conta_tipo == "D"}
					Discado
				{elseif $chamado.conta_tipo == "E"}
					E-mail
				{/if}
			</td>

			<td width="110" align="right"><strong>Dom&iacute;nio:</strong></td>
			<td align="left" width="240">{$chamado.conta_dominio}</td>
		</tr>


	</table>
	<br />
	{/if}
	{* //----- INFORMAÇÕES DA CONTA ----- *}


	{* ----- MOTIVO DO CHAMADO ----- *}
	<table class="lista" border=0 cellspacing=0 cellpadding=0 width="700" align="center">
		<tr>
			<th colspan=4>Motivo</th>
		</tr>
		<tr>
			<td width="110" align="right"><strong>Assunto:</strong></td>
			<td align="left">{$chamado.assunto}</td>
		</tr>

		<tr>
			<td width="110" align="right" valign="top"><strong>Descricao:</strong></td>
			<td align="left">{$chamado.descricao|replace:"\n":'<br>'}</td>
		</tr>

	</table>
	<br />
	{* //----- MOTIVO DO CHAMADO ----- *}

{if count($info_os)}

	<table class="lista" border=0 cellspacing=0 cellpadding=0 width="700" align="center">
		<tr>
			<th colspan=4>Informa&ccedil;&otilde;es do Atendimento</th>
		</tr>

		<tr>
			<td width="110" align="right"><strong>Data Agendada:</strong></td>
			<td align="left">{$info_os.agendamento}</td>

			<td width="110" align="right"><strong>Per&iacute;odo:</strong></td>
			<td align="left">{$periodos[$info_os.periodo]}</td>
		</tr>

		<tr>
			<td width="110" align="right"><strong>Endere&ccedil;o</strong></td>
			<td align="left" colspan=3>{$info_os.endereco_os} {if $info_os.complemento} - {$info_os.complemento}{/if}</td>
		</tr>

		<tr>
			<td width="110" align="right"><strong>Bairro:</strong></td>
			<td align="left">{$info_os.bairro_os}</td>

			<td width="110" align="right"><strong>Cidade:</strong></td>
			<td align="left">{$info_os.cidade_os}</td>
		</tr>

	</table>

	<br />

{/if}


{if $chamado.tipo == "OS"}
	<table class="lista" border=0 cellspacing=0 cellpadding=0 width="700" align="center">
		<tr>
			<th colspan=4>Informações da Visita Técnica</th>
		</tr>

		<tr>
			<td width="110" align="right"><strong>Data execucao:</strong></td>
			<td align="left">{$chamado.data_execucao|date_format:"%d/%m/%Y"}</td>

			<td width="110" align="right"><strong>Caracteriza&ccedil;&atilde;o:</strong></td>
			<td align="left">{$caracterizacao[$chamado.caracterizacao]}</td>
		</tr>

		<tr>
			<td width="110" align="right"><strong>Hora da Chegada:</strong></td>
			<td align="left">{$chamado.horario_chegada|date_format:"%k:%M"}</td>

			<td width="110" align="right"><strong>Hora da Sa&iacute;da:</strong></td>
			<td align="left">{$chamado.horario_saida|date_format:"%k:%M"}</td>
		</tr>

		<tr>
			<td width="110" align="right"><strong>IP ICMP:</strong></td>
			<td align="left">{$chamado.icmp_ip}</td>

			<td width="110" align="right"><strong>IP FTP:</strong></td>
			<td align="left">{$chamado.ftp_ip}</td>
		</tr>

		<tr>
			<td width="110" align="right"><strong>ICMP Média:</strong></td>
			<td align="left">{$chamado.icmp_media}</td>

			<td width="110" align="right"><strong>FTP Média:</strong></td>
			<td align="left">{$chamado.ftp_media}</td>
		</tr>

		<tr>
			<td width="110" align="right"><strong>IP Mínimo:</strong></td>
			<td align="left">{$chamado.icmp_minimo}</td>

			<td width="110" align="right"><strong>FTP Mínimo:</strong></td>
			<td align="left">{$chamado.ftp_minimo}</td>
		</tr>

	</table>
	<br />
{/if}

{* //----- INFORMAÇÕES SOBRE O CHAMADO ----- *}


{* ----- FORMULÁRIO DE PEGAR CHAMADO ----- *}
{if !$chamado.responsavel}
	<!-- PEGA CHAMADO -->
	<div id="divFormPegaChamado" style="width:700px;position:relative; display:none;">
		<form name="frmPegar" id="frmPegar" action="admin-clientes.php">
			<input type="hidden" name="acao" id="acao" value="pegar" />
			<input type="hidden" name="tela" id="tela" value="alteracao" />
			<input type="hidden" name="op" id="op" value="helpdesk" />
			<input type="hidden" name="id_cliente" id="id_cliente" value="{$id_cliente}" />
			<input type="hidden" name="id_chamado" id="id_chamado" value="{$chamado.id_chamado}" />
			<input type="hidden" name="responsavel" id="responsavel" value="{$chamado.responsavel}" />

			<table border="0" class="lista" dwcopytype="CopyTableRow" width="100%" height="100%" cellpadding=2 cellspacing=0>
				<tr>
					<th style="background: #FF0000; color: #ffffff" colspan=2><span id="lblConfirma">Pegar Chamado</span></th>
				</tr>
				<tr>
					<!-- Lado Esquerdo -->
					<td width="500">
						<table border=0>
							<tr>
								<td align="center">
									A confirma&ccedil;&atilde;o da senha &eacute suficiente para se tornar o responsável pelo chamado.
									<input type="hidden" name="responsavel" id="responsavel" value="{$dadosLogin.id_admin}" />
								</td>
							</tr>
						</table>
					</td>

					<!-- Confirmação -->
					<td width="200" style="border-left:1px solid #000" valign="top">
						<table border=0>
							<tr>
								<td align="right">Administrador: </td><td><label><strong>{$dadosLogin.admin}</strong></label></td>
							</tr>
							<tr>
								<td align="right">Senha: </td><td><input type="password" name="senha_admin" id="senha_admin"  class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
							</tr>
							<tr>
								<td>&nbsp;</td><td align="center" colspan=2><input type="submit" name="confirmar" value="Confirmar" class='botao'/></td>
							</tr>
						</table>
					</td>
				</tr>

			</table>
		</form>
	</div>
{/if}
{* //----- FORMULÁRIO DE PEGAR CHAMADO ----- *}


{* ----- FORMULÁRIO DE DELEGAÇÃO DE CHAMADO ----- *}
{if $admin_grupo}
	<!-- DELEGA CHAMADO -->
	<div id="divFormDelegaChamado" style="width:700px;position:relative; display:none;">
		<form name="frmDelegar" id="frmDelegar" action="admin-clientes.php" onsubmit="javascript:return validaFormDelegarChamado();">
			<input type="hidden" name="acao" id="acao" value="delegar" />
			<input type="hidden" name="op" id="op" value="helpdesk" />
			<input type="hidden" name="tela" id="tela" value="alteracao" />
			<input type="hidden" name="id_cliente" id="id_cliente" value="{$id_cliente}" />
			<input type="hidden" name="id_chamado" id="id_chamado" value="{$chamado.id_chamado}" />
			<input type="hidden" name="atualresponsavel" id="atualresponsavel" value="{$chamado.responsavel}" />


			<table border="0" class="lista" dwcopytype="CopyTableRow" width="100%" height="100%" cellpadding=2 cellspacing=0>
				<tr>
					<th style="background: #FF0000; color: #ffffff" colspan=2><span id="lblConfirma">Delegar Chamado</span></th>
				</tr>
				<tr>
					<!-- Lado Esquerdo -->
					<td width="500">
						<table border=0>
							<tr>
								<td align="right" width="110"><strong>Responsável:</strong></td>
								<td align="right" width="110">
									<select name="novoresponsavel" id="novoresponsavel" value="novoresponsavel" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="formOnBlur(this);">
										<option value="" >-- SELECIONE --</option>
										{foreach from=$grupo_usuarios item=i}
											{if $i.id_admin != $chamado.responsavel}<option value="{$i.id_admin}">{$responsaveis[$i.id_admin]}{/if}</option>
										{/foreach}
									</select>
								</td>
							</tr>
						</table>
					</td>

					<!-- Confirmação -->
					<td width="200" style="border-left:1px solid #000" valign="top">
						<table border=0>
							<tr>
								<td align="right">Administrador: </td><td><label><strong>{$dadosLogin.admin}</strong></label></td>
							</tr>
							<tr>
								<td align="right">Senha: </td><td><input type="password" name="senha_admin" id="senha_admin"  class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
							</tr>
							<tr>
								<td>&nbsp;</td><td align="center" colspan=2><input type="submit" name="confirmar" value="Confirmar" class='botao'/></td>
							</tr>
						</table>
					</td>
				</tr>

			</table>
		</form>
	</div>
{/if}
{* //----- FORMULÁRIO DE DELEGAÇÃO DE CHAMADO ----- *}


{* ----- FORMULÁRIO DE COMENTÁRIO DE CHAMADO ----- *}
	<!-- COMENTA CHAMADO -->
	<div id="divFormComentaChamado" style="width:700px;position:relative; display:none;">
		<form name="frmComentar" id="frmComentar" action="admin-clientes.php" onsubmit="javascript:return validaFormComentarChamado();">
			<input type="hidden" name="acao" id="acao" value="comentar" />
			<input type="hidden" name="op" id="op" value="helpdesk" />
			<input type="hidden" name="tela" id="tela" value="alteracao" />
			<input type="hidden" name="id_cliente" id="id_cliente" value="{$id_cliente}" />
			<input type="hidden" name="id_chamado" id="id_chamado" value="{$chamado.id_chamado}" />
			<input type="hidden" name="responsavel" id="responsavel" value="{$chamado.responsavel}" />



			<table border="0" class="lista" dwcopytype="CopyTableRow" width="100%" height="100%" cellpadding=2 cellspacing=0>
				<tr>
					<th style="background: #FF0000; color: #ffffff" colspan=2><span id="lblConfirma">Comentar Chamado</span></th>
				</tr>
				<tr>
					<!-- Lado Esquerdo -->
					<td width="500">
						<table border=0>
							<tr>
								<td align="right" width="110"><strong>Comentário:</strong></td>
								<td align="right"><textarea name="comentario" id="comentario" rows="4" cols="30"></textarea></td>
							</tr>
						</table>
					</td>

					<!-- Confirmação -->
					<td width="200" style="border-left:1px solid #000" valign="middle">
						<table border=0>
							<tr>
								<td align="right">Administrador: </td><td><label><strong>{$dadosLogin.admin}</strong></label></td>
							</tr>
							<tr>
								<td align="right">Senha: </td><td><input type="password" name="senha_admin" id="senha_admin"  class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
							</tr>
							<tr>
								<td>&nbsp;</td><td align="center" colspan=2><input type="submit" name="confirmar" value="Confirmar" class='botao'/></td>
							</tr>
						</table>
					</td>
				</tr>

			</table>
		</form>
	</div>
{* //----- FORMULÁRIO DE COMENTÁRIO DE CHAMADO ----- *}




{* ----- FORMULÁRIO DE REABERTURA DE CHAMADO ----- *}
{if ($chamado.criado_por == $dadosLogin.id_admin || $admin_grupo) && $pode_reabrir}

	<div id="divFormReabreChamado" style="width:700px;position:relative; display:none;">
		<form name="frmComentar" id="frmComentar" action="admin-clientes.php" onsubmit="javascript:return validaFormReabrirChamado();">
			<input type="hidden" name="acao" id="acao" value="reabrir" />
			<input type="hidden" name="op" id="op" value="helpdesk" />
			<input type="hidden" name="tela" id="tela" value="alteracao" />
			<input type="hidden" name="id_cliente" id="id_cliente" value="{$id_cliente}" />
			<input type="hidden" name="id_chamado" id="id_chamado" value="{$chamado.id_chamado}" />
			<input type="hidden" name="responsavel" id="responsavel" value="{$chamado.responsavel}" />



			<table border="0" class="lista" dwcopytype="CopyTableRow" width="100%" height="100%" cellpadding=2 cellspacing=0>
				<tr>
					<th style="background: #FF0000; color: #ffffff" colspan=2><span id="lblConfirma">Reabrir Chamado</span></th>
				</tr>
				<tr>
					<!-- Lado Esquerdo -->
					<td width="500">
						<table border=0>
							<tr>
								<td align="right" width="110"><strong>Comentário:</strong></td>
								<td align="right"><textarea name="comentario_reabertura" id="comentario_reabertura" rows="4" cols="30"></textarea></td>
							</tr>
						</table>
					</td>

					<!-- Confirmação -->
					<td width="200" style="border-left:1px solid #000" valign="middle">
						<table border=0>
							<tr>
								<td align="right">Administrador: </td><td><label><strong>{$dadosLogin.admin}</strong></label></td>
							</tr>
							<tr>
								<td align="right">Senha: </td><td><input type="password" name="senha_admin" id="senha_admin"  class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
							</tr>
							<tr>
								<td>&nbsp;</td><td align="center" colspan=2><input type="submit" name="confirmar" value="Confirmar" class='botao'/></td>
							</tr>
						</table>
					</td>
				</tr>

			</table>
		</form>
	</div>

{/if}
{* //----- FORMULÁRIO DE REABERTURA DE CHAMADO ----- *}





{* ----- FORMULÁRIO DE PRIORIZAÇÃO DE CHAMADO ----- *}
{if $admin_grupo || $chamado.criado_por == $dadosLogin.id_admin}
	<!-- PRIORIZA CHAMADO -->
	<div id="divFormPriorizaChamado" style="width:700px;position:relative; display:none;">
		<form name="frmPriorizar" id="frmPriorizar" action="admin-clientes.php" onsubmit="javascript:return validaFormPriorizarChamado();">
			<input type="hidden" name="acao" id="acao" value="priorizar" />
			<input type="hidden" name="op" id="op" value="helpdesk" />
			<input type="hidden" name="tela" id="tela" value="alteracao" />
			<input type="hidden" name="id_cliente" id="id_cliente" value="{$id_cliente}" />
			<input type="hidden" name="id_chamado" id="id_chamado" value="{$chamado.id_chamado}" />
			<input type="hidden" name="responsavel" id="responsavel" value="{$chamado.responsavel}" />
			<input type="hidden" name="prioridade_atual" id="prioridade_atual" value="{$chamado.prioridade}" />



			<table border="0" class="lista" dwcopytype="CopyTableRow" width="100%" height="100%" cellpadding=2 cellspacing=0>
				<tr>
					<th style="background: #FF0000; color: #ffffff" colspan=2><span id="lblConfirma">Priorizar Chamado</span></th>
				</tr>
				<tr>
					<!-- Lado Esquerdo -->
					<td width="500">
						<table border=0>
							<tr>
								<td align="right"><strong>Prioridade:</strong></td>
								<td>
									<select id="prioridade" name="prioridade" style="width:100%"  onchange="javascript:AtualizaFormCampoTipo(this.value);" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
										{foreach from=$prioridades key=k item=i}
											{if $k != $chamado.prioridade}<option value="{$k}">{$i}</option>{/if}
										{/foreach}
									</select>
								</td>
							</tr>

							<tr>
								<td align="right" width="110"><strong>Comentário:</strong></td>
								<td align="right"><textarea name="prioridade_comentario" id="prioridade_comentario" rows="4" cols="30"></textarea></td>
							</tr>
						</table>
					</td>

					<!-- Confirmação -->
					<td width="200" style="border-left:1px solid #000" valign="middle">
						<table border=0>
							<tr>
								<td align="right">Administrador: </td><td><label><strong>{$dadosLogin.admin}</strong></label></td>
							</tr>
							<tr>
								<td align="right">Senha: </td><td><input type="password" name="senha_admin" id="senha_admin"  class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
							</tr>
							<tr>
								<td>&nbsp;</td><td align="center" colspan=2><input type="submit" name="confirmar" value="Confirmar" class='botao'/></td>
							</tr>
						</table>
					</td>
				</tr>

			</table>
		</form>
	</div>
{/if}
{* //----- FORMULÁRIO DE PRIORIZAÇÃO DE CHAMADO ----- *}


{* FECHACAR/RESOLVER CHAMADO *}
{if $admin_grupo || $chamado.id_responsavel == $dadosLogin.id_admin || $chamado.criado_por == $dadosLogin.id_admin}
	<!-- RESOLVE/FECHAR CHAMADO -->
	<div id="divFormResolveChamado" style="width:700px;position:relative; display:none;">
		<form name="frmResolver" id="frmResolver" action="admin-clientes.php" onsubmit="javascript:return validaFormResolverChamado();">
			<input type="hidden" name="acao" id="acao" value="resolver" />
			<input type="hidden" name="op" id="op" value="helpdesk" />
			<input type="hidden" name="tela" id="tela" value="alteracao" />
			<input type="hidden" name="id_cliente" id="id_cliente" value="{$id_cliente}" />
			<input type="hidden" name="id_chamado" id="id_chamado" value="{$chamado.id_chamado}" />
			<input type="hidden" name="responsavel_chamado" id="responsavel_chamado" value="{$chamado.responsavel}" />
			<input type="hidden" name="atualstatus" id="atualstatus" value="{$chamado.status}" />

			<table border="0" class="lista" dwcopytype="CopyTableRow" width="100%" height="100%" cellpadding=2 cellspacing=0>
				<tr>
					<th style="background: #FF0000; color: #ffffff" colspan=2><span id="lblConfirma">Finalizar/Pendenciar Chamado</span></th>
				</tr>
				<tr>
					<!-- Lado Esquerdo -->
					<td width="500" style="padding:0px">
						<table border=0>
							<tr>
								<td align="right" width="150"><strong>Status:</strong></td>
								<td align="left">
									<select name="novostatus" id="novostatus" style="width:150px" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="formOnBlur(this);" onchange="javascript:modificaStatus();">
										<option value="">-- SELECIONE --</option>
										{* Somente o dono do chamado e o administrador doe grupo podem ter acesso a estas opçòes *}
										{if $admin_grupo || $chamado.id_responsavel == $dadosLogin.id_admin }
											<option value="A">Aberto</option>
											<option value="P">Pendente</option>
											<option value="PC">Pendente com o solicitante</option>
										{/if}

										{* Se o chamado não for uma ordem de serviço e não conter OS pendentes, então aparecerão as duas opções de conclusão do chamado *}
										{if !count($os_pendentes)}
											<option value="OK">Resolvido</option>
											<option value="F">Fechado</option>
										{/if}

									</select>
								</td>
							</tr>

							<tr>
								<td align="right" width="150"><strong>Laudo de Resolu&ccedil;&atilde;o/Fechamento:</strong></td>
								<td align="right"><textarea name="comentariofim" id="comentariofim" rows="4" cols="30"></textarea></td>
							</tr>
						</table>

						{if $chamado.tipo == "OS"}
						<center>
							<table width="100%" style="padding:0px;margin:0px; border:none;">
								<tr><th>Dados da Visita Técnica</th></tr>
							</table>
						</center>

						<table border=0>
							<tr>
								<td align="right" width="150"><strong>Data Execu&ccedil;&atilde;o:</strong></td>
								<td align="right"><input type="text" name="data_execucao" id="data_execucao" style="width:100%" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" value="{$chamado.data_execucao|date_format:"%d/%m/%Y"}" /></td>
							</tr>

							<tr>
								<td align="right" width="150"><strong>Hor&aacute;rio Chegada:</strong></td>
								<td align="right"><input type="text" name="horario_chegada" id="horario_chegada" style="width:100%" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" value="{$chamado.horario_chegada|date_format:"%k:%M"}" /></td>
							</tr>

							<tr>
								<td align="right" width="150"><strong>Hor&aacute;rio Sa&iacute;da:</strong></td>
								<td align="right"><input type="text" name="horario_saida" id="horario_saida" style="width:100%" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" value="{$chamado.horario_saida|date_format:"%k:%M"}" /></td>
							</tr>

							<tr>
								<td align="right"><strong>Caracteriza&ccedil;&atilde;o:</strong></td>
								<td>
									<select id="caracterizacao" name="caracterizacao" style="width:100%"  onchange="javascript:AtualizaFormCampoTipo(this.value);" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
										<option value="">-- SELECIONE --</option>
										{foreach from=$caracterizacao key=k item=i}
											<option value="{$k}" {if $k == $chamado.caracterizacao}SELECTED{/if}>{$i}</option>
										{/foreach}
									</select>
								</td>
							</tr>

							<tr>
								<td align="right" width="150"><strong>ICMP IP:</strong></td>
								<td align="right"><input type="text" name="icmp_ip" id="icmp_ip" style="width:100%" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" value="{$chamado.icmp_ip}" /></td>
							</tr>

							<tr>
								<td align="right" width="150"><strong>Média ICMP:</strong></td>
								<td align="right"><input type="text" name="icmp_media" id="icmp_media" style="width:100%" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" value="{$chamado.icmp_media}" /></td>
							</tr>

							<tr>
								<td align="right" width="150"><strong>Mínimo ICMP:</strong></td>
								<td align="right"><input type="text" name="icmp_minimo" id="icmp_minimo" style="width:100%" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" value="{$chamado.icmp_minimo}" /></td>
							</tr>

							<tr>
								<td align="right" width="150"><strong>FTP IP:</strong></td>
								<td align="right"><input type="text" name="ftp_ip" id="ftp_ip" style="width:100%" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" value="{$chamado.ftp_ip}" /></td>
							</tr>

							<tr>
								<td align="right" width="150"><strong>Média FTP:</strong></td>
								<td align="right"><input type="text" name="ftp_media" id="ftp_media" style="width:100%" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" value="{$chamado.ftp_media}" /></td>
							</tr>

							<tr>
								<td align="right" width="150"><strong>Mínimo FTP:</strong></td>
								<td align="right"><input type="text" name="ftp_minimo" id="ftp_minimo" style="width:100%" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" value="{$chamado.ftp_minimo}" /></td>
							</tr>

						</table>
						{/if}
					</td>
					<!-- Confirmação -->
					<td width="200" style="border-left:1px solid #000" valign="middle">
						<table border=0>
							<tr>
								<td align="right">Administrador: </td><td><label><strong>{$dadosLogin.admin}</strong></label></td>
							</tr>
							<tr>
								<td align="right">Senha: </td><td><input type="password" name="senha_admin" id="senha_admin"  class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
							</tr>
							<tr>
								<td>&nbsp;</td><td align="center" colspan=2><input type="submit" name="confirmar" value="Confirmar" class='botao'/></td>
							</tr>
						</table>
					</td>
				</tr>

				{* Caso não seja uma ordem de serviço, aparece a mensagem de advertência *}
				{if $chamado.tipo != "OS"}
				<tr>
					<td colspan=2 style="border-top:1px solid #000">
						<p style="font-size:10px;text-align:center">Os status RESOLVIDO e FINALIZADO só aparecerão quando não houverem Ordens de Serviço pendentes no chamado.</label>
					</td>
				</tr>
				{/if}

			</table>

		</form>
	</div>
{/if}



{* Se houverem ordens de serviço então exibe uma listagem com todas as ordens de chamado *}
{if $ordens_servico_chamado}
	<table class='lista' border=0 width='700' cellpadding=0 cellspacing=0 align="center">

		<tr>
			<th colspan=6 align="center" class="cabecalho" >ORDENS DE SERVI&Ccedil;O</th>
		</tr>

		<tr>
			<th align="center">COD</th>
			<th align="center">ABERTURA</th>
			<th align="center">PRI</th>
			<th align="center">STAT</th>
			<th align="center">GRUPO/RESP</th>
			<th align="left">ASSUNTO</th>
		</tr>

		{foreach name=registros item=r from=$ordens_servico_chamado}
		{if ($smarty.foreach.registros.iteration%2) }{assign var=estilo value='par'}{else}{assign var=estilo value='impar'}{/if}
		<tr>
			<td align='right' align="center" width="40" class='{$estilo}'><a href="javascript:AlterarChamado('{$r.id_chamado}', '{$id_cliente}')">{$r.id_chamado|string_format:"%05d"}</a></td>
			<td class='{$estilo}' align="center" width="140"><a href="javascript:AlterarChamado('{$r.id_chamado}', '{$id_cliente}')">{$r.abertura|date_format:"%d-%m-%Y / %H:%M"|upper}</a></td>
			<td class='{$estilo}' align="center" width="25"><a href="javascript:AlterarChamado('{$r.id_chamado}', '{$id_cliente}')">{$r.prioridade}</a></td>
			<td class='{$estilo}' align="center" width="25"><a href="javascript:AlterarChamado('{$r.id_chamado}', '{$id_cliente}')">{$r.status}</a></td>
			<td class='{$estilo}' align="center" width="150"><a href="javascript:AlterarChamado('{$r.id_chamado}', '{$id_cliente}')">{$grupos[$r.id_grupo]} {if $r.responsavel}<br /><b>{$responsaveis[$r.responsavel]}</b>{/if}</a></td>
			<td class='{$estilo}' width="250"><a href="javascript:AlterarChamado('{$r.id_chamado}', '{$id_cliente}')">{$r.assunto}</a></td>
		</tr>
		{/foreach}


	</table>
	<br />
{/if}



	<!-- HISTÓRICO DO CHAMADO -->
	<table class="lista" border=0 cellspacing=0 cellpadding=0 width="700" align="center">
		<tr>
			<th colspan=4>Histórico do Chamado</th>
		</tr>
		<tr>
			<td width="150" align="left" style="border-bottom:1px solid #000000"><strong>DATA/HORA</strong></td>
			<td width="200" align="left" style="border-bottom:1px solid #000000"><strong>TITULO</strong></td>
			<td width="100" align="left" style="border-bottom:1px solid #000000"><strong>ADMIN</strong></td>
			<td width="250" align="left" style="border-bottom:1px solid #000000"><strong>COMENTARIO</strong></td>
		</tr>

		{foreach name=registros from=$historico_chamado item=i}
		{if ($smarty.foreach.registros.iteration%2) }{assign var=estilo value='par'}{else}{assign var=estilo value='impar'}{/if}
		<tr>
			<td align="left" class='{$estilo}' >{$i.datahora|date_format:"%d-%m-%Y / %H:%M"|upper}</td>
			<td align="left" class='{$estilo}' >{$i.titulo}</td>
			<td align="left" class='{$estilo}' >{$responsaveis[$i.id_admin]}</td>
			<td align="left" class='{$estilo}' >{$i.comentarios|replace:"\n":'<br>'}</td>
		</tr>
		{/foreach}

	</table>
	<br />


</td>
</tr>
</table>
<br>


{if $chamado.tipo == "OS"}
<script language="javascript1.2">
	desabilitaVT();
</script>
{/if}


</body>
</html>
