<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<title>VIRTEX_NG</title>
</head>

	<script type="text/javascript" src="view/templates/jslib/form/condominio.js"></script>
	<script type="text/javascript" src="view/templates/jslib/form/ajax.js"></script>

<body style="margin: auto; paddin: 0px; padding: 2px;">
{include file="clientes_header.html"}

<style>
{literal}

.clienteTopMenu {
	margin-left: 15px;
	font-family: verdana;
	font-size: 11px;
}

.clienteTopMenu A {
	text-decoration: none;
	color: #0000FF;
}

.clienteTopMenu A:HOVER {
	text-decoration: underline;
}


.disabled {
	border: solid 1px #DADADA;
	font-family: verdana;
	font-size: 10px;
	margin-right: 2px;
}

label {
	font-family: verdana;
	font-size: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
}

.divBoxContratacao {
	visibility: visible;

	margin-bottom: 0px;
	padding-bottom: 0px;
}

.boxContratacao {
	margin-top: 2px;
	border: solid 1px #000000;
	margin-bottom: 0px;
	padding-bottom: 0px;
	width: 100%;
}

.boxContratacao TD {

}

.boxContratacao TH {
	background: #aaccaa;
}

.fieldWithFocusFP {
	border: solid 1px #004400;
	margin-right: 2px;
 	background-color: #F3F9F3;
 	font-family: verdana;
 	color: #005500;
 	font-size: 8px;
}

.fieldWithoutFocusFP {
	border: solid 1px #000000;
	margin-right: 2px;
	background-color: #FFFFFF;
 	color: #000000;
 	font-family: verdana;
 	font-size: 8px;
}

.disabledFP {
	border: solid 1px #DADADA;
	margin-right: 2px;
	background-color: #FFFFFF;
 	color: #000000;
 	font-family: verdana;
 	font-size: 8px;
}

{/literal}
</style>

<script type="text/javascript">
	var tipo_contrato = '{$tipo_contrato}';
	var endereco_original = '{$endereco}';
	var condominios = eval({$condominios});

{literal}

	function voltar(){
		{/literal}
		document.location = 'admin-clientes.php?op=conta&tipo='+tipo_contrato+'&id_cliente={$id_cliente}';
		{literal}
	}

	function habilita(campo) {
		campo.disabled=false;
		campo.className='fieldWithoutFocus';
	}

	function desabilita(campo) {
		campo.disabled=true;
		campo.className='disabled';
	}

	function alteraNas() {
		var frm = document.frmConta;
{/literal}{if $id_conta}{literal}
		if( frm.id_nas.value != frm.nas_orig.value && !frm.altera_rede.checked ) {
			if( window.confirm("A alteração do NAS exige que o ip seja alterado, deseja continuar ?") ) {
				frm.altera_rede.checked = true;
				document.getElementById('selecao_redeip').value = "A";
				alteraNovaSelecao(false);
			} else {
				frm.id_nas.value = frm.nas_orig.value;
			}
		}
{/literal}{else}{literal}
		document.getElementById('selecao_redeip').value = "A";
		alteraNovaSelecao(false);
{/literal}{/if}{literal}
	}

	function alteraNovaSelecao(sit) {
{/literal}{if $id_conta}{literal}
		var frm = document.frmConta;
		frm.selecao_redeip.disabled = !frm.altera_rede.checked;
{/literal}{/if}{literal}
		alteraSelecaoIP(sit);
	}

	function alteraSelecaoIP(sit) {
		var frm = document.frmConta;
		if( frm.selecao_redeip.disabled || frm.selecao_redeip.value == "A" ) {
			frm.endereco_redeip.disabled = true;
			if(!sit){
				document.getElementById('endereco_redeip').value = "";
			}
   		} else {
   			frm.endereco_redeip.disabled = false;
   		}
	}

	returnStatusUsername = false;
	function validaUsername(){
		username = document.getElementById('username');
		dominio = {/literal}'{$preferenciasGerais.dominio_padrao}'{literal}
		tipo = document.getElementById('tipo');
		var url = "admin-ajax.php";
		var pars = "op=contas&output=JSON&query=usuario&username="+username+"&dominio="+dominio+"&tipo_conta="+tipo;

		var myAjax = new Ajax.Request(
			url,
			{
				method: 'get',
				parameters: pars,
				onComplete: showResponseUsername,
				asynchronous: false
			});
		return 	returnStatusUsername;
	}

	function showResponseUsername(originalRequest) {
		try {
			if ( !getReturn(originalRequest.responseText)){
				document.getElementById('username').value = "";
				document.getElementById('username').focus();
				returnStatusUsername = false;
			} else {
				returnStatusUsername = true;
			}
		} catch(e){
			alert(e.description);
		}
	}

	function getReturn(response){
		var r = response.evalJSON();
		if(r.codigo > 0){
			alert(r.mensagem)
			return false;
		}
		return r;
	}

	returnStatus = false;
	function checkEnderecoDisponivel(id_nas, endereco){
		var url = "admin-ajax.php";
		var pars = "op=contas&output=JSON&query=enderecoDisponivel&id_nas="+id_nas+"&endereco="+endereco;

		var myAjax = new Ajax.Request(
			url,
			{
				method: 'get',
				parameters: pars,
				onComplete: showResponse,
				asynchronous: false
			});

		return returnStatus;
	}

	function showResponse(originalRequest) {
		var r = originalRequest.responseText.evalJSON();
		if(r.codigo > 0){
			alert(r.mensagem)
			returnStatus = false;
			return false;
		}

		returnStatus = true;
		document.getElementById('endereco_redeip').value = r.endereco;
	}

	function checkFrm(){
		var senha = document.getElementById('senha');
		var confsenha = document.getElementById('confsenha');
		var nas = document.getElementById('id_nas');
		var pop = document.getElementById('id_pop');

{/literal}{if !$id_conta}{literal}
		var username = document.getElementById('username');
		if(username.value != ""){
			if(!validaUsername()){
				return false;
			}
		} else {
			alert("Informe um username!");
			username.focus();
			return false;
		}

		if("" == senha.value){
			alert("A senha deve ser informada!");
			senha.focus();
			return false;
		}
{/literal}{/if}{literal}

		if("" != senha.value ){
			if(senha.value != confsenha.value){
				alert("O campo senha e com confsenha deve ser iguais!");
				senha.focus();
				return false;
			}
		}






{/literal}{if $tipo == "BL"}{literal}

		var mac = document.getElementById('mac');
		var altera_rede = document.getElementById('altera_rede');
		var selecao_redeip = document.getElementById('selecao_redeip');
		var endereco_redeip = document.getElementById('endereco_redeip');

		if("" == nas.value){
			alert("Selecione um nas!");
			nas.focus();
			return false;
		}

		if("" == pop.value){
			alert("Selecione um pop!");
			pop.focus();
			return false;
		}

		var nas_text = nas.options[nas.options.selectedIndex].text
		var nas_type=nas_text.split(":");
		if( ("IP" == nas_type[0]) && ("" == mac.value) ){
			if(!confirm("O Não preenchimento do MAC pode facilitar o acesso de usuários não autorizados no sistema. Deseja proceguir mesmo SEM o mac?")){
				return false;
			}
		}

{/literal}{if $id_conta}{literal}
		if(altera_rede.checked && "M" == selecao_redeip.value) {
{/literal}{else}{literal}
		if("M" == selecao_redeip.value) {
{/literal}{/if}{literal}
			if("" != endereco_redeip.value){
				if( endereco_redeip.value != endereco_original ){
					if( !checkEnderecoDisponivel(nas.value,endereco_redeip.value) ){
						return false;
					}
				}
			} else {
				alert("Preencher o campo de endereço IP!");
				endereco_redeip.focus();
				return false;
			}
		}
{/literal}{/if}{literal}

		return true;
	}

	function checkStatusFields(tag) {

     if ( tag.name == "difEnderecoMail" ) {

       if ( tag.checked == false ) {
          desabilita(document.getElementById('endereco_cobranca'));
          desabilita(document.getElementById('bairro_cobranca'));
          desabilita(document.getElementById('complemento_cobranca'));
          desabilita(document.getElementById('id_cidade_cobranca'));
          desabilita(document.getElementById('cep_cobranca'));
          desabilita(document.getElementById('cep_cobranca'));
       }
       else {
          habilita(document.getElementById('endereco_cobranca'));
          habilita(document.getElementById('bairro_cobranca'));
          habilita(document.getElementById('complemento_cobranca'));
          habilita(document.getElementById('id_cidade_cobranca'));
          habilita(document.getElementById('cep_cobranca'));
       }
    }
    else if ( tag.name == "difEnderecoSetup" ) {

       if ( tag.checked == false ) {
          desabilita(document.getElementById('endereco_instalacao'));
          desabilita(document.getElementById('bairro_instalacao'));
          desabilita(document.getElementById('complemento_instalacao'));
          desabilita(document.getElementById('id_cidade_instalacao_combo'));
          desabilita(document.getElementById('cep_instalacao'));
          desabilita(document.getElementById('id_condominio_instalacao'));
          desabilita(document.getElementById('id_bloco_instalacao'));

          //document.getElementById('id_cidade_instalacao').value = document.getElementById('id_cidade_instalacao_combo').value;
       }
       else {
          habilita(document.getElementById('endereco_instalacao'));
          habilita(document.getElementById('bairro_instalacao'));
          habilita(document.getElementById('complemento_instalacao'));
          habilita(document.getElementById('id_cidade_instalacao_combo'));
          habilita(document.getElementById('cep_instalacao'));
          habilita(document.getElementById('id_condominio_instalacao'));

          if(document.getElementById('id_condominio_instalacao').value) {
          	habilita(document.getElementById('id_bloco_instalacao'));
          }

          document.getElementById('id_cidade_instalacao').value = "";
       }
    }
}



{/literal}
</script>
<center>
<div id="conteiner_contas">
<form action="admin-clientes.php" method="post" name="frmConta" id="frmConta" onSubmit="return checkFrm();">
<input type="hidden" name="op" id="op" value="{$op}" />
<input type="hidden" name="tela" id="tela" value="{$tela}" />
<input type="hidden" name="tipo" id="tipo" value="{$tipo}" />
<input type="hidden" name="id_cliente" id="id_cliente" value="{$id_cliente}" />
<input type="hidden" name="id_cliente_produto" id="id_cliente_produto" value="{$id_cliente_produto}" />
<input type="hidden" name="id_conta" id="id_conta" value="{$id_conta}" />
<input type="hidden" name="acao" id="acao" value="update" />

	<table cellspacing="0" cellpadding="0" class="boxContratacao">
		<tr>
			<th colspan=4 align="left">&nbsp; &nbsp;<label>Dados do Usuário:</label></th>
		</tr>
		<tr>
			<td align="right" width="110"><label>Username:</label></td>
			<td colspan='3' align='left'>
				{if $id_conta}
					<label><strong>{$username}{if $tipo == "E"}@{$dominio}{/if}</strong></label>
				{else}
					<input type="text" size="30" maxlength="20" name="username" id="username" value="{$username}" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this);"  {if $formDisabled}disabled='disabled'{/if} />
					{if $tipo == "E"}
						{if $permite}
							<select name="sel_dominio" id="sel_dominio" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" {if $formDisabled}disabled='disabled'{/if} >
								{foreach from=$listaDominios item=d}
								<option value="{$d.dominio}">{$d.dominio}</option>
								{/foreach}
							</select>
						{else}
							{$listaDominios}
						{/if}
					{/if}
				{/if}
			</td>
		</tr>
		<tr>
			<td align="right" width="110"><label>Senha:</label></td>
			<td colspan='3' align='left'>
				<label>
					<input type="password" size="20" maxlength="20" id="senha" name="senha" value="" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" {if $formDisabled}disabled='disabled'{/if} /> (preencha p/ alterar)<br>
					<input type="password" size="20" maxlength="20" id="confsenha" name="confsenha" value="" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" {if $formDisabled}disabled='disabled'{/if} /> (confirme)
				</label>
			</td>
		</tr>

		{if $data_instalacao}
		<tr>
			<td align="right" width="110"><label>Status:</label></td>
			<td colspan='3' align='left'>
				<select name="status" id="status" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" {if $formDisabled}disabled='disabled'{/if} >
					{if $status == 'I' }<option value="I" selected='selected'>Não Ativo</option>{/if}
					<option value="A" {if $status == 'A'}selected='selected'{/if}>Ativo</option>
					<option value="B" {if $status == 'B'}selected='selected'{/if}>Bloqueado</option>
				</select>
			</td>
		</tr>
		{/if}

		<tr>
			<td align="right" width="110"><label>Tipo:</label></td>
			<td colspan='3' align='left'>
				<select name="conta_mestre" id="conta_mestre" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" {if $formDisabled}disabled='disabled'{/if} >
					<option value="t" {if $conta_mestre == 't'}selected='selected'{/if}>Conta Mestre</option>
					<option value="f" {if $conta_mestre == 'f'}selected='selected'{/if}>Normal</option>
				</select>
			</td>
		</tr>
		{if $tipo == "E"}
		<tr>
			<td align="right" width="110"><label>Quota:</label></td>
			<td colspan='3' align='left'>
				<label><input type="text" name="quota" id="quota" value="{$quota}" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" {if $formDisabled}disabled='disabled'{/if} /></label>
			</td>
		</tr>
		{/if}
	</table>


	<table cellspacing="0" cellpadding="0" class="boxContratacao">
		<tr>
			<th colspan=2 align="left">&nbsp; &nbsp;<label>Dados da Instala&ccedil;&atilde;o:</label></th>
		</tr>
		<tr>
			<td align="right" width="110"><label>Dt. Instala&ccedil;&atilde;o:</label></td>
			<td align='left'>
				<input type="text" name="data_instalacao" id="data_instalacao" value='{$data_instalacao|date_format:"%d/%m/%Y"}' class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" {if $formDisabled || $data_instalacao}disabled='disabled'{/if} />
			</td>
		</tr>

		{if $data_ativacao}
		<tr>
			<td align="right" width="110"><label>Dt. Ativa&ccedil;&atilde;o:</label></td>
			<td align='left'>
				<label><strong>{$data_ativacao|date_format:"%d/%m/%Y"}</strong></label>
				<input type="hidden" name="conta_ativada" id="conta_ativada" value="1" />
			</td>
		</tr>
		{/if}
	</table>


	{if $tipo == "BL"}
		<table cellspacing="0" cellpadding="0" class="boxContratacao">
			<tr>
				<th colspan='4' align="left">&nbsp; &nbsp;<label>Dados da Conexão:</label></th>
			</tr>
			<tr>
				<td align="right" width="110"><label>NAS:</label></td>
				<td colspan='3' align='left'>
					<select onchange="javascript:alteraNas();" name="id_nas" id="id_nas" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" {if $formDisabled}disabled='disabled'{/if} >
						<option value="">-- SELECIONE --</option>
					{foreach item=v from=$listaNAS}
						{if ($v.tipo_nas == "I") || ($v.tipo_nas == "P")}<option value="{$v.id_nas}"  {if $id_nas == $v.id_nas}selected='selected'{/if} >{$tiposNAS[$v.tipo_nas]}:{$v.nome}</option>{/if}
					{/foreach}
					</select>
					<input type="hidden" name="nas_orig" id="nas_orig" value="{$id_nas}" />
				</td>
			</tr>
			<tr>
				<td align="right" width="110"><label>POP:</label></td>
				<td colspan='3' align='left'>
					<select name="id_pop" id="id_pop" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" {if $formDisabled}disabled='disabled'{/if} >
					<option value="">-- SELECIONE --</option>
					{foreach item=v from=$listaPOP}
						{if $v.tipo != 'B'}
						<option value="{$v.id_pop}" {if $id_pop == $v.id_pop}selected='selected'{/if}>{$v.nome}</option>
						{/if}
					{/foreach}
					</select>
				</td>
			</tr>
			<tr>
				<td align="right" width="110"><label>MAC:</label></td>
				<td colspan='3' align='left'>
					<input type="text" name="mac" id="mac" value="{$mac}" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" {if $formDisabled}disabled='disabled'{/if} />
				</td>
			</tr>
			<tr>
				<td align="right" width="110"><label>{if $id_conta}Nova{/if} Seleção de Rede/IP:</label></td>
				<td align="left" colspan='3'>
					{if $id_conta}
					<input onclick="javascript:alteraNovaSelecao(false);" type="checkbox" id= "altera_rede" name="altera_rede" value="t" {if $formDisabled}disabled='disabled'{/if} />&nbsp;
					{/if}
					<select onchange="javascript:alteraSelecaoIP();" name="selecao_redeip" id="selecao_redeip" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" {if $formDisabled}disabled='disabled'{/if} >
						<option value="A">Automática</option>
						<option value="M" {if $id_conta}selected='selected'{/if}>Manual</option>
					</select>&nbsp;
					<input type="text" name="endereco_redeip" id="endereco_redeip" value="{$endereco_ip}" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" {if $formDisabled}disabled='disabled'{/if} />
				</td>
			</tr>
			<tr>
				<td align="right" width="110" nowrap><label>Download (Kbps):</label></td>
				<td align='left'>
					<select name="download" id="download" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" {if $formDisabled}disabled='disabled'{/if} >
						{foreach item=v from=$bandas}
						<option value="{$v.id}" {if $download_kbps == $v.id}selected='selected'{/if}>{$v.banda}</option>
						{/foreach}
					</select>
				</td>
				<td align="right" width="110" nowrap><label>Upload (Kbps):</label></td>
				<td align='left'>
					<select name="upload" id="upload" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" {if $formDisabled}disabled='disabled'{/if} >
						{foreach item=v from=$bandas}
						<option value="{$v.id}" {if $upload_kbps == $v.id}selected='selected'{/if}>{$v.banda}</option>
						{/foreach}
					</select>

				</td>

			</tr>
		</table>
		<script type="text/javascript">alteraNovaSelecao(true)</script>
	{elseif $tipo == "D"}
		<table cellspacing="0" cellpadding="0" class="boxContratacao">
			<tr>
				<th colspan=4 align="left">&nbsp; &nbsp;<label>Dados do Acesso:</label></th>
			</tr>
			<tr>
				<td align="right" width="110"><label>Fone:</label></td>
				<td colspan='3' align='left'><input type="text" size="30" maxlength="20" name="foneinfo" id="foneinfo" value="{$foneinfo}" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" {if $formDisabled}disabled='disabled'{/if} /></td>
			</tr>
		</table>
	{elseif $tipo == "E"}

	{elseif $tipo == "H"}
		<table cellspacing="0" cellpadding="0" class="boxContratacao">
			<tr>
				<th colspan='4' align="left">&nbsp; &nbsp;<label>Dados da Hospedagem:</label></th>
			</tr>
			<tr>
				<td align="right" width="110"><label>Tipo:</label></td>
				<td colspan='3' align='left'>
					<select name="tipo_hospedagem" id="tipo_hospedagem" onChange="javascript:contratoAlteraTipoHospedagem()" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" {if $formDisabled}disabled='disabled'{/if} >
						<option value="D">Domínio do Usuário</option>
						<option value="U">www.{$preferenciasGerais.dominio_padrao}/usuario/username</option>
					</select>
				</td>
			<tr>
				<td align="right" width="110"><label>Criar:</label></td>
				<td colspan='3' align='left'><label style="margin-right: 0px">www.</label><input type="text" size="30" maxlength="20" name="dominio_hospedagem" id="dominio_hospedagem" value="{$dominio}" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" {if $formDisabled}disabled='disabled'{/if} /></td>
			</tr>
		</table>
	{/if}
	{if $tipo == "D" || $tipo == "BL"}

		<table cellspacing='0' cellpadding='0' class="boxContratacao">

			<tr>
				<th colspan='4' align="left">&nbsp; &nbsp;<label>Endere&ccedil;o de Instala&ccedil;&atilde;o:</label></th>
			</tr>
			<tr>
			<td colspan='4' >
				<input type="checkbox" name="difEnderecoSetup" id="difEnderecoSetup" OnClick="checkStatusFields(this);" value='1'><label>Especificar outro endere&ccedil;o  pra instala&ccedil;&atilde;o:</label>
			</td>
			</tr>

			{if $condominios != "[]"}
			<tr>
				<td align="right"><label>Condomínio:</label></td>
				<td align="left">
					<select name="id_condominio_instalacao" id="id_condominio_instalacao" class="disabled" onchange="javascript:AjustarCamposFormularioContratoInstalacao('frmConta', this.selectedIndex -1 , condominios);" DISABLED>
						<option value="">-- SELECIONE --</option>
					</select>
				</td>
				<td align="right"><label>Bloco:</label></td>
				<td align="left">
					<select name="id_bloco_instalacao" id="id_bloco_instalacao" class="disabled" DISABLED>
						<option value="">-- SELECIONE --</option>
					</select>
				</td>
			</tr>
			{/if}

			<tr>
				<td align="right" width="110"><label>Endere&ccedil;o:</label></td>
				<td colspan='3' align='left'><input type="text" size="46" maxlength="50" disabled name="endereco_instalacao" id="endereco_instalacao" value="{$endereco}" class="disabled" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
			</tr>
			<tr>
				<td align="right" width="110" ><label>Complemento:</label></td>
				<td align="left" ><input type="text" size="16" maxlength="30" disabled name="complemento_instalacao" id="complemento_instalacao" value="{$complemento}" class="disabled" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
				<td align="right" ><label>Bairro:</label></td>
				<td align="left" ><input type="text" size="16" maxlength="30" disabled name="bairro_instalacao" id="bairro_instalacao" value="{$bairro}" class="disabled" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
			</tr>
			<tr>
				<td align="right" width="110"><label>CEP:</label>
				<td align="left" colspan=3><input type="text" size="16" disabled maxlength="30" name="cep_instalacao" id="cep_instalacao" value="{$cep}" class="disabled" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
			</tr>
			<tr>
				<td align="right" ><label>Cidade:</label></td>
				<td align="left" colspan='4' >
					<input type="hidden" name="id_cidade_instalacao" id="id_cidade_instalacao" value="{$id_cidade}" />
					<select  class="disabled" style="width:210px" disabled name="id_cidade_instalacao_combo" id="id_cidade_instalacao_combo" tabindex="10" class="disabled" onchange="javascript: document.getElementById('id_cidade_instalacao').value=this.value;" onBlur="javascript:formOnBlur(this)" onFocus="javascript:formOnFocus(this)">
					{foreach item=a from=$cidades_disponiveis}

					<option value='{$a.id_cidade}' {if $a.id_cidade == $id_cidade}selected{/if}>{$a.cidade}
					- {$a.uf}</option>
					{/foreach}
				</td>
			</tr>
		</table>

	{/if}

	<br />
	<input type="button" name="Voltar" id="Voltar" value="Voltar" onClick="javascript:voltar();" class="botao">
	{if !$formDisabled}
	<input type="submit" name="Submit" id="Submit" value="{if $id_conta}Alterar{else}Cadastrar{/if}" class="botao">
	{/if}
</form>
</div>
</center>

<script>
AlimentarCombo('id_condominio_instalacao', condominios, 'id_condominio', 'nome', '--SELECIONE--' {if $id_condominio_instalacao}, '', '{$id_condominio_instalacao}'{/if});

{if $tipo == "D" || $tipo == "BL"}
	{if $id_condominio_instalacao}

		AjustarCamposFormularioContratoInstalacao('frmConta', document.getElementById('id_condominio_instalacao').selectedIndex -1 , condominios);

		{if $id_bloco_instalacao}
			AtualizaComboBloco('id_bloco_instalacao', '{$id_condominio_instalacao}', '{$id_bloco_instalacao}');
		{/if}
		document.getElementById('id_bloco_instalacao').disabled = true;

	{/if}
{/if}
</script>

</body>
</html>

