<br />

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="lista">
              <tr>
                <td align="CENTER" valign="MIDDLE"> <form name=formulario method="post" action="/virtexadmin/cobranca.php" onSubmit="return validaForm()" >
                    <input type="hidden" name="acao" value="alt">
                    <input type="hidden" name="op" value="amortizacao">
                    <input type="hidden" name="id_cliente" value="24">
                    <input type="hidden" name="id_cliente_produto" value="3674">
                    <input type="hidden" name="data" value="2007-12-10">
                    <input type="hidden" name="valor" value="70.00">
                    <input type="hidden" name="descricao" value="RADIO 256Kbps - 70">
                    <input type="hidden" name="vt" value="">
                    <input type="hidden" name="vp" value="">
                    <input type="hidden" name="status_fatura" value="">
                    <input type="hidden" name="popup" value="">
                    <table border=0  _bgcolor="#000000" cellspacing=1 cellpadding=1>
		<tr>
			<td align="center">
				<table border=0 width=390 cellspacing=0 cellpadding=0>
				   <tr><td><font color="#FF0000"><b></b></font></td></tr>
				</table>
				          <table width="200" border="0">
                            <tr>
                              <td> <table border=0 width="325" bgcolor="#A0A0A0">
                                  <tr bgcolor="#fafafa">
                                    <td colspan=2><font color="#000000" size="+1" face="Arial, Helvetica, sans-serif"><strong>Fatura</strong></font></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Referente
                                        à:</p></td>
                                    <td width="376" bgcolor="#FFFFFF"><p>{ $descricao }</p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Vencimento:</p></td>
                                    <td bgcolor="#FFFFFF"><p>{ $data_vencimento }                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Valor
                                        Total:</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <input type="text" name="valor_total" value="70.00" disabled="true">
                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Valor
                                        já pago(-):</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <input type="text" name="valor_pago" value="0.00" disabled="1">
                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Desconto(-):</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <!--<input type="text" name="desconto" value="0.00" onChange="javascript:calculaValores();" onFocusOut="javascript:calculaValores();"> -->
                                        <input type="text" name="desconto" value="0.00" onChange="javascript:calculaValores();" onFocusOut="javascript:calculaValores();">
                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Acrescimo(+):</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <input type="text" name="acrescimo" value="0.00" onChange="javascript:calculaValores();" onFocusOut="javascript:calculaValores();">
                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Valor
                                        a ser pago(=):</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <input type="text" name="valor_restante" value="" disabled=1>
                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Amortizar(-):</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <input type="text" name="amortizar" value="" onChange="javascript:calculaValores();" onBlur=" calculaReagendamento(); " onFocusOut="javascript:calculaValores(); calculaReagendamento();">
                                        <input type="button" name="hoje" value="Tudo" onClick="javascript:amortizarTudo(); calculaReagendamento();" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;">
                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Valor
                                        Pendente(=):</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <input type="text" name="valor_pendente" value="" disabled=1>
                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Status:</p></td>
                                    <td bgcolor="#FFFFFF"> <SELECT id="status" name="status" style="width: 117px;">
														            <OPTION value="A" SELECTED>Aberto</OPTION>
														            <OPTION value="P" >Paga</OPTION>
														            <OPTION value="R" >Paga Parcial</OPTION>
														            <OPTION value="E" >Estornadas</OPTION>
														            <OPTION value="C" >Canceladas</OPTION>
														          </SELECT> </td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Data
                                        do Pagamento:</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <input name="data_pagamento" type="text" OnKeyPress="formatar(this, '##/##/####'); return Tecla(event);" value="" maxlength="10">
                                        <input type="button" name="hoje" value="Hoje" onClick="javascript:pagamentoHoje();" &gt;&gt;"" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;">
                                        <input type="button" name="venc" value="Venc." onClick="javascript:pagamentoVencimento();" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;">
                                      </p></td>
                                  </tr>
                                </table></td>
                              <td valign="top"> <table width="320" border=0 bgcolor="#A0A0A0" dwcopytype="CopyTableRow">
                                  <tr bgcolor="#fafafa">
                                    <td colspan=2><font color="#000000" size="+1" face="Arial, Helvetica, sans-serif"><strong>Opções</strong></font></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right"  width="150">
                                      <p>
                                        <input type="checkbox" name="reagendar" value="1"  class="checkbox" onClick="javascript:verificaReagendamento();" onChange="javascript:verificaReagendamento();" >
                                        re-agendar cobrança para dia: </p></td>
                                    <td width="346" bgcolor="#FFFFFF"><input name="reagendamento" type="text" value="" OnKeyPress="formatar(this, '##/##/####'); return Tecla(event);" maxlength=10 id="reagendamento"></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="120" valign="top"><p>Observações:</p></td>
                                    <td bgcolor="#FFFFFF"><textarea name="observacoes" rows=7 cols=30></textarea></td>
                                  </tr>
                                </table>
                                <br>
                                </td>
                            </tr>
                            <tr>
                              <td colspan="2"> <div align="center">
<input name="botao_enviar" type="submit" class=input2 id="submit" value="Amortizar >>" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;">
                                </div>
                                </td>
                            </tr>
                          </table>