<br />
{if $acao == ""}
	<!-- CONFIRMAÇÃO DO CONTRATO -->
	<table class="lista" border=0 cellspacing=0 cellpadding=0 width="600" align="center">
		<tr class="lista">
			<td style="background: #bFd0aF;">Data Contrata&ccedil;&atilde;o</th>
			<td style="background: #bFd0aF;">Vig&ecirc;ncia</th>
			<td style="background: #bFd0aF;">Produto</th>
			<td style="background: #bFd0aF;">Tipo Produto</th>
			<td style="background: #bFd0aF;">Valor</th>
			<td style="background: #bFd0aF;">Status</th>
			<td style="background: #bFd0aF;">&nbsp;</th>
		</tr>
		{foreach from=$contratos item=c}
		<tr>
			<td>{$c.data_contratacao}</td>
			<td>{$c.vigencia}</td>
			<td>{$c.nome_produto}</td>
			<td>{$c.tipo_produto}</td>
			<td>{$c.valor}</td>
			<td>{$c.status}</td>
			<td><a href="admin-clientes.php?op=contrato&tela=faturas&id_cliente={$id_cliente}&id_cliente_produto={$c.id_cliente_produto}&id_forma_pagamento={$c.id_forma_pagamento}">[Faturas]</a></td>
		</tr>
		{/foreach}
	</table>
 </table>

{/if}
