<html>
<head>
	<title></title>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="clientes_header.html"}


<table class='lista' width='600' cellpadding=0 cellspacing=0 align="center" border='0' >
	{foreach item=r from=$listaContratos}
	<tr>
		<th align="right" width="50px"><strong>{$r.id_cliente_produto|string_format:"%05d"}</strong></th>
		
		<th align="left" width='80%'><strong>{$r.nome_produto}</strong></th>
		
		<th align="right" nowrap>
		{if $r.qtdeDisponivel > 0}
			{if $tipo == 'BL'}{assign var="str_tipo" value='Banda Larga'}{/if}
			{if $tipo == 'D'}{assign var="str_tipo" value='Discado'}{/if}
			{if $tipo == 'H'}{assign var="str_tipo" value='Hospedagem'}{/if}
			<strong>[<a href="admin-clientes.php?op=conta&tela=cadastro&tipo={$tipo}&id_cliente={$id_cliente}&id_cliente_produto={$r.id_cliente_produto}">Conta {$str_tipo} adicional</a>]</strong></th>
		{else}
			&nbsp;
		{/if}
		<th align="right" nowrap><strong>[Email adicional]</strong></th>
		
	</tr>
	<tr>
		<td colspan="4">
			<table class='lista' width='100%' cellpadding=0 cellspacing=0 align="center" border='0'>
			{foreach name=registros item=c from=$r.contas}
			{if ($smarty.foreach.registros.iteration%2) }{assign var=estilo value='par'}{else}{assign var=estilo value='impar'}{/if}
				<tr>
					<td class='estilo' width=200><a href="admin-clientes.php?op=conta&tela=cadastro&tipo={$tipo}&id_cliente={$id_cliente}&id_conta={$c.id_conta}">{$c.username}{if $c.tipo_conta == 'E'}@{$c.dominio}{/if}</a></td>
					<td class='estilo' width=80>
					<a href="admin-clientes.php?op=conta&tela=cadastro&tipo={$tipo}&id_cliente={$id_cliente}&id_conta={$c.id_conta}">
						{if $c.tipo_conta == 'BL'}BANDA LARGA{/if}
						{if $c.tipo_conta == 'D'}DISCADO{/if}
						{if $c.tipo_conta == 'E'}EMAIL{/if}
						{if $c.tipo_conta == 'H'}HOSPEDAGEM{/if}
					</a>
					</td>
					<td>
						{if $c.tipo_conta == 'BL'}
							<small>UP: {if !$c.upload_kbps}Ilimitado{else}{$c.upload_kbps} kbps{/if} / DOWN: {if !$c.download_kbps}Ilimitado{else}{$c.download_kbps} kbps{/if}</small>
						{/if}
					</td>
					<td>
						[<a href="admin-clientes.php?op=conta&tela=ficha&tipo={$tipo}&id_cliente={$id_cliente}&id_conta={$c.id_conta}">Ficha Técnica</a>]
					</td>
				</tr>
			{/foreach}
			</table>
		</td>
	</tr>
	{/foreach}
</table>



</body>
</html>
