<html>
<head>
	<title></title>
<style>
{literal}
#cont {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 18px;
	margin-left:50px;
	padding-left: 5px;
}
{/literal}
</style>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="cobranca_header.html"}

<br /><br />
<div id="cont" align="center">
	Geração de Boletos Bancários
	<br /><br />
	<form action="admin-cobranca.php" >
		<input type="hidden" name="op" value="gerar_cobranca" />
		<input type="hidden" name="acao" value="gerar" />

		<table class="lista" border="0" width="400px" cellpadding="0" cellspacing="0">
			<tr>
				<th colspan="3">Periodo de Emissão</th>
			</tr>
			<tr>
				<td align="center"><input type="radio" name="periodo" value="PQ" CHECKED /> de 1 a 15</td>
				<td align="center"><input type="radio" name="periodo" value="SQ" /> de 16 a 30</td>
				<td align="center"><input type="radio" name="periodo" value="MT" /> mês todo</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td align="left">
					Mês <select name="mes">
							<option value="01">Janeiro</option>
							<option value="02">Fevereiro</option>
							<option value="03">Março</option>
							<option value="04">Abril</option>
							<option value="05">Maio</option>
							<option value="06">Junho</option>
							<option value="07">Julho</option>
							<option value="08">Agosto</option>
							<option value="09">Setembro</option>
							<option value="10">Outubro</option>
							<option value="11">Novembro</option>
							<option value="12">Dezembro</option>
						</select>
					Ano <select name="ano">
							{foreach from=$periodo_anos item=i key=k}
							<option value="{$i.ano}">{$i.ano}</option>
							{/foreach}
						</select>
				</td>
			</tr>
			<tr>
				<td align="right" colspan="2"><input type="submit" name="123" value="Emitir Boletos no Período" /></td>
			</tr>
		</table>
	</form>

	{if count($ulimas_remessas)}
	<table class='lista' width='600' cellpadding=0 cellspacing=0 align="center">

		<tr>
			<th align="left">DATA CRIAÇÃO</th>
			<th align="left">PERIODO</th>
			<th align="left">E-MAIL</th>
			<th align="left">STATUS</th>
			<th align="center">&nbsp;</th>
		</tr>
		{foreach item=r from=$ultimas_remessas}
		{if ($smarty.foreach.registros.iteration%2) }{assign var=estilo value='par'}{else}{assign var=estilo value='impar'}{/if}
		<tr>
			<td width="100" class='{$estilo}'><a href="admin-administracao.php?op=administradores&tela=cadastro&id_admin={$r.id_admin}">{$r.admin|lower}</a></td>
			<td width="100" class='{$estilo}'><a href="admin-administracao.php?op=administradores&tela=cadastro&id_admin={$r.id_admin}">{$r.nome}</a></td>
			<td class='{$estilo}'><a href="admin-administracao.php?op=administradores&tela=cadastro&id_admin={$r.id_admin}">{$r.email|lower}</a></td>
			<td width="100" class='{$estilo}' align="left"><a href="admin-administracao.php?op=administradores&tela=cadastro&id_admin={$r.id_admin}">{if $r.status=="A"}Ativo{else}Cancelado{/if}</a></td>
			<td width="70" class='{$estilo}' align="right">[<a href="admin-administracao.php?op=administradores&tela=privilegio&id_admin={$r.id_admin}">privilégios</a>]</td>
		</tr>
		{foreachelse}
	</table>
	{/if}

</div>
</body>
</html>
