<html>
<head>
	<title></title>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="configuracoes_header.html"}
<style>
{literal}
label {
	font-family: verdana;
	font-size: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
}
{/literal}
</style>
<script language="JavaScript">
{literal}
function voltar() {
	if( window.confirm("Deseja abandonar este registro?") ) {
		window.open('admin-configuracoes.php?op=equipamentos&tela=servidores&subtela=listagem','conteudo');
	}
}
{/literal}
</script>

<form method="post" action="admin-configuracoes.php">
<input type="hidden" name="op" value="{$op}">
<input type="hidden" name="tela" value="{$tela}">
<input type="hidden" name="subtela" value="{$subtela}">
<input type="hidden" name="acao" value="alterar">

<table cellspacing=0 cellpadding=0 border=0 align="center">
	<tr>
		<td width="130" align="right"><label>Hostname/Apelido:</label></td>
		<td><input type="text" size="30" maxlength="20" name="hostname" value="{$hostname}" class="fieldWithoutFocus"  onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
	</tr>
	<tr>
		<td width="130" align="right"><label>IP:</label></td>
		<td><input type="text" size="30" maxlength="15" name="ip" value="{$ip}" class="fieldWithoutFocus"  onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">: <input type="text" size="10" maxlength="15" name="porta" value="{$porta}" class="fieldWithoutFocus"  onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
	</tr>
	<tr>
		<td width="130" align="right"><label>Chave:</label></td>
		<td><input type="text" size="30" maxlength="64" name="chave" value="{$chave}" class="fieldWithoutFocus"  onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
	</tr>
	<tr>
		<td width="130" align="right"><label>Usuário:</label></td>
		<td><input type="text" size="30" maxlength="64" name="usuario" value="{$usuario}" class="fieldWithoutFocus"  onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
	</tr>
	<tr>
		<td width="130" align="right"><label>Senha:</label></td>
		<td><input type="password" size="30" maxlength="64" name="senha" class="fieldWithoutFocus"  onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
	</tr>
	<tr>
		<td width="130" align="right"><label>Confirme:</label></td>
		<td><input type="password" size="30" maxlength="64" name="confsenha" class="fieldWithoutFocus"  onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)"></td>
	</tr>
	<tr>
		<td width="130" align="right"><label>Disponível:</label></td>
		<td>
			<select name="disponivel" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
				{foreach item=d from=$lista_boolean}
				<option value='{$d.id}' {if $d.id == $disponivel}SELECTED{/if}>{$d.nome}</option>
				{/foreach}
			</select>
		</td>
	</tr>
	<tr>
		<td colspan=2 align="center" style="border-top: dotted 1px #000000;">
		<input type="button" name="Voltar" value="Voltar" onClick="javascript:voltar();" class="botao">
		<input type="submit" name="Submit" value="{if $id_servidor}Alterar{else}Cadastrar{/if}" class="botao">
		</td>
	</tr>
</table>

</body>
</html>
