<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
  "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<title></title>
</head>
<body topmargin='2' leftmargin='2' bottommargin='2' rightmargin='2' style='margin: auto; padding: 0px;'>
{include file="configuracoes_header.html"}
<center>
<div class="cont_resumo">
<form name=prefs method="post" action="{$smarty.server.PHP_SELF}">
  <input type="hidden" name="op" id="op" value="resumo" />
</form>

<h4 class='resumoTitle'>Resumo de Prefer&ecirc;ncias</h4><br />
<table border="0" cellpadding="0" cellspacing="1" class="tableResumo">
    <tr>
		<th colspan="6" class="resumoCellTitle">Prefer&ecirc;ncia Geral</th>
	</tr>
	<tr>
		<th width="120" class="resumoCellSub">Dominio Padr&atilde;o</th>
		<th width="244" class="resumoCellSub">Nome</th>
		<th width="110" class="resumoCellSub">Radius Server</th>
		<th width="110" class="resumoCellSub">Servidor de Hospedagem</th>
		<th width="110" class="resumoCellSub">Servidor de E-Mail</th>
		<th width="16" class="resumoCellSub">&nbsp;</th>
    </tr>
	<tr onclick="document.location='admin-configuracoes.php?op=preferencias&tela=geral'" class='link'> 
	{if $geral.dominio_padrao}    
		<td class="resumoCellInfol">{$geral.dominio_padrao}</td>
		<td class="resumoCellInfol">{$geral.nome}</td>
		<td class="resumoCellInfo">{$geral.radius_server}</td>
		<td class="resumoCellInfo">{$geral.hosp_server}</td>
		<td class="resumoCellInfo">{$geral.mail_server}</td>
		<td class="resumoCellInfo"><img src="view/templates/imagens/gif_alterar.gif" border="0" alt="alterar" /></td>
	{else}	
		<td colspan="6" class="resumoCellInfo">Não Configurado!</td>
	{/if}
	</tr>
  </table>
  <br />
  <table border="0" cellpadding="0" cellspacing="1" class="tableResumo">
	<tr>
		<th colspan="6" class="resumoCellTitle">Prefer&ecirc;ncia do Provedor</td>
	</tr>
    <tr> 
      <th width="254" class="resumoCellSub">Endere&ccedil;o</th>
      <th width="120" class="resumoCellSub">Localidade</th>
      <th width="80"  class="resumoCellSub">CEP</th>
      <th width="120" class="resumoCellSub">Cnpj</th>
	  <th width="120" class="resumoCellSub">Fone</th>
	  <th width="16" class="resumoCellSub">&nbsp;</th>
    </tr>
    <tr onclick="document.location='admin-configuracoes.php?op=preferencias&tela=provedor'" class='link'>
	{if $provedor.endereco}	
      <td class="resumoCellInfol">{$provedor.endereco}</td>
      <td class="resumoCellInfo">{$provedor.localidade}</td>
      <td class="resumoCellInfo">{$provedor.cep}</td>
      <td class="resumoCellInfo">{$provedor.cnpj}</td>
	  <td class="resumoCellInfo">{$provedor.fone}</td>
	  <td class="resumoCellInfo"><img src="view/templates/imagens/gif_alterar.gif" border="0" alt="alterar" /></td>
	{else}	
		<td colspan="6" class="resumoCellInfo">Não Configurado!</td>
	{/if}  
    </tr>
  </table>
  <br />
  <table border="0" cellpadding="0" cellspacing="1" class="tableResumo">
	<tr>
		<th colspan="8" class="resumoCellTitle">Prefer&ecirc;ncia de Cobran&ccedil;a</th>
	</tr>
    <tr> 
    	<th width="115" class="resumoCellSub">Dia de Vencimento</th>
    	<th width="115" class="resumoCellSub">Car&ecirc;ncia</th>
		<th width="115" class="resumoCellSub">Enviar E-Mail </th>
    	<th width="115" class="resumoCellSub">Taxa de Juros</th>
    	<th width="115" class="resumoCellSub">Multa</th>
    	<th width="115" class="resumoCellSub">Pagamento</th>
		<th width="16"  class="resumoCellSub">&nbsp;</th>
    </tr>
    <tr onclick="document.location='admin-configuracoes.php?op=preferencias&tela=cobranca'" class='link'> 
	{if $cobranca.dia_venc}	
	    <td class="resumoCellInfo">{$cobranca.dia_venc}</td>
    	<td class="resumoCellInfo">{$cobranca.carencia} dias </td>
		<td class="resumoCellInfo">{if $cobranca.enviar_email == 't'}Sim{else}Não{/if} 
		<td class="resumoCellInfo">{$cobranca.tx_juros} % </td>
    	<td class="resumoCellInfo">{$cobranca.multa} % </td>
    	<td class="resumoCellInfo">{if $cobranca.pagamento=="PRE"}Pr&eacute;-Pago{elseif $cobranca.pagamento=="POS"}P&oacute;s-Pago{/if}</td>
		<td class="resumoCellInfo"><img src="view/templates/imagens/gif_alterar.gif" border="0" alt="alterar" /></td>
	{else}	
		<td colspan="8" class="resumoCellInfo">Não Configurado!</td>
	{/if}  
    </tr>
  </table>
  <br />
  <table border="0" cellpadding="0" cellspacing="1" class="tableResumo">
  	<tr>
		<td colspan="6" class="resumoCellTitle">Formas de pagamento <span style="color:#999999;">(Cobran&ccedil;a)</span></td>
	</tr>				
	<tr>
		<th class="resumoCellSub">TIPO</th>
		<th class="resumoCellSub">BANCO</th>
		<th class="resumoCellSub">AG.</th>
		<th class="resumoCellSub">CONTA</th>
		<th class="resumoCellSub">CARNÊ</th>
		<th class="resumoCellSub">DISPONÍVEL</th>
	</th>	
	{foreach name=registros item=r from=$formas}
	{if ($smarty.foreach.registros.iteration%2) }{assign var=estilo value='par'}{else}{assign var=estilo value='impar'}{/if}
	<tr onclick="document.location='admin-configuracoes.php?op=preferencias&tela=cobranca&subtela=forma_pagamento&id_forma_pagamento={$r.id_forma_pagamento}'" class='link'>
		<td width="150" class="resumoCellInfol">{$tipos_forma[$r.tipo_cobranca]}</td>
		<td width="190" class="resumoCellInfol">{if $r.codigo_banco}{$r.codigo_banco|string_format:"%03d"}-{$bancos[$r.codigo_banco]}{else}N/A{/if}</td>
		<td class="resumoCellInfo">{$r.agencia|string_format:"%04d"}</td>
		<td class="resumoCellInfo">{$r.conta|string_format:"%08d"}</td>
		<td class="resumoCellInfo">{if $r.carne == 't'}SIM{else}NÃO{/if}</td>
		<td class="resumoCellInfo">{if $r.disponivel == 't'}SIM{else}NÃO{/if}</td>
	</tr>
	{foreachelse}
		<tr>
			<td colspan="6" class="resumoCellInfo"><B>NENHUMA FORMA DE PAGAMENTO CADASTRADA ATÉ O MOMENTO.</B></td>
		</tr>
	{/foreach}
  </table>	
</div>
</center>
<br />
</body>
</html>
