<html>
<head>
	<title></title>
<script type="text/javascript">
<!--
{literal}

	function filtro(filtro){
		window.open("admin-faturamento.php?op=relatorios&relatorio=por_produto&ano_select="+filtro.value,"conteudo");

	}
{/literal}
//-->
</script>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="suporte_header.html"} <br /><br />

<div align="center">

<form action="admin-faturamento.php?op=relatorios&relatorio=por_produto" method="post">
<p align="right" id="titu" style="font-family: Tahoma; Font-size:12px;"><label>Escolha o ano:</label>&nbsp;
	<select name="ano_select" onchange="filtro(this)" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)" >
		{foreach from=$anos_fatura item=i}
			<option value={$i.ano}  {if $ano_select == $i.ano} SELECTED{/if}>{$i.ano}</option>
		{/foreach}
	</select>
</p>
</form>


	<table class="lista" width="60%" border="0">
		<tr>
			<th rowspan="2">Tipo</th>
			<th colspan="13">Meses</th>
		</tr>
		<tr>
			<th style="background-color:#819FCF;">JAN</th>
			<th style="background-color:#819FCF;">FEV</th>
			<th style="background-color:#819FCF;">MAR</th>
			<th style="background-color:#819FCF;">ABR</th>
			<th style="background-color:#819FCF;">MAI</th>
			<th style="background-color:#819FCF;">JUN</th>
			<th style="background-color:#819FCF;">JUL</th>
			<th style="background-color:#819FCF;">AGO</th>
			<th style="background-color:#819FCF;">SET</th>
			<th style="background-color:#819FCF;">OUT</th>
			<th style="background-color:#819FCF;">NOV</th>
			<th style="background-color:#819FCF;">DEZ</th>

		</tr>

		<tr style="background-color:#D1DDEF;">
			<td align="center">Banda Larga</td>
			{foreach from=$dados_bl key=p item=m}
				<td align="center">{$m}</td>
			{/foreach}
		</tr>


		<tr>
			<td align="center">Discado</td>
			{foreach from=$dados_d key=p item=m}
				<td align="center">{$m}</td>
			{/foreach}
		</tr>

		<tr style="background-color:#D1DDEF;">
			<td align="center">Hospedagem</td>
			{foreach from=$dados_h key=p item=m}
				<td align="center">{$m}</td>
			{/foreach}
		</tr>
	</table>


</div>

</body>
</html>