<html>
<head>
	<title></title>

</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="suporte_header.html"} <br /><br />

<div align="center">

<form action="admin-faturamento.php?op=relatorios&relatorio=por_produto" method="post">
<p align="right" id="titu"><label>Escolha o ano:</label>&nbsp;
	<select name="ano_select" onchange="filtro(this)">
		{foreach from=$anos_fatura item=i}
			<option value={$i.ano}  {if $ano_select == $i.ano} SELECTED{/if}>{$i.ano}</option>
		{/foreach}
	</select>
	<input type="submit" value="OK">
</p>
</form>


	<table class="lista" width="60%" border="0">
		<tr>
			<th rowspan="2">Tipo</th>
			<th colspan="13">Meses</th>
		</tr>
		<tr>
			<th>JAN</th>
			<th>FEV</th>
			<th>MAR</th>
			<th>ABR</th>
			<th>MAI</th>
			<th>JUN</th>
			<th>JUL</th>
			<th>AGO</th>
			<th>SET</th>
			<th>OUT</th>
			<th>NOV</th>
			<th>DEZ</th>

		</tr>

		<tr>
			<td align="center">Banda Larga</td>
			{foreach from=$dados_bl key=p item=m}
				<td align="center">{$m}</td>
			{/foreach}
		</tr>


		<tr>
			<td align="center">Discado</td>
			{foreach from=$dados_d key=p item=m}
				<td align="center">{$m}</td>
			{/foreach}
		</tr>

		<tr>
			<td align="center">Hospedagem</td>
			{foreach from=$dados_h key=p item=m}
				<td align="center">{$m}</td>
			{/foreach}
		</tr>
	</table>


</div>

</body>
</html>