{include file="suporte_header.html"} <br /><br />
<script type="text/javascript">
<!--
{literal}	
	
	function filtro(filtro){
		window.open("admin-faturamento.php?op=relatorios&relatorio=previsao&ano_select="+filtro.value,"conteudo");
		
	}
{/literal}
//-->
</script>
<div align="center">

<h2>Relatório Faturamento Anual </h2>
<table>
	<tr>
		<td>Escolha o ano: </td>
		<td>
			<select name="ano_select" onchange="filtro(this)">
				{foreach from=$anos_fatura item=i}
					<option value={$i.ano}  {if $ano_select == $i.ano} SELECTED{/if}>{$i.ano}</option>
				{/foreach}
			</select>
		</td>
		<td>
			<table>
				<tr>
					<td>
						<input type="radio" name="comparativo" value="comparativo" /><label>Comparativo</label>
					</td>
				</tr>
				<tr>
					<td>
						<input type="radio" name="acumulativo" value="acumulativo" /><label>Acumulativo</label>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<input type="button" value="Listar" class="botao" />
		</td>
	</tr>
</table>
	<table class="lista" width="60%" border="0">
		<tr>
			<th rowspan="2">Dia</th>
			<th colspan="13">Meses</th>
		</tr>
		<tr>
			<th>JAN</th>
			<th>FEV</th>
			<th>MAR</th>
			<th>ABR</th>
			<th>MAI</th>
			<th>JUN</th>
			<th>JUL</th>
			<th>AGO</th>
			<th>SET</th>
			<th>OUT</th>
			<th>NOV</th>
			<th>DEZ</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
		</tr>
		<tr>
			<td>7</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
		</tr>
		<tr>
			<td>8</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
		</tr>
		<tr>
			<td>9</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
		</tr>
		<tr>
			<td>10</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
		</tr>
		<tr>
			<td>11</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
		</tr>
		<tr>
			<td>12</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
		</tr>
		<tr>
			<td>13</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
			<td>Oie</td>
		</tr>
		

	</table>


</div>

</body>
</html>