<html>
<head>
	<title></title>
	<style>
{literal}

#cont {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 12px;
	margin-left:350px;
	padding-left: 5px;
}

#cont2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 12px;
	margin-left:-20px;
	padding-left: 5px;
}

#cabecalho a:link{
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:blue;
	text-decoration:none;
}

#cabecalho a:visited{
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:blue;
}

#cabecalho a:hover{
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}
{/literal}
</style>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="cobranca_header.html"}

<div id="geral">
	<form method="POST" action="">

	{if $tela == 'remessa'}

	<br /><br />
	<div id="cont2" align="center">
		Ultimas remessas criadas<br /><br />
		<table class="lista" border="0" width="350px" cellpadding="0" cellspacing="0">
			<tr>
				<th>Data</th>
				<th align="left">Arquivo</th>
				<th>&nbsp;</th>
			</tr>

			{foreach from=$remessas name=registros item=i}
			{if ($smarty.foreach.registros.iteration%2) }{assign var=estilo value='par'}{else}{assign var=estilo value='impar'}{/if}
			<tr>
				<td align="center" class='{$estilo}'>{$i.datahora|date_format:"%d-%m-%Y"}</td>
				<td align="left" class='{$estilo}'>{$i.arquivo}</td>
				<td align="left" class='{$estilo}'>
					<a href="admin-financeiro.php?op=download_remessa&id_remessa={$i.id_remessa}"><img src="view/templates/imagens/arquivo.png" width="25" height="25" alt="Baixar Arquivo" title="Baixar Arquivo"  border="0"/></a>
				</td>
			</tr>
			{/foreach}
		</table>
	</div>
	{/if}
	</form>

	{if $tela == 'retorno'}
	<div id="cont">
	    <form enctype="multipart/form-data" method="POST" action="{$smarty.request.PHP_SELF}">
		<input type="hidden" name="op" value="{$op}">
		<input type="hidden" name="tela" value="{$tela}">

		<table class="lista"border="0" width="320px" cellpadding="0" cellspacing="0">
			<tr>
				<th colspan="2">Envio de arquivo de retorno:</th>
			</tr>

			<tr>

				<td align="right">
					<strong>Formato:</strong>
				</td>
				<td>
					<select name="formato_retorno">
						<option value="">Selecione</option>
						{html_options options=$combo_formato}
					</select>
				</td>
			</tr>
			<tr>
				<td align="right">
					<strong>Arquivo:</strong>
				</td>
				<td>

					<input type="file" name="arquivo_retorno">
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" name="123" value="Enviar" class='botao'>
				</td>
			</tr>
		</table>
		</form>
		</div>
		<br /><br />
		<div id="cont2" align="center">
		Ultimos arquivos de retorno processados<br /><br />
		<table class="lista" border="0" width="700px" cellpadding="0" cellspacing="0">
			<tr>
				<th>Data</th>
				<th>Formato</th>
				<th>Arquivo Enviado</td>
				<th>NRA</th>
				<th>NRPE</th>
				<th>NRSC</th>
				<th>NRPS</th>
				<th>&nbsp;</th>
			</tr>

			{foreach from=$retornos name=registros item=i}
			{if ($smarty.foreach.registros.iteration%2) }{assign var=estilo value='par'}{else}{assign var=estilo value='impar'}{/if}
			<tr>
				<td align="center" class='{$estilo}'><a href="admin-financeiro.php?op=arquivos&id_retorno={$i.id_retorno}">{$i.datahora|date_format:"%d/%m/%Y"}</a></td>
				<td align="center" class='{$estilo}'><a href="admin-financeiro.php?op=arquivos&id_retorno={$i.id_retorno}">{$i.formato}</a></td>
				<td align="center" class='{$estilo}'><a href="admin-financeiro.php?op=arquivos&id_retorno={$i.id_retorno}">{$i.arquivo_enviado}</a></td>
				<td align="center" class='{$estilo}'><a href="admin-financeiro.php?op=arquivos&id_retorno={$i.id_retorno}">{$i.numero_total_registros}</a></td>
				<td align="center" class='{$estilo}'><a href="admin-financeiro.php?op=arquivos&id_retorno={$i.id_retorno}">{$i.numero_registros_com_erro}</a></td>
				<td align="center" class='{$estilo}'><a href="admin-financeiro.php?op=arquivos&id_retorno={$i.id_retorno}">{$i.numero_registros_sem_correspondencia}</a></td>
				<td align="center" class='{$estilo}'><a href="admin-financeiro.php?op=arquivos&id_retorno={$i.id_retorno}">{$i.numero_registros_processados}</a></td>

				<td align="left" class='{$estilo}'>
					<a href="admin-financeiro.php?op=download_remessa&id_retorno={$i.id_retorno}"><img src="view/templates/imagens/arquivo.png" width="25" height="25" alt="Baixar Arquivo" title="Baixar Arquivo"  border="0"/></a>
				</td>

			</tr>
			{/foreach}

			<tr>
				<td colspan="6" style="border-top: 1px solid #000">
					<table border=0 >
						<tr>
							<td><strong>Legenda</strong></td>
							<td align="right"><b>NRA</b></td>
							<td align="center"><b>-</b></td>
							<td align="left">Numero de Registros no Arquivo</b></td>
						</tr>

						<tr>
							<td><strong>&nbsp;</strong></td>
							<td align="right"><b>NRPE</b></td>
							<td align="center"><b>-</b></td>
							<td align="left">Numero de registros processados com erro</b></td>
						</tr>

						<tr>
							<td><strong>&nbsp;</strong></td>
							<td align="right"><b>NRSC</b></td>
							<td align="center"><b>-</b></td>
							<td align="left">Número de Registros sem correspondência</b></td>
						</tr>

						<tr>
							<td><strong>&nbsp;</strong></td>
							<td align="right"><b>NRPS</b></td>
							<td align="center"><b>-</b></td>
							<td align="left">Número de Registros Processados com sucesso (adicionar esta coluna)</b></td>
						</tr>

					</table>
				</td>
			</tr>
		</table>
	</div>
	{/if}
</div>
</body>
</html>
