<html>
<head>
	<title></title>
<style>
{literal}
#cont {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 18px;
	margin-left:50px;
	padding-left: 5px;
}
{/literal}
</style>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="cobranca_header.html"}

<br /><br />
<div id="cont" align="center">
	Bloqueio de Clientes
	<br /><br />
	<form action="{$smarty.server.PHP_SELF}" >

		<table class="lista" border="0" width="650px" cellpadding="0" cellspacing="0">
			{if $msg_erro}
			<tr>
				<td colspan='5' class="erro" align="center">{$msg_erro}</td>
			</tr>
			{/if}
			<tr>
				<th>&nbsp;</th>
				<th width="100px" align="left">Cliente</th>
				<th align="center">Contrato</th>
				<th>Contas</th>
				<th width="70px">#Faturas em atrazo</th>
				<th width="70px">Vl Atrazado</th>
			</tr>

			{foreach from=$atrasados item=i key=k}
			{if ($smarty.foreach.registros.iteration%2) }{assign var=estilo value='par'}{else}{assign var=estilo value='impar'}{/if}
			<tr class='{cycle values="impar,par"}'>
				<td><input type="checkbox" style="{$estilo}" name="contrato_id[{$i.id_cliente_produto}]" id="contrato_id[{$i.id_cliente_produto}]" value="{$i.tipo|replace:' ':''}" {if !$podeGravar}disabled=true{/if}></td>
				<td align="left" style="{$estilo}" ><label for="contrato_id[{$i.id_cliente_produto}]">{$i.nome_razao}</label></td>
				<td align="left" style="{$estilo}" ><label for="contrato_id[{$i.id_cliente_produto}]">#0{$i.id_cliente_produto} - {$i.produto}</label></td>
				<td align="center" style="{$estilo}" ><label for="contrato_id[{$i.id_cliente_produto}]">{$i.num_contas}</label></td>
				<td align="center" style="{$estilo}" ><label for="contrato_id[{$i.id_cliente_produto}]">{$i.faturas}</label></td>
				<td align="center" style="{$estilo}" ><label for="contrato_id[{$i.id_cliente_produto}]">{$i.valor_devido}</label></td>
			</tr>
			{/foreach}

			{if $podeGravar}
			<tr>
				<th style="background: #FF0000; color: #ffffff" colspan="6">Confirmação</th>
			</tr>
			<tr>
				<td align="right" colspan="3">Administrador: </td>
				<td><label><strong>{$dadosLogin.admin}</strong></label></td>
			</tr>
			<tr>
				<td align="right" colspan="3">Confirme sua senha: </td>
				<td><input type="password" name="senha_admin" class="fieldWithoutFocus" onFocus="javascript:formOnFocus(this)" onBlur="javascript:formOnBlur(this)">
			</tr>
			<tr>
				<td align="center" colspan="6"><input type="submit" value="Bloquear" class="botao"/><input type="reset" value="Desmarcar Todas" class="botao" /></td>
			</tr>
			{/if}

			<tr>
				<td colspan=6>&nbsp;</td>
			</tr>

		</table>

		<input type="hidden" name="op" value="bloqueios" />
		<input type="hidden" name="tela" value="bloqueios" />
		<input type="hidden" name="acao" value="bloquear" />

	</form>

</div>
</body>
</html>
