<html>
<head>
	<title></title>
<style>
{literal}
a:link{
	text-decoration:none;
	color:black;
}

a:visited{
	text-decoration:none;
	color:black;
}

a:hover{
	text-decoration:underline;
	color:black;
}
{/literal}
</style>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="suporte_header.html"} <br /><br />

<div align="center">

	<table class="lista" width="35%">
		<tr><th colspan="2">PRODUTO REGISTRADO</th></tr>
		<tr><td align="right" width="32%"><b>Empresa</b></td><td>{$licenca.empresa.nome}</td></tr>
		<tr><td align="right"><b>Telefone</b> </td><td>{$licenca.empresa.telefone}</td></tr>
		<tr><td align="right"><b>Cidade</b></td><td>{$licenca.empresa.cidade}</td></tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td align="right"><b>Licença emitida em</b></td><td>{$licenca.geral.emitida_em}</td></tr>

		<tr><td align="right"><b>Expira em</b> </td><td>{$licenca.geral.expira_em}</td></tr>

		{if $congelamento}
		<tr><td align="center" colspan=2 style="color:red"><b>Licensa expirada. Data de congelamento: {$licenca.geral.congela_em}</b> </td></tr>
		{/if}

	</table>
	<br />
	<table class="lista" width="35%">
		<tr><th>Cobrança/Contrato</th></tr>
		<tr><td align="center"><b>No momento existem {$countBloqueados} <a href="admin-cobranca.php?op=bloqueios">clientes passíveis de <span style="color:red;">bloqueio.</b></span></a></td></tr>
			</td>
		</tr>
	</table>
	<div align="center" style="margin-top:300px; font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif;">
		<table class="lista" width="35%">
			<tr><th>Suporte Técnico Mosman Consultoria</th></tr>
			<tr><td align="center"><a href="http://www.mosman.com.br/">www.mosman.com.br</a></tr></td>
			<tr><td align="center">Plantão: (19) 8171-3434 / 8171-3636</tr></td>
		</table>
	</div>

</div>

</body>
</html>