<html>
<head>
	<title></title>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="suporte_header.html"}

<br><br>
<table class="lista" align="center" width="400" cellspacing=0 cellpadding=1>
	<tr>
		<th>VirtexAdmin NG</th>
	</tr>
	<tr>
		<td>
			<p align="justify"><br>
			&nbsp;&nbsp;&nbsp; &nbsp;<b>S</b>eja bem vindo ao VirtexAdmin NG. A nova versão do gerenciador do seu provedor.<br><br>
			&nbsp; &nbsp; &nbsp;<b>V</b>árias melhorias internas foram implementadas nesta nova versão, focando principalmente melhorias no sistema de cobrança bancária e rotinas administrativas.<br><br>
			&nbsp; &nbsp; &nbsp;<b>E</b>speramos que sua experiência com o VirtexAdmin NG seja a melhor possível. Lembrando que você pode contar com apoio ao uso no horário comercial através dos contatos de MSN <b>monicamosman@hotmail.com</b> e <b>consultoria@mosman.com.br</b>.<br><br>
			</p>
			<p align="center">
			<span style="color: #FF0000"><b>STATUS DA ATUALIZAÇÃO: EM ANDAMENTO.</b><br>(aguarde a conclusão)</span><br><br>
			</p>
		</td>
	</tr>
</table>



</body>
</html>