<html>
<head>
	<title></title>
<style>
{literal}
#cont {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 18px;
	margin-left:50px;
	padding-left: 5px;
}

.int {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 14px;
}
{/literal}
</style>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="cobranca_header.html"}

<br /><br />
<div id="cont" align="center">
	<h3> Bloqueios e Desbloqueios</h3>
	
	<span class="int">Período</span> <select name="123"><option value="123">123</select> <input type="submit" name="123" value="OK" />
	<br /><br />
	
	<table class="lista" border="0" width="400px" cellpadding="0" cellspacing="0">
		<tr>
			<th>Período</th>
			<th>Desbloqueados</th>
			<th>Bloqueados</th>
		</tr>
		<td align="center">oie</td>
		<td align="center">oie</td>
		<td align="center">oie</td>
		
	</table>
	
</div>
</body>
</html>