{include file="relatorio_header.html"}
<script type="text/javascript">
<!--
{literal}
	function exibirConta(id_cliente,id_cliente_produto){
		window.open("admin-clientes.php?op=contrato&tela=contrato&id_cliente="+id_cliente+"&id_cliente_produto="+id_cliente_produto,"conteudo");
	}
	
	function filtro(filtro){
		window.open("admin-cobranca.php?op=relatorios&relatorio=cortesias&filtro="+filtro.value,"conteudo");
		
	}
{/literal}
//-->
</script>
<style>
{literal}
#titu{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
{/literal}
</style>
<br /><br />
<div id="titu" align="right"><label>Filtro:</label>
<select onchange="filtro(this);" class="fieldWithoutFocus">
	<option value="">Todos</option>
{foreach from=$tipoContas item=display key=value}
	<option value="{$value}" {if $filtro == $value}selected='selected'{/if}>{$display}</option>
{/foreach}
</select>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="lista">	
	<tr>
		<th>&nbsp;</th>
		<th>Data</th>
		<th>Produto</th>
		<th>Tipo</th>
		<th>Username</th>
	</tr>
	{foreach from=$contas item=row name=cnts}
	{if ($smarty.foreach.cnts.iteration%2) }{assign var=estilo value='linhai'}{else}{assign var=estilo value='linhap'}{/if}
	<tr class="{$estilo} link" onclick="exibirConta({$row.id_cliente},{$row.id_cliente_produto});">
		<td colspan="4" class="cellInfoLeft" id="titu">{$row.nome_razao}</td>
		<td></td>
	</tr>
	<tr class="{$estilo} link" onclick="exibirConta({$row.id_cliente},{$row.id_cliente_produto});">
		<td class="cellInfoCenter"></td>
		<td class="cellInfoCenter">{$row.data_contratacao}</td>
		<td class="cellInfoCenter">{$row.nome_produto}</td>
		<td class="cellInfoCenter">{$row.tipo}</td>
		<td class="cellInfoCenter">{$row.username}</td>
	</tr>
	{/foreach}
	
</table>
<br /><br />
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="lista">
	<tr>
		<th>Banda Larga</th>
		<th>Discada</th>
		<th>Email</th>
		<th>Hospedagem</th>
		<th>#Total</th>
	</tr>
	<tr class='{cycle values="impar,par"}'>
		<td class="cellInfoCenter">{$resumo.BL|default:0}</td>
		<td class="cellInfoCenter">{$resumo.D|default:0}</td>
		<td class="cellInfoCenter">{$resumo.E|default:0}</td>
		<td class="cellInfoCenter">{$resumo.H|default:0}</td>
		<td class="cellInfoCenter">{$resumo.total|default:0}</td>
	</tr>
</table>
{include file="relatorio_footer.html"}
