<html>
<head>
	<title></title>
<style>
{literal}
#cont {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 16px;
	margin-left:50px;
	padding-left: 5px;
}

#legenda {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:gray;
	font-size: 10px;
}
{/literal}
</style>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="cobranca_header.html"}

<br /><br />
<div id="cont" align="center">
	<h3>Evolução de Contratação de Produtos</h3>
	<br /><br />
	
	<table class="lista" border="0" width="550px" cellpadding="0" cellspacing="0">
		<tr>
			<th rowspan="2">Mês/ano</th>
			<th colspan="3">Banda Larga</th>
			<th colspan="3">Discado</th>
			<th colspan="3">Hospedagem</th>
			<th colspan="3">TOTAIS </th>
		</tr>
		<tr>
			<td align="center"><b>A(+)</td>
			<td align="center"><b>C(-)</td>
			<td align="center"><b>T(=)</td>
			
			<td align="center"><b>A(+)</td>
			<td align="center"><b>C(-)</td>
			<td align="center"><b>T(=)</td>
			
			<td align="center"><b>A(+)</td>
			<td align="center"><b>C(-)</td>
			<td align="center"><b>T(=)</td>
			
			<td align="center"><b>A(+)</td>
			<td align="center"><b>C(-)</td>
			<td align="center"><b>T(=)</b></td>
		</tr>
		<tr>
			<td align="center">Oie</td>
			
			<td align="center">oie</td>
			<td align="center">oie</td>
			<td align="center">oie</td>
			
			<td align="center">oie</td>
			<td align="center">oie</td>
			<td>oie</td>
			
			<td align="center">oie</td>
			<td align="center">oie</td>
			<td align="center">oie</td>
			
			<td align="center">oie</td>
			<td align="center">oie</td>
			<td align="center">oie</td>
		</tr>
	</table>
	<br /><br />
	<div id="legenda">
		A: Adesões<br />
		C: Cancelamentos<br />
		T: Totais
	</div>
</div>
</body>
</html>