<html>
<head>
	<title></title>
<style>
{literal}
#cont {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 16px;
	margin-left:50px;
	padding-left: 5px;
}
{/literal}
</style>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="cobranca_header.html"}

<br /><br />
<div id="cont" align="center">
	Escolha o dia em que foi enviado o email
	<br />
	<select name="123"><option value="123">123</select>
	<input type="submit" value="OK" name="123" />
	
	
	
	
</div>
</body>
</html>