{include file="relatorio_header.html"}
<script type="text/javascript">
<!--
{literal}	
	
	function filtro(filtro){
		window.open("admin-cobranca.php?op=relatorios&relatorio=atrasos&periodo="+filtro.value,"conteudo");
		
	}
{/literal}
//-->
</script>
<style>
{literal}
#titu{
	font-weight:bold;
	font-size:14px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

.vermeio{
	color: #ff0000;
}

.preto{
	color: #000;
}
{/literal}
</style>
<br /><br />
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="lista">
	<tr>
		<th align="center" width="5%" >Data</th>
		<th align="center" width="30%" >Cliente</th>
		<th align="center" width="25%" >Username</th>
		<th align="center" width="30%" >Produto</th>
		<th align="center" width="10%" >Status</th>
	</tr>
	{foreach from=$lista key=p item=m}
	<tr class='{cycle values="linhai,linhap"}'>
		<td align="left">&nbsp; &nbsp; <a href="admin-clientes.php?op=contrato&tela=amortizacao&id_cliente={$m.id_cliente}&id_cliente_produto={$m.id_cliente_produto}&data={$m.data}"><span class="{if $m.status != 'P'}vermeio{else}preto{/if}">{$m.data}</span></a></td>		
		<td class="cellInfoCenter"><a href="admin-clientes.php?op=cadastro&extra_op=ficha&{$m.id_cliente}"><span class="{if $m.status != 'P'}vermeio{else}preto{/if}">{$m.nome_razao}</span></a></td>
		<td class="cellInfoCenter"><a href="admin-clientes.php?op=contrato&tela=amortizacao&id_cliente={$m.id_cliente}&id_cliente_produto={$m.id_cliente_produto}&data={$m.data}"><span class="{if $m.status != 'P'}vermeio{else}preto{/if}">
		
		
		{foreach item=c from=$m.contas}
		{$c.username}<br>
		{/foreach}
		
		
		</span></a></td>
		<td class="cellInfoCenter"><a href="admin-clientes.php?op=contrato&tela=amortizacao&id_cliente={$m.id_cliente}&id_cliente_produto={$m.id_cliente_produto}&data={$m.data}"><span class="{if $m.status != 'P'}vermeio{else}preto{/if}">{$m.descricao}</span></a></td>
		<td class="cellInfoCenter"><a href="admin-clientes.php?op=contrato&tela=amortizacao&id_cliente={$m.id_cliente}&id_cliente_produto={$m.id_cliente_produto}&data={$m.data}"><span class="{if $m.status != 'P'}vermeio{else}preto{/if}">{$m.strstatus}</span></a></td>
	</tr>
	{/foreach}
</table>
<br />
{include file="relatorio_footer.html"}
