<html>
<head>
	<title></title>
<style>
{literal}
#cont {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 16px;
	margin-left:50px;
	padding-left: 5px;
}

#legenda {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:gray;
	font-size: 10px;
}

.verde{
	color:green;
}

.vermelho{
	color:red;
}

#bordinha{
	border-right: 1px solid #000;
}

#bordinha_left{
	border-left: 1px solid #000;
}

.laranja{
	color:orange;
}
{/literal}
</style>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="cobranca_header.html"}

<br /><br />
<div id="cont" align="center">
	<h3>Evolução de Contratação de Produtos</h3>
	<br /><br />
	
	<table class="lista" border="0" width="550px" cellpadding="0" cellspacing="0">
		<tr>
			<th rowspan="2">Mês/ano</th>
			<th colspan="3" id="bordinha_left">Banda Larga</th>
			<th colspan="3" id="bordinha_left">Discado</th>
			<th colspan="3" id="bordinha_left">Hospedagem</th>
			<th colspan="3" id="bordinha_left">TOTAIS </th>
		</tr>
		<tr class="bordinha">
			<td align="center" style="border-bottom:1px solid #000; border-left: 1px solid #000;"><b>A(+)</td>
			<td align="center" style="border-bottom:1px solid #000;"><b>C(-)</td>
			<td align="center" style="border-bottom:1px solid #000;"><b>T(=)</td>
			
			<td align="center" style="border-bottom:1px solid #000; border-left: 1px solid #000;"><b>A(+)</td>
			<td align="center" style="border-bottom:1px solid #000;"><b>C(-)</td>
			<td align="center" style="border-bottom:1px solid #000;"><b>T(=)</td>
			
			<td align="center" style="border-bottom:1px solid #000; border-left: 1px solid #000;"><b>A(+)</td>
			<td align="center" style="border-bottom:1px solid #000;"><b>C(-)</td>
			<td align="center" style="border-bottom:1px solid #000;"><b>T(=)</td>
			
			<td align="center" style="border-bottom:1px solid #000; border-left: 1px solid #000;""><b>A(+)</td>
			<td align="center" style="border-bottom:1px solid #000;"><b>C(-)</td>
			<td align="center" style="border-bottom:1px solid #000;"><b>T(=)</b></td>
		</tr>
		{foreach from=$evolucao key=d item=evolucao}
		<tr>
			<td align="center">{$evolucao.mes}/{$evolucao.ano}</td>
			
			<td align="center" class="verde" id="bordinha_left">{$evolucao.BL.adesoes|default:0}</td>
			<td align="center" class="vermelho">{$evolucao.BL.cancelamentos|default:0}</td>
			<td align="center" class="laranja">{$evolucao.BL.evolucao|default:0}</td>
			
			<td align="center" class="verde" style="border-left:1px solid #000;">{$evolucao.D.adesoes|default:0}</td>
			<td align="center" class="vermelho">{$evolucao.D.cancelamentos|default:0}</td>
			<td align="center" class="laranja">{$evolucao.D.evolucao|default:0}</td>
			
			<td align="center" class="verde" style="border-left:1px solid #000;">{$evolucao.H.adesoes|default:0}</td>
			<td align="center" class="vermelho">{$evolucao.H.cancelamentos|default:0}</td>
			<td align="center" class="laranja">{$evolucao.H.evolucao|default:0}</td>
			
			<td align="center" class="verde" style="border-left:1px solid #000;">{$evolucao.total.adesoes|default:0}</td>
			<td align="center" class="vermelho">{$evolucao.total.cancelamentos|default:0}</td>
			<td align="center" class="laranja">{$evolucao.total.evolucao|default:0}</td>
		</tr>
		{/foreach}
	</table>
	<br /><br />
	<div id="legenda">
		A: Adesões<br />
		C: Cancelamentos<br />
		T: Totais
	</div>
</div>
</body>
</html>