<html>
<head>
	<title></title>
</head>
<body topmargin=2 leftmargin=2 bottommargin=2 rightmargin=2>
{include file="suporte_header.html"}
<style>
{literal}
label {
	font-family: verdana;
	font-size: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
}
label a {
	color: #000000;
	text-decoration: none;
}
label a:hover {
	text-decoration: underline;
}
{/literal}
</style>


<br>
<table width="600" cellpadding=1 cellspacing=1 align="centeR">
</table>
<table width="600" class="lista" cellpadding=0 cellspacing=0 align="center">
{if $banda}
	<tr>
		<th colspan=4>Lista de Contas - Banda: {$infoBanda.banda}{if $infoBanda.id > 0} kbps{/if}</th>
	</tr>
	{foreach name=registros item=c from=$listaContas}
	{if ($smarty.foreach.registros.iteration%2) }{assign var=estilo value='par'}{else}{assign var=estilo value='impar'}{/if}
	<tr>
		<td class='{$estilo}' width=200><a href="admin-clientes.php?op=conta&tela=cadastro&tipo={$c.tipo_conta}&id_cliente={$id_cliente}&id_conta={$c.id_conta}">{$c.username}{if $c.tipo_conta == 'E'}@{$c.dominio}{/if}</a></td>
		<td class="{$estilo}" align="center">{if $c.status == "A"}Ativo{elseif $c.status == "B"}Bloqueado{elseif $c.status == "S"}Suspenso{elseif $c.status == "C"}Cancelado{/if}</td>
		<td class='{$estilo}'>
			<small>UP: {if !$c.upload_kbps}Ilimitado{else}{$c.upload_kbps} kbps{/if} / DOWN: {if !$c.download_kbps}Ilimitado{else}{$c.download_kbps} kbps{/if}</small>
		</td>
		<td class='{$estilo}' align="right">
			[<a href="admin-clientes.php?op=conta&tela=ficha&tipo={$c.tipo_conta}&id_cliente={$c.id_cliente}&id_conta={$c.id_conta}">Ficha Técnica</a>]
		</td>
	</tr>
	{/foreach}


{else}
	<tr>
		<th align="right">Banda</th>
		<th>&nbsp;</th>
		<th align="right">Número de Contas</th>
	</tr>
	{foreach name=registros item=c from=$lista}
	{if ($smarty.foreach.registros.iteration%2) }{assign var=estilo value='par'}{else}{assign var=estilo value='impar'}{/if}
	<tr>
		<td class="{$estilo}" width="100" align="right">&nbsp;<a href="admin-suporte.php?op=relatorios&relatorio=banda&banda={$c.id}">{$c.banda}{if $c.id > 0} kbps{/if}</a></td>
		<td class="{$estilo}">&nbsp;</td>
		<td class="{$estilo}" width="130" align="right">{$c.num_contas}&nbsp;</td>
	</tr>
	{/foreach}
{/if}
</table>



</body>
</html>
