table.titulo {
	border-bottom: solid 1px #004900;
	margin-bottom: 5px;
}

p.titulo {
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-family: verdana;
	font-size: 16px;
	font-weight: normal;
	color: #4F6E9F;
}

.selectMenu {
	font-family: verdana;
	font-size: 10px;
	width: 140px;
	margin-top: 0px;
	padding-top: 0px;
	margin-right: 10px;
	margin-bottom: 2px;

}
