.lista {
	border: solid 1px;
}

.lista th {
	color:#ffffff;
	background: #6B7D9C;
	font-family: verdana;
	font-size: 12px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	font-weight: bold;
	border-bottom: solid 1px #000000;
}


.lista th.cabecalho {
	color:#ffffff;
	background: #3B4D6C;
	font-family: verdana;
	font-size: 12px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	font-weight: bold;
	border-bottom: solid 1px #000000;
}


.lista td {
	font-family: verdana;
	font-size: 10px;
	padding-right: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.lista td.title {
	background: #bFd0aF;

}


.lista a {
	text-decoration: none;
	color: #000000;
}

.lista a:hover {
	text-decoration: underline;
	color: #000000;
}

.lista .impar {
	background: #D1DDEF;
}

.lista .par {
	background: #FFFFFF;
}

.lista .imagem {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 2px;
	margin-left: 0px;

	padding: 0px;
}

.nivel_0 {
	margin-left: 0px;
}

.nivel_1 {
	margin-left: 5px;
}

.nivel_2 {
	margin-left: 30px;
}

.nivel_3 {
	margin-left: 55px;
}

.nivel_4 {
	margin-left: 80px;
}

.nivel_5 {
	margin-left: 105px;
}

.nivel_6 {
	margin-left: 130px;
}

.nivel_7 {
	margin-left: 155px;
}

.nivel_8 {
	margin-left: 180px;
}


.cont_resumo{
	margin: auto;
	padding: 0px;
	width: 710px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.tableResumo {
	border:1px solid #DDDDDD;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 100%;
}

.resumoTitle {
	font-size: 14px;
	text-align: center;
}

.resumoCellTitle, .privCellTitle {	
	background-color: #CDCDCD;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	padding: 2px;
}

.resumoCellSub{	
	background-color: #EFEFEF;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
	padding: 2px;
}

.resumoCellInfo, .resumoCellInfol, .privCellInfo, .privCellInfol {
	padding-right: 10px;
	padding-left: 10px;	
	font-size: 10px;
}

.link {
	cursor: pointer;
	cursor: hand;
}

.privCellLabel {		
	text-align: left;
	padding-right: 10px;
	padding-left: 3px;
	padding-bottom: 3px;
	padding-top: 3px;
	font-size: 12px;
	font-weight: bold;
}

.resumoCellInfol, .privCellInfol {
	text-align: left;
}

.resumoCellInfo, .privCellInfo {
	text-align: center;	
}


#conteiner_priv {
	text-align: center;
	margin: auto;
	padding: 0px;
	border: 1px solid red;
}


#tb_priv {
	margin: auto;
	padding: 0px;
	width: 600px;
	border: 1px solid green;
}
